{strip}
<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&id_cat={$smarty.get.id_cat}
	&action=csv" method="post" enctype="multipart/form-data" id="form">

<div id="tabs" class="flora">
	<ul class="ui-tabs-nav">
		<li class="ui-tabs-selected"><a href="#tab-1"><span>Основные данные</span></a></li>
	</ul>
</div>

<div style="display: block;" class="ui-tabs-panel" id="tab-1">
<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<tr>
		<td align="left" width="20%">&nbsp;&nbsp;Выберите файл CSV:</td>
		<td align="left" width="80%">
			<input type="file" name="file" style="width:100%;">
		</td>
	</tr>
	
</table>
</div>
	
<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<tr class="table_bg_action">
	<td align="left" >
		<input type="submit" name="save" value="Загрузить" style="width:100px">&nbsp;
		{if isset($smarty.get.load)}
		Ок, файл успешно загружен !
		{/if}
	</td>
	</tr>
</table>

</form>
{/strip}