{strip}

<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=save" method="post" enctype="multipart/form-data" name="formMod">

<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<tr class="table_bg">
		<td align="left"  colspan="2">
		&nbsp;&nbsp;Общий курс валют (ВНИМАНИЕ! Автоматически происходит перерасчет во всех позициях каталога)
		</td>
	</tr>

	<tr>
		<td align="left" width="10%">&nbsp;&nbsp;<strong>USD</strong>:</td>
		<td align="left" width="90%">
			<input type="text" name="usd" value="{$usd}" style="width:100px">
		</td>
	</tr>
</table>

<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<tr class="table_bg_action">
	<td align="left" colspan="2">
		<input type="submit" name="save" value="Сохранить" style="width:100px">&nbsp;
	</td>
	</tr>
</table>

</form>

{/strip}