{strip}
    <form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=yandex" method="post" enctype="multipart/form-data" name="form">

        <div id="tabs" class="flora">
            <ul class="ui-tabs-nav">
                <li class="ui-tabs-selected"><a href="#tab-1"><span>Update</span></a></li>
            </ul>
        </div>

        <div style="display: block;" class="ui-tabs-panel" id="tab-1">
            <table width="100%" border="0" cellpadding="10" cellspacing="0" class="form_add">
                <tr>
                    <td align="left" width="40%">Обновить файл списка цен <b>ЯНДЕКС-МАРКЕТА</b>:<br><b>[урл файла]</b>
                        <a target="_blank" href="http://www.parfumoff.ru/tmp/export_yandex.xml">http://www.parfumoff.ru/tmp/export_yandex.xml</a></td>
                    <td align="left" width="60%" >
                        <input type="submit" name="yandex" value="Обновить" style="width:100px">&nbsp;
                        {if $smarty.get.load eq 'ya'}Ок, файл успешно обновлен !{/if}
                    </td>
                </tr>

            </table>
        </div>

        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
            <tr class="table_bg_action">
                <td align="left" >

                </td>
            </tr>
        </table>

    </form>



    <form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=yandex_new" method="post" enctype="multipart/form-data" name="form">
        <div id="tabs" class="flora">
            <ul class="ui-tabs-nav">
                <li class="ui-tabs-selected"><a href="#tab-1"><span>Update NEW</span></a></li>
            </ul>
        </div>
        <div style="display: block;" class="ui-tabs-panel" id="tab-1">
            <table width="100%" border="0" cellpadding="10" cellspacing="0" class="form_add">
                <tr>
                    <td align="left" width="40%">Обновить файл списка цен <b>ЯНДЕКС-МАРКЕТА</b>:<br><b>[урл файла]</b>
                        <a target="_blank" href="http://www.parfumoff.ru/tmp/yml.xml">http://www.parfumoff.ru/tmp/yml.xml</a></td>
                    <td align="left" width="60%" >

                        {if $task.status==1}
                            <span>Идет генерация XML, запущена {$task.date_start|date_format:"%Y-%m-%d %H:%M:%S"}</span>
                        {/if}

                        {if $task.status==2}
                            <span>Идет генерация XML, запущена {$task.date_start|date_format:"%Y-%m-%d %H:%M:%S"}</span>
                        {/if}

                        {if $task.status==0}
                            <input type="submit" name="yandex" value="Обновить" style="width:100px"><br><br>
                            <span>Последнее обновление XML:{$task.date_end|date_format:"%Y-%m-%d %H:%M:%S"}</span>
                        {/if}
                    </td>
                </tr>

            </table>
        </div>

        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
            <tr class="table_bg_action">
                <td align="left" >

                </td>
            </tr>
        </table>

    </form>
{/strip}