{strip}

<form action="
		?main={$smarty.get.main}
		&worker={$smarty.get.module}
		&id_cat={$smarty.get.id_cat}
		&id_foto={$smarty.get.id_foto}
		&id_catalog_data={$smarty.get.id_catalog_data}
		&id={$smarty.get.id}
		&action=galarey_foto" method="post" enctype="multipart/form-data" name="form">


<div id="tabs" class="flora">
	<ul class="ui-tabs-nav">
		<li class="ui-tabs-selected"><a href="#tab-1"><span>Редактирование фото</span></a></li>
	</ul>
</div>

<div style="display: block;" class="ui-tabs-panel" id="tab-1">
<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<tr>
		<td align="left" width="20%"><span style="color:red;">*</span>&nbsp;Выберите файл:</td>
		<td align="left" width="80%">
			<input type="file" name="img" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left" ><span style="color:red;">*</span>&nbsp;Заголовок фотографии (TITLE):</td>
		<td align="left" >
			<input type="text" name="title" style="width:100%" class="form_add" value="{$img_title}">
		</td>
	</tr>
	
	<tr>
		<td align="left" >&nbsp;&nbsp;Описание фотографии (ALT):</td>
		<td align="left" >
			<input type="text" name="alt" style="width:100%" class="form_add" value="{$img_alt}">
		</td>
	</tr>
	
	<tr>
		<td align="left" valign="top">&nbsp;&nbsp;Аннотация:</td>
		<td align="left" >
			<textarea name="anot" style="width:100%" rows=5>{$img_anot}</textarea>
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Индекс сортировки:</td>
		<td align="left">
			<input type="text" name="sort" value="100" style="width:50px" value="{$img_sort}">
		</td>
	</tr>
	
	<tr>
		<td align="left" colspan="2">
			<img src="../images/uploads/catalog/{$smarty.get.id_catalog_data}/small/{$img_name}" width="300" border="1">
		</td>
	</tr>

	<tr>
	<td align="left" colspan="2">
		<input type="submit" name="foto_edit" value="Редактировать">
		<input type="hidden" name="img_name" value="{$img_name}">
	</td>
	</tr>
</table>
</div>

{/strip}