{strip}
<!-- Подключение хидера -->
{include file="modules/catalog/table_header.tpl"}

<table width="100%" border="0" cellpadding="1" cellspacing="1" class="form">
	<!-- Заголовок таблицы данных -->
	<tr align="center" class="table_header">
		<td width="3%" align="center" height="25px"></td>
      		<td width="3%"><div align="center"><b>N</b></div></td>
      		<td width="5%" align="center"><b >MOD</b></td>
		
      		<td width="15%" align="left"><strong>&nbsp;Бренд</strong></td>
      		<td width="3%" align="center"><strong>Пол</strong></td>
		
		<td width="" align="left"><strong>&nbsp;Заголовок</strong></td>
		
		<td width="10%" align="right"><b>Цена</b>&nbsp;</td>
		<td width="3%" align="center"><b>A</b></td>
		<td width="5%" align="center"><b>MAIN</b></td>
		<td width="5%" align="center"><b>SUBS</b></td>
		<td width="5%" align="center"><b>SALE</b></td>
	</tr>
	<!-- Заголовок таблицы данных -->
      
	
<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=order
	&id_cat={$smarty.get.id_cat}" method="post" enctype="multipart/form-data" name="formMod">

	<!-- Вывод списка -->
	{section name=i loop=$item}
	
	<tr style="background-color:{$item[i].bgcolor};">
		<td align="center" height="22px"><input type="checkbox" name="id[]" value="{$item[i].id}"></td>
		<td align="center">{$item[i].n}.</td>
		
		<td align="center" valign="middle">
				<a href="?main={$smarty.get.main}
							   &module={$smarty.get.module}
							   &action=catalog_data_order
							   &id_cat={$smarty.get.id_cat}
							   &id_catalog_data={$item[i].id}">
				<img src="images/nav/next.gif" width="16" height="16" border="0">
				</a>
		</td>
		
		<td align="left">&nbsp;{$item[i].catalog_name}</td>
		<td align="center">{$item[i].pol}</td>
		
		<td align="left">
			<a href="?main={$smarty.get.main}
						   &module={$smarty.get.module}
						   &action={if $item[i].id_catalog==0}edit_spec{else}edit{/if}
						   &id_cat={$smarty.get.id_cat}
						   &id={$item[i].id}"
						   >
			&nbsp;{$item[i].title}</a>
		</td>
		
		<td align="right">{$item[i].price}</td>
		<td align="center"><img src="images/{$item[i].is_block}" width="14" height="14" border="0"></td>
		<td align="center">{$item[i].is_main}</td>
		<td align="center">{$item[i].is_subs}</td>
		<td align="center">{$item[i].is_sale}</td>
	</tr>
	{/section}
	<!-- ------------ -->
</table>

{include file="table_footer.tpl"}
</form>
{/strip}