{strip}


<div id="tabs" class="flora">
	<ul class="ui-tabs-nav">
		<li class="ui-tabs-selected"><a href="#tab-1"><span>Рассылка</span></a></li>
	</ul>
</div>

<div style="display: block;" class="ui-tabs-panel" id="tab-1">

<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=load_email" method="post" enctype="multipart/form-data" name="form">

<table width="500" border="0" cellpadding="10" cellspacing="0" class="form_add">
	<tr>
		<td align="left">
		<label>Выберите файл CSV:</label><input type="file" name="file" style="width:100%;">
		</td>
		
		<td align="right" >
			<input type="submit" name="load" value="Загрузить в базу" style="width:100px">&nbsp;
		</td>
	</tr>
	
</table>
</form>


<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=send_email" method="post" enctype="multipart/form-data" name="form1">

<table width="500" border="0" cellpadding="10" cellspacing="0" class="form_add">
	<tr>
		<td align="left">
		
		Всего в базе: {$all_items}<br />
		Всего разослано: {$all_send}<br />
		Использовали инвайт: {$all_used}<br />
		
		</td>
		<td align="right" >
			<input type="submit" name="load" value="Выслать"  style="color:red;">
		</td>
	</tr>
	
</table>
</form>

</div>
	
<table width="500" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<tr class="table_bg_action">
	<td align="left" >
		
	</td>
	</tr>
</table>


{/strip}