{strip}
<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<form action="
		?main={$smarty.get.main}
		&worker={$smarty.get.module}
		&action=add" 
		method="post" enctype="multipart/form-data" name="form">
	
	<tr>
		<td align="left" width="30%"><span style="color:red;">*</span>&nbsp;Название:</td>
		<td align="left" width="70%">
			<input type="text" name="name" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Контактная информация:</td>
		<td align="left">
			<input type="text" name="contact" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;E-mail:</td>
		<td align="left">
			<input type="text" name="email" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left">&nbsp;&nbsp;Блокировка:</td>
		<td align="left">
			<input type="checkbox" name="is_block">
		</td>
	</tr>
	
	<tr>
	<td align="left" colspan="2">
		<input type="submit" name="add" value="Сохранить" style="width:100px">
	</td>
	</tr>
</table>
</form>
{/strip}