{strip}

<table width="100%" border="0" cellpadding="3" cellspacing="0" class="form_add">
	<tr>
		<td align="left" colspan="2" height="22px" bgcolor="#eef1f7">
		<b>Редактирование шаблона</b>
		</td>
	</tr>
</table>

<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add" style="border-top: #abb6d7 0px solid;">
	<form action="
		?main={$smarty.get.main}
		&worker={$smarty.get.module}
		&action=edit
		&id={$smarty.get.id}" 
		method="post" enctype="multipart/form-data" name="form">
			
	<tr>
		<td align="left" width="30%"><span style="color:red;">*</span>&nbsp;Название:</td>
		<td align="left" width="70%">
			<input type="text" name="name" value="{$name}" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Контактная информация:</td>
		<td align="left">
			<input type="text" name="contact" value="{$contact}" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;E-mail:</td>
		<td align="left">
			<input type="text" name="email" value="{$email}" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left">&nbsp;&nbsp;Блокировка:</td>
		<td align="left">
			<input type="checkbox" name="is_block" {$is_block}>
		</td>
	</tr>
	
	<tr>
	<td align="left" colspan="2">
		<input type="submit" name="add" value="Изменить" style="width:100px">
	</td>
	</tr>
</table>
</form>
{/strip}