{strip}

<!-- Подключение хидера -->

<table width="100%" border="0" cellpadding="1" cellspacing="1" class="form">
<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=order" method="post" enctype="multipart/form-data" name="formMod">
      
	<!-- Заголовок таблицы данных -->
	<tr align="center" class="table_header">
      	<td width="3%" align="center" height="22"></td>
        <td width="3%"><div align="center"><b>N</b></div></td>
        <td width="20%" align="left"><b>&nbsp;Название</b></td>
        <td width="" align="left"><b>&nbsp;Контактная информация</b></td>
        <td width="20%" align="left"><b>&nbsp;E-mail</b></td>
        <td width="3%" align="center">
			<a href="#" 
			onmouseover="return overlib('Активность записи', LEFT);" 
			onmouseout="return nd();" ><img src="images/b_comment.png" width="16" height="16" border="0"></a>
		</td>
	</tr>
	<!-- Заголовок таблицы данных -->
      
	<!-- Вывод списка -->
	{section name=i loop=$item}
	<tr style="background-color:{$item[i].bgcolor};">
		<td align="center" height="25px"><input type="checkbox" name="id[]" value="{$item[i].id}"></nobr></td>
		<td align="center">{$item[i].n}.</td>
		<td align="left">
		&nbsp;<a href="?main={$smarty.get.main}
					   &module={$smarty.get.module}
					   &action=edit
					   &id={$item[i].id}">{$item[i].name}</a>
		
		</td>
		<td align="left">&nbsp;{$item[i].contact}</td>
		<td align="left"><a href="mailto:{$item[i].email}">&nbsp;{$item[i].email}</a></td>
		<td align="center"><img src="images/{$item[i].is_block}" width="14" height="14" border="0"></td>
	</tr>
	{/section}
	<!-- ------------ -->
</table>

<!-- Подключение пагиса -->

<!-- Подключение футера -->
{include file="modules/banner_client/table_footer.tpl"}
</form>
{/strip}