{strip}

<table width="500" border="0" cellpadding="5" cellspacing="1" class="form">

	<!-- Заголовок таблицы данных -->
	<tr align="center" class="table_header">
		<td width="" align="left"><strong>&nbsp;Название</strong></td>
		<td width="10%" align="center"><strong>&nbsp;Приоритет</strong></td>
		<td width="30%" align="center"><strong>&nbsp;Дата посл. обн.</strong></td>
	</tr>
      
	<!-- Вывод списка -->
	{section name=i loop=$item}
	<tr style="background-color:{$item[i].bgcolor};">
		
		<td align="left">
			&nbsp;<a href="?main={$smarty.get.main}
						   &module={$smarty.get.module}
						   &action=edit
						   &id={$item[i].id}"
						   >
			{$item[i].title}</a>
		</td>
		
		<td align="center">&nbsp;{$item[i].priority_val}</td>
		<td align="center">&nbsp;{$item[i].date}</td>
	</tr>
	{/section}
	<!-- ------------ -->
</table>

<!-- Подключение футера -->

{/strip}