{literal}<script type="text/javascript">$(document).ready(function(){$("#header_find").click(function () {$('#table_find').toggle();});});</script>{/literal}

{strip}
<form action="?main={$smarty.get.main}&module={$smarty.get.module}&action=mod&status={$smarty.get.status}" 
		method="post" 
		enctype="multipart/form-data" 
		name="formSearche">

<div style="background-color: #3e726e;width:70px;height:15px;color:#fff;padding-top:2px;" align="center" id="header_find">
Фильтр</div>

<table id="table_find" width="300" border="0" cellpadding="0" cellspacing="6" style="border: 2px #3e726e solid; background-color: #f4edc9;color:#3e726e;display:none;">
	<tr>
		<td width="30%">Поиск по ID:</td>
		<td width="70%">
			<input type="text" name="find_text" value="{$find_text}" style="width:100%;">
		</td>
	</tr>
	
	<tr>
		<td align="right" colspan="2">
			<input type="submit" title="Найти" name="find_go" value="искать" style="width:100px;">
		</td>
	</tr>
</table>
</form>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="form_add"  bgcolor="#fafafa">
	<tr>
		<td height="25" >
			&nbsp;Найдено: [&nbsp;{$all_items}&nbsp;]
		</td>
		
		<td align="right" width="100">
		&nbsp;|&nbsp;
		{if $smarty.session.user_cpage eq '20'}
		<b>20</b>&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=20">20</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '50'}
		<b>50</b>&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=50">50</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '100'}
		<b>100</b>&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=100">100</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '150'}
		<b>150</b>&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=150">150</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '200'}
		<b>200</b>&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=200">200</a>&nbsp;|&nbsp;
		{/if}
		
		
		</td>
	</tr>
</table>

{/strip}