{strip}

<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=cache" method="post" enctype="multipart/form-data" name="formMod">

<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<tr class="table_bg">
		<td align="left"  colspan="2">
		&nbsp;&nbsp;
		</td>
	</tr>

	<tr>
		<td align="left" width="40%">&nbsp;&nbsp;Очистить весь кэш:</td>
		<td align="left" width="60%">
			<input type="submit" name="clear_all" value="Применить" style="width:150px">
		</td>
	</tr>
	<tr>
		<td align="left" width="40%">&nbsp;&nbsp;Очистить только устаревшие записи:</td>
		<td align="left" width="60%">
			<input type="submit" name="clear_old" value="Применить" style="width:150px">
		</td>
	</tr>
	
	<tr>
		<td align="left" width="40%">&nbsp;&nbsp;Обновить облако тегов:</td>
		<td align="left" width="60%">
			<input type="submit" name="update_tag" value="Применить" style="width:150px">
		</td>
	</tr>
</table>

<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<tr class="table_bg_action">
	<td align="left" colspan="2">
		<!--<input type="submit" name="save" value="Сохранить" style="width:100px">&nbsp;-->
	</td>
	</tr>
</table>

</form>

{/strip}