{strip}

<form action="?main={$smarty.get.main}&worker={$smarty.get.module}&action=add" method="post" enctype="multipart/form-data" name="form">

<table width="100%" border="0"  cellpadding="5" cellspacing="0" class="form_add">
			
	<tr>
		<td width="30%" align="left"><span style="color:red;">*</span>&nbsp;Название должности:</td>
		<td width="70%" align="left"><input type="text" name="name" value="" style="width:100%"></td>
	</tr>

	<tr>
	<td align="left" colspan="2">
		<input type="submit" name="add" value="Сохранить" style="width:100px">
	</td>
	</tr>
</table>
</form>
{/strip}