{strip}

<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=order" method="post" enctype="multipart/form-data" name="formMod">

<table width="100%" border="0" cellpadding="1" cellspacing="1" class="form">

      
	<!-- Заголовок таблицы данных -->
	<tr align="center" class="table_header">
      	<td width="3%" align="center" height="22"></td>
        <td width="3%"><div align="center"><b>N</b></div></td>
        <td width="" align="left"><b>&nbsp;Название должности</b></td>
	</tr>
	<!-- Заголовок таблицы данных -->
      
	<!-- Вывод списка -->
	{section name=i loop=$item}
	<tr style="background-color:{$item[i].bgcolor};">
		<td align="center" height="25px"><input type="checkbox" name="id[]" value="{$item[i].id}"></nobr></td>
		<td align="center">{$item[i].n}.</td>
		<td align="left">
			&nbsp;<a href="?main={$smarty.get.main}
						   &module={$smarty.get.module}
						   &action=edit
						   &id={$item[i].id}">{$item[i].name}</a>
		</td>
	</tr>
	{/section}
	<!-- ------------ -->
</table>

<!-- Подключение пагиса -->

<!-- Подключение футера -->
{include file="modules/capacity/table_footer.tpl"}
</form>
{/strip}