{strip}

<!-- Подключение хидера -->

<table width="100%" border="0" cellpadding="1" cellspacing="1" class="form">
<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=order" method="post" enctype="multipart/form-data" name="formMod">
      
	<!-- Заголовок таблицы данных -->
	<tr align="center" class="table_header">
      	<td width="3%" align="center" height="22px"></td>
        <td width="" align="left"><b>&nbsp;Логин</b></td>
        <td width="15%"><b>Роль</b></td>
       
        <td width="3%" align="center">
        	<strong>A</strong>
        </td>

        <td width="10%" align="center">
        	<strong>PUBLIC</strong>
        </td>
        
	</tr>
	<!-- Заголовок таблицы данных -->
      
	<!-- Вывод списка -->
	{section name=j loop=$item_group}
		{include file="modules/users/table_item_group.tpl"}
		{section name=i loop=$item}
			{if $item_group[j].id eq $item[i].id_group}
			{include file="modules/users/table_item.tpl"}
			{/if}
		{/section}
	{/section}
	<!-- ------------ -->
</table>

<!-- Подключение футера -->
{include file="modules/users/table_footer.tpl"}
</form>
{/strip}