{strip}
    <a href="/admin/index.php?main=logistic&module=logistic&action=upload">Выгрузки/Загрузки логистики</a>
    <form action="?main={$smarty.get.main}&worker={$smarty.get.module}&action=order" method="post" enctype="multipart/form-data" name="formMod">
        <table width="100%" border="0" cellpadding="1" cellspacing="1" class="form">
            <!-- Заголовок таблицы данных -->
            <tr class="table_header" style="text-align: center;">
                <td></td>
                <td>№</td>
                <td><strong>Регион</strong></td>
                <td><strong>Город</strong></td>
                <td><strong>Служба доставки</strong></td>
                <td><strong>Тип доставки</strong></td>
                <td><strong>Код пункта самовывоза</strong></td>
            </tr>
            <!-- Вывод списка -->
            {section name=i loop=$items}
            <tr>
                <td><input type="checkbox" name="id[]" value="{$items[i].id}"></td>
                <td>{$items[i].id}</td>
                <td>
                    <a href="?main={$smarty.get.main}&module={$smarty.get.module}&action=view&id={$items[i].id}">{$items[i].name_region}</a>
                </td>
                <td>
                    <a href="?main={$smarty.get.main}&module={$smarty.get.module}&action=view&id={$items[i].id}">{$items[i].name_city}</a>
                </td>
                <td>
                    <a href="?main={$smarty.get.main}&module={$smarty.get.module}&action=view&id={$items[i].id}">{$items[i].courierName}</a>
                </td>
                <td>
                    <a href="?main={$smarty.get.main}&module={$smarty.get.module}&action=view&id={$items[i].id}">{$items[i].delivery_type}</a>
                </td>
                <td>
                    <a href="?main={$smarty.get.main}&module={$smarty.get.module}&action=view&id={$items[i].id}">{$items[i].delivery_code}</a>
                </td>
            </tr>
            {/section}
            <!-- ------------ -->
        </table>
        {include file="table_footer.tpl"}
    </form>
{/strip}