<div id="form-blacklist" style="display:none;" title="Добавление нового каталога">
    <form action="" class="form-blacklist">
        <div class="text">
            <table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
                <tr class="table_bg">
                    <td align="left" colspan="2" class="block_title">
                        &nbsp;&nbsp;Блокировка
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="display: none">
                            <input id="blacklist" name="block" type="radio" value="blacklist">
                            <label for="blacklist">Черный список</label>

                            <input id="problem" style="margin-left: 75px;" id="blacklist" name="block" type="radio" value="problem">
                            <label for="problem">Проблемная модерация</label>
                        </div>
                        <br>
                        <textarea id="status_comment" class="NoEditor" placeholder="Укажите причину" name="status_comment" type="text" style="width:320px;height: 70px;margin-top: 10px;"></textarea>
                        <input name="id_moder"  id="id_moder" type="hidden" value="{$item.id}">

                    </td>
                </tr>
            </table>
        </div>
    </form>
    <input type="button" value="Сохранить" onclick="saveFormBlacklist()"/>&nbsp;&nbsp;
    <input type="button" value="Отмена" onclick="closeForm()"/>
</div>