{strip}

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="form_add">
	<tr>
		<td height="25px" bgcolor="#fafafa">
			&nbsp;Найдено записей: [&nbsp;{$all_items}&nbsp;]
		</td>
		
		<td align="right" bgcolor="#fafafa">Кол. страниц&nbsp;|&nbsp;
		{if $smarty.session.user_cpage eq '20'}
		<b>20</b>&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpag=20">20</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '50'}
		<b>50</b>&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpag=50">50</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '100'}
		<b>100</b>&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpag=100">100</a>&nbsp;|&nbsp;
		{/if}
		</td>
	</tr>
</table>

{/strip}