.map {padding-left:45px;}

.map_header_1{
font-family: Tahoma, Arial;
font-size: 16px;
font-weight: normal;
}
.map_header_1 a:link{color: #330000;text-decoration: underline;}
.map_header_1 a:visited{color: #330000;text-decoration: underline;}
.map_header_1 a:hover{color: #CC6633;text-decoration: underline;}

.map_header_2{
font-family: Tahoma, Arial;
font-size: 11px;
font-weight: normal;
padding-top:5px;
}
.map_header_2 a:link{color: #330000;text-decoration: none;}
.map_header_2 a:visited{color: #330000;text-decoration: none;}
.map_header_2 a:hover{color: #CC6633;text-decoration: none;}

.map_header_3{
font-family: Tahoma, Arial;
font-size: 11px;
font-weight: normal;
padding-left:30px;
padding-top:5px;
}
.map_header_3 a:link{color: #CC6633;text-decoration: none;}
.map_header_3 a:visited{color: #CC6633;text-decoration: none;}
.map_header_3 a:hover{color: #CC6633;text-decoration: none;}