* {margin: 0;padding: 0;}
html {height: 100%}
body {font: 12px/18px Tahoma, Arial, sans-serif;height: 100%;background:white;behavior: url("../scripts/csshover.htc");}
a {color: black;outline: none;text-decoration: underline;}
a:hover {text-decoration: none;}
p {margin: 0 0 18px}
img {border: none;}
input {vertical-align: middle}
#wrapper {width: 977px;*width:975px;margin: 0 auto;min-height: 100%;height: auto !important;height: 100%;position:relative;}


body #obr_zvonok_modal {
    position: fixed;
    left: 50%;
    top: 50%;
}

.discount_card {
	border-top: 1px solid #c6b3d7;
	border-bottom: 1px solid #c6b3d7;
	padding: 20px 0;
	margin: 0 40px 35px 12px;
}
.discount_card .lCol {
	padding-left: 60px;
	width: 230px;
	float: left;
}
.discount_card .rCol {
	margin-left: 285px;
}
.georgia {
	font-family: Georgia;
}
.italic {
	font-style: italic;
}
.discount_card__table td {
	padding-bottom: 10px;
}
#rebrand #logo div {
	left: 0 !important;
	background: url(/images/logo_2014.png) 0 0 no-repeat !important;
}
#phone_head {
	position: absolute;
	border-radius: 10px;
	background: white;
	left: 204px;
	top: 15px;
	z-index: 2;
	padding: 10px 12px 10px 12px;
	height: 98px;
}
#phone_head .line {
	margin-bottom: 10px;
}
#phone_head .line .phone1 {
	font-size: 25px;line-height: 26px;
	font-family: Georgia;font-style: italic;
}

#pochta_head {
	width: 310px;
	padding: 10px;
	background: white url(/images/pochta_head.jpg) 10px 0 no-repeat;
	height: 98px;
	position: absolute;
	left: 440px;
	top: 15px;
	font-size: 14px;
	font-family: Georgia;
	border-radius: 10px;
	z-index: 2;
}
#pochta_head .text {
	padding-left: 125px;
}
#pochta_head .text .yellow {
	background: #fdd61b;
	text-align: center;
	margin-top: 22px;
	margin-bottom: 3px;
}
.fs21 {
	font-size: 22px;
}
#orderWR {margin-left:10px;width:940px}
#orderWR .bread_crumps {width:920px;}
#orderWR .news {width:920px;}
#orderWR .news h2 {margin-right:0 !important;}
#orderWR table {width:920px !important;}

.jak {font-size:11px;position:absolute;right:5px;top:6px;background: url(/images/rebrand/cart.png) no-repeat scroll left -2px transparent; padding-left: 25px;}

#snow {width:1132px;position:absolute;z-index:99999;left:50%;margin-left:-570px}
#snow .snow1 {z-index:9999;background:url(/images/snow/snow-1.png) 0 0 no-repeat;position:absolute;left:0px;top:0px;width:71px;height:199px;}
#snow .snow2 {z-index:9999;background:url(/images/snow/snow-2.png) 0 0 no-repeat;position:absolute;left:90px;top:0px;width:48px;height:140px;}
#snow .snow3 {z-index:9999;background:url(/images/snow/snow-3.png) 0 0 no-repeat;position:absolute;left:290px;top:0px;width:33px;height:59px;}
#snow .snow4 {z-index:9999;background:url(/images/snow/snow-4.png) 0 0 no-repeat;position:absolute;left:320px;top:0px;width:53px;height:117px;}
#snow .snow5 {z-index:9999;background:url(/images/snow/snow-5.png) 0 0 no-repeat;position:absolute;left:600px;top:0px;width:197px;height:145px;}
#snow .snow6 {z-index:9999;background:url(/images/snow/snow-6.png) 0 0 no-repeat;position:absolute;left:1055px;top:0px;width:76px;height:209px;}

#hearts {width:1132px;position:absolute;z-index:99999;left:50%;margin-left:-570px}
#hearts .heart1 {z-index:9999;background:url(/images/heart-1.png) 0 0 no-repeat;position:absolute;left:0px;top:0px;width:81px;height:199px;}
#hearts .heart2 {z-index:9999;background:url(/images/heart-2.png) 0 0 no-repeat;position:absolute;left:90px;top:0px;width:59px;height:140px;}
#hearts .heart3 {z-index:9999;background:url(/images/heart-3.png) 0 0 no-repeat;position:absolute;left:320px;top:0px;width:90px;height:117px;}
#hearts .heart4 {z-index:9999;background:url(/images/heart-4.png) 0 0 no-repeat;position:absolute;left:603px;top:0px;width:100px;height:146px;}
#hearts .heart5 {z-index:9999;background:url(/images/heart-5.png) 0 0 no-repeat;position:absolute;left:765px;top:0px;width:30px;height:32px;}
#hearts .heart6 {z-index:9999;background:url(/images/heart-6.png) 0 0 no-repeat;position:absolute;left:1050px;top:0px;width:101px;height:230px;}

.trash_outer {background:#fcfdbb;border:3px solid #000;margin-left:10px;padding:10px 0 0 0;
-webkit-border-radius: 10px;
border-radius: 10px;margin-bottom:20px;}
#rebrand .trash_outer .header_sb.yellow  {background:none;height:20px;line-height:20px;}
#rebrand .trash_outer .go_to {color:black}
#rebrand .trash_outer .trash {margin-bottom:15px;}

.for_aromat {margin-left:20px;}
.for_aromat ul {list-style:none;margin-bottom:15px}
.for_aromat ul a {text-decoration:none;}
.for_aromat ul a:hover {text-decoration:underline;}

#parf_vipad:hover #vip_p {display:block} 
#parf_vipad:hover {height:40px}
#parf_vipad:hover #ret {text-decoration:none}
#vip_p {display:none;padding:5px 7px 5px 12px;background:black;position:absolute;left:9px;top:20px;width:135px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border:1px solid black}
#vip_p a {line-height:22px}
.none_a a{text-decoration:none}
.zoomme {position:relative;z-index:8;display:block}
#text_ar {font-family:Tahoma}
#fast_kontact {}
.fast_kont_head {width:200px;font-size:13px;}
#fast_kontact .submit_fast {padding:3px 0 !important;width:176px;}
#fast_kontact input , #fast_kontact textarea{width:170px;margin-bottom:5px;background:#B178DF;border:0;padding:3px;color:white;font-size:11px;}
.s_letters .submit_fast {cursor:pointer;}
.poisk-a {padding:5px 2px 4px;margin-top:-1px;font-size:11px}
.georgia_head {font-family:Georgia;font-style:italic;font-weight:normal}
.s_letters .torg_doma {font-family:Tahoma;font-style:normal}
/* Header
-----------------------------------------------------------------------------*/
#head_fon {background-color:#B178DF;height:351px;position:absolute;width:100%;z-index:-100;left:0;top:0;}
#rebrand #head_fon {background-color:#B178DF;height:267px;position:absolute;width:100%;z-index:-100;left:0;top:0;}
#header {height: 392px;position:relative;}
#rebrand #header {height: 290px;position:relative;overflow:hidden;z-index:9999}

#rebrand #header_phone {font-family:Georgia;font-style:italic;font-size:18px;height: 22px;width:160px;position:absolute;left:78px;top:94px;overflow:hidden;}

#rebrand #enter_wrap {position:absolute;left:775px;top:18px;width:200px;height:113px;background:url(/images/rebrand/enter_wrap.png);overflow:hidden;z-index:999}
#rebrand #enter_wrap .inner {padding:9px 15px !important;}
#rebrand #enter_wrap .inner a {font-size:11px;}
#rebrand #enter_wrap .inner form {padding-top:6px;*padding-top:2px}
#rebrand #enter_wrap .inner form input {font-family:Arial;font-size:11px;padding:3px 0 2px 10px;border:1px solid black;width:158px;margin-bottom:5px}
#rebrand #enter_wrap .inner form button {position:relative;top:2px;text-indent:-9999px;float:right;cursor:pointer;background:url(/images/rebrand/ent.png) left top no-repeat;width:68px;height:18px;border:0;color:white;}
#reg_form #reg123 {position:relative;text-indent:-9999px;margin-left:338px;cursor:pointer;background:url(/images/rebrand/ent.png) left top no-repeat;width:68px;height:18px;border:0;color:white}

#rebrand #enter_wrap1 {position:absolute;left:801px;top:5px;width:173px;height:40px;background:url(/images/rebrand/user_top.png);overflow:hidden;z-index:999}
#rebrand #enter_wrap1 .inner {padding:4px 14px;font-size:11px;line-height:16px}

#rebrand #brands {z-index:999;position:absolute;top:222px;left:10px;width:964px;height:68px;overflow:hidden;background:url(/images/rebrand/brands.png) left top no-repeat;}
#rebrand #brands .s_letters {padding-left:30px}
#rebrand #brands .s_form2 {margin:10px 0 0 100px;}
#rebrand #brands .s_form2 .find {padding:1px 5px 1px;}

#rebrand .privelegii {list-style:inside;margin-left:8px;font-size:11px;line-height:16px;margin-top:2px}
#rebrand .purple {color:#B178DF}

#rebrand #top_menu {z-index:9999;width:964px;height:62px;position:absolute;top:145px;left:10px;background:url(/images/rebrand/top_menu_bg.png) left top no-repeat;}
#rebrand #top_menu ul {padding-left:10px;margin-right:-20px;margin-left:2px;padding-top:21px;}
#rebrand #top_menu ul li {border:0;padding:0 21px;line-height:18px;}
#rebrand #top_menu ul li a {color:white;}

#rebrand .personal_cabinet {padding:30px 0px 18px;overflow:hidden;}
#rebrand  .header_sb {font-family:Georgia;font-style:italic;margin:0 auto;text-align:center;width:172px;height:40px;line-height:40px;overflow:hidden;font-size:18px;font-weight:normal;}
#rebrand  .header_sb1 {font-family:Georgia;font-style:italic;margin:0 auto 8px;overflow:hidden;font-size:18px;font-weight:normal;line-height:24px;padding-left:2px;}
#rebrand  .header_sb.white {background:url(/images/rebrand/header_sb.png) no-repeat left top}
#rebrand  .header_sb.yellow {background:url(/images/rebrand/header_sb.png) no-repeat left bottom}
#rebrand .personal_cabinet .cabinet_cont {margin:15px 0 15px 18px;font-size:11px}
#rebrand .personal_cabinet .cabinet_cont a {color:white;font-size:12px;line-height:20px}

#rebrand .r_menu {padding-left:12px;padding-right:12px;background:#b078df;padding-top:0}
#rebrand .r_menu .all {font-size:12px;color:white;display:block;margin-top:10px;margin-left:18px;margin-bottom:15px}
#rebrand .r_menu_list {margin-left:18px}

#rebrand #reg_form {overflow:hidden;padding-left:27px}
#rebrand #reg_form label.lab {float:left;width:130px}
#rebrand #reg_form input.inp {width:273px;border:1px solid black;font-size:12px;padding:1px 0 1px 2px;}
#rebrand #reg_form input.inp1 {width:363px;border:1px solid black;font-size:12px;padding:1px 0 1px 2px;}
#rebrand #reg_form input[type=file] {width:277px;font-size:11px;padding:1px 0 1px 2px;}
#rebrand #reg_form label.inf {display:block;float:left;text-align:left;width:229px;}
#rebrand #reg_form  #inf {margin-left:127px;float:left;position:relative;top:2px;margin-right:5px;_margin-left:115px;_top:-2px}
#rebrand #reg_form input[type=checkbox] {width:20px;margin-left:20px} 
#rebrand #reg_form select {width:277px;border:1px solid black;font-size:11px;padding:1px 0 1px 2px;}
#rebrand #reg_form select#day,#rebrand #reg_form select#month {width:87px;margin-right:3px}
#rebrand #reg_form select#year {width:89px;}
#rebrand #reg_form #reg1 {cursor:pointer;border:0;text-indent:-9999px;background:url(/images/rebrand/ok.png);width:85px;height:18px;margin-left:321px}
#rebrand #reg_form #reg3 {cursor:pointer;border:0;text-indent:-9999px;background:url(/images/rebrand/ok1.png);width:85px;height:18px;margin-left:321px;margin-top:5px}
#rebrand #reg_form #reg2 {cursor:pointer;border:0;text-indent:-9999px;background:url(/images/rebrand/gotovo.png);width:68px;height:18px;margin-left:47px;_margin-left:30px}
#rebrand #reg_form .fs-11 {font-size:11px;display:block;margin-left:130px;width:250px;}


#rebrand .trash {color:black;margin-top:8px;height:auto;margin-bottom:20px}
#rebrand .trash span {text-decoration:none !important}
#rebrand .go_to {margin-top:8px;font-size:12px}
#rebrand #fast_kontact {margin-top:12px;padding-left:15px;overflow:hidden;position:relative}
#rebrand #fast_kontact input, #rebrand #fast_kontact textarea {
background:#d8bcef;border:0 none;color:black;font-size:11px;margin-bottom:5px;padding:3px;width:163px;}
#rebrand #fast_kontact button {margin-top:3px;text-indent:-9999px;width:85px;height:18px;overflow:hidden;float:right;background:url(/images/rebrand/btn_go.png);border:0;margin-right:19px}

#rebrand .main_text h1 {font-size:18px;font-weight:normal;margin-bottom:20px;line-height:18px}
#rebrand .main_text .spaser {height:6px}

#rebrand #example {margin-left:12px;overflow:hidden;height:46px;*zoom:1;}
#rebrand .ui-tabs-nav {margin-right:-36px;zoom:1;overflow:hidden;height:49px}
#rebrand .ui-tabs-nav li {border-bottom:3px solid black;overflow:hidden;position:relative}
#rebrand .ui-tabs-nav li.first_ {font-family:Georgia;font-style:italic;margin-right:0;background:none !important;font-size:18px;padding:13px 11px 12px 10px;}
#rebrand .ui-tabs-nav li.first_:hover {border-bottom:3px solid black;}
#rebrand .ui-tabs-nav li a {background:#fcfcba;padding:0px 16px;line-height:40px;display:block;margin:0 0 0 12px;border-top:3px solid black;float:left;_display:inline;
max-width:210px;height:40px;overflow:hidden}
#rebrand .ui-tabs-nav li a.abs,#rebrand .ui-tabs-nav li a.abs:hover {position:absolute;left:0;top:0;width:19px;height:40px;padding:0;border:0;margin:0;background:none repeat scroll 0 0 transparent !important}
#rebrand .ui-tabs-nav li a.abs1,#rebrand .ui-tabs-nav li a.abs1:hover {position:absolute;left:90%;top:0;width:19px;height:40px;padding:0;border:0;margin:0;background:none repeat scroll 0 0 transparent !important}
#rebrand .ui-tabs-nav li div {width:12px;float:left;height:43px;background:#fff url(/images/rebrand/tabs_bg.png) no-repeat left -142px;}
#rebrand .ui-tabs-nav li {font-family:Georgia;font-style:italic;background:#fcfcba url(/images/rebrand/tabs_bg.png) no-repeat left -94px;}
#rebrand .ui-tabs-nav li.sep {background:none !important;width:12px;height:43px;border-bottom:3px solid black  !important;}
#rebrand .ui-tabs-nav li.fix_ie {display:none;_display:block;_background:none;_width:0;}
#rebrand .ui-tabs-nav li.sep:hover {background:none !important;border-bottom:3px solid black  !important;}
#rebrand .ui-tabs-nav li.active_price a, #rebrand .ui-tabs-nav li:hover a {font-weight:normal;background:white}
#rebrand .ui-tabs-nav li.active_price, #rebrand .ui-tabs-nav li:hover {border-bottom:3px solid white;background:#fff url(/images/rebrand/tabs_bg.png) no-repeat left top;}
#rebrand .ui-tabs-nav li.active_price div, #rebrand .ui-tabs-nav li:hover div {height:46px;background:#fff url(/images/rebrand/tabs_bg.png) no-repeat left -47px;}


.fl_left {float:left;}
.fl_right {float:right;}

#logo {width:414px;height:324px;background:url(/images/default/logo.jpg);float:left;position:relative;}
#logo div {position:absolute;width:240px;height:70px;left:180px;top:35px;}
#logo div a{display:block;height:300px;left:-166px;position:relative;text-indent:-5000px;top:-30px;width:383px;}
#rebrand #logo {width:414px;height:266px;background:url(/images/rebrand/left_bg.jpg);float:left;position:relative;}
#rebrand #logo div {position:absolute;width:228px;height:79px;left:36px;top:30px;background:url(/images/rebrand/logo_rebrand.png) no-repeat;z-index:9999999}
#rebrand #logo div a{display:block;height:79px;text-indent:-5000px;top:0;left:0;width:228px;}

#right_bg {width:561px;height:334px;background:url(/images/default/right_bg.jpg);float:left;position:relative;}
#rebrand #right_bg {width:561px;height:266px;background:url(/images/rebrand/right_bg.jpg);float:left;position:relative;}

#top_right_menu {position:absolute;background:url(/images/default/top_right_menu.png);height:30px;position:absolute;right:2px;top:4px;width:146px;}
#top_right_menu li{float:left;list-style-type:none;padding-right:10px;padding-left:10px;border-right:2px solid #fff;line-height:12px;}
#top_right_menu li a {color:#FFFFFF;font-size:12px;text-decoration:none;}
#top_right_menu li.last{border:0px;padding-right:0;}
#top_right_menu ul {margin-top:9px;}
#top_menu {position:absolute;background:url(/images/default/menu_bg.png);height:62px;position:absolute;right:-4px;*right:-5px;top:230px;width:579px;}
#top_menu ul {margin-top:0;padding-left:35px;padding-top:25px;}
#top_menu li {color:white;float:left;list-style-type:none;padding-right:15px;padding-left:15px;border-right:2px solid #ddd;line-height:12px;}
#top_menu li.last{border:0px;}
#top_menu li a {color:white;}

.catalog_h1 {font-family:Georgia;font-style:italic;margin-bottom:8px;overflow:hidden;line-height:30px;font-size:25px;font-weight:normal;padding-left:30px;}
.catalog_h1 span {color:#b078df}

#rebrand .cart_rebrand {overflow:hidden;margin-left:30px;padding-bottom:30px;}
#rebrand .cart_rebrand .img {width:230px;float:left;}
#rebrand .cart_rebrand .img img{width:230px;}
#rebrand .cart_rebrand .desc_rebrand {margin-left:10px;width:460px;float:left;}
#rebrand .cart_rebrand .desc_rebrand .fav {float:left;width:30px;height:21px;cursor:pointer;position:relative;top:4px;}
#rebrand .cart_rebrand .desc_rebrand .fav, #rebrand .cart_rebrand .desc_rebrand .fav.active:hover {background:url(/images/rebrand/fav.png) no-repeat left top;}
#rebrand .cart_rebrand .desc_rebrand .fav:hover, #rebrand .cart_rebrand .desc_rebrand .fav.active {background:url(/images/rebrand/fav.png) no-repeat left bottom;}
#rebrand .cart_rebrand .desc_rebrand h1 {font-family:Georgia;font-style:italic;margin-bottom:8px;overflow:hidden;line-height:30px;font-size:25px;font-weight:normal;float:left;}
#rebrand .cart_rebrand .desc_rebrand h1 span {color:#b078df}
#rebrand .cart_rebrand .desc_rebrand .n1 {font-size:11px;}
#rebrand .cart_rebrand .desc_rebrand .notes {position:relative;margin-top:13px;margin-bottom:18px;padding-left:30px;background:url(/images/rebrand/notes.png) left 2px no-repeat;font-size:11px;margin-left:0}
#rebrand .cart_rebrand .desc_rebrand p {font-size:12px;line-height:19px}
#rebrand .cart_rebrand .desc_rebrand .social_buttons {_margin-bottom:30px}
#rebrand .rebrand_cart_t {margin-bottom:18px;border-top:1px solid #c6b3d7;margin-left:30px;width:695px}
#rebrand .rebrand_cart_t td {padding:6px 0 8px;border-bottom:1px solid #c6b3d7;padding-left:15px;font-size:11px}
#rebrand .rebrand_cart_t td.cart a{padding-left:25px;background:url(/images/rebrand/cart.png) left -2px no-repeat;display:block}
#rebrand .warn {margin:0 15px 32px 35px;font-size:11px;padding-left:45px;background:url(/images/rebrand/warn.png) no-repeat left 4px;}
#rebrand .inf {margin:0 15px 32px 35px;font-size:11px;padding-left:45px;background:url(/images/rebrand/inf.png) no-repeat left 4px;}
#rebrand .comments_wrap .comments {background:none;width:712px;}
#rebrand .comments_wrap .comments .comment {width:712px}
#rebrand .add_comment {width:710px;padding-left:10px}
#rebrand .comments_wrap .comments .comment .comment_text {width:515px}
#rebrand .comments_wrap {margin-left:10px;width:auto;margin-right:10px}

#rebrand .user_sb {position:relative;margin-top:20px;margin:20px -12px;padding:10px 10px 10px 24px;background:black}
#rebrand .user_sb hr {border:0;border-bottom:1px solid white;margin:0 -10px 10px -24px;font-size:0;line-height:0;}
#rebrand .user_sb a {color:white;display:block;margin-bottom:10px;padding-left:32px}
#rebrand .user_sb a:hover, #rebrand .user_sb a.active {color:#b078df;text-decoration:none}
#rebrand .raspr {background:url(/images/salee1.png) no-repeat left -3px;} 
#rebrand .skidki {background:url(/images/rebrand/user_icons.png) no-repeat left 3px;}
#rebrand .izbr {background:url(/images/rebrand/user_icons.png) no-repeat left -28px;}
#rebrand .history  {background:url(/images/rebrand/user_icons.png) no-repeat left -57px;}
#rebrand .comments {background:url(/images/rebrand/user_icons.png) no-repeat left -85px;}
#rebrand .wish {background:url(/images/rebrand/user_icons.png) no-repeat left -113px;}
#rebrand .polz {background:url(/images/rebrand/user_icons.png) no-repeat left -143px;}
#rebrand .pod {background:url(/images/rebrand/user_icons.png) no-repeat left -186px;}
#rebrand .set {background:url(/images/rebrand/user_icons.png) no-repeat left -231px;}
#rebrand .ex {background:url(/images/rebrand/user_icons.png) no-repeat left -262px;}

#rebrand .comment_user_wrap {width:700px;zoom:1;position:relative;padding:18px 0;_padding:18px 0 0;margin-left:27px;border-bottom:1px solid black;overflow:hidden}
#rebrand .comment_user_wrap.ie6 {_padding:18px 0 8px;}
#rebrand .comment_user_wrap .img_wr {width:110px;float:left;}
#rebrand .comment_user_wrap .desc_wr {width:580px;float:left;}
#rebrand .comment_user_wrap .desc_wr .title {color:black;font-size:18px;}
#rebrand .comment_user_wrap .desc_wr .title1  {color:#B178DF;font-size:18px;}
#rebrand .comment_user_wrap .desc_wr .text {margin-top:5px}
#rebrand .comment_user_wrap .desc_wr .text p {margin-bottom:11px}
#rebrand .comment_user_wrap .desc_wr .text .genre {font-size:11px;display:block;margin-bottom:12px}
#rebrand .comment_user_wrap .desc_wr .text .genre1 {font-size:11px;display:block;margin-bottom:4px;position:relative;top:-6px;}
#rebrand .comment_user_wrap .desc_wr .text .new_price {font-size:11px;position:relative;top:-6px}
#rebrand .comment_user_wrap .desc_wr .text .new_price span {font-size:18px;color:#B178DF}
#rebrand .comment_user_wrap .desc_wr .text .notes {position:relative;top:-5px;margin-bottom:5px;padding-left:30px;background:url(/images/rebrand/notes.png) left 2px no-repeat;font-size:11px;margin-left:0}

#rebrand .comment_user_wrap .desc_wr .text .undercomment {font-size:11px}
#rebrand .comment_user_wrap .desc_wr .text .undercomment .date {float:left;display:block;padding-right:30px;}
#rebrand .comment_user_wrap .desc_wr .text .undercomment .view {float:left;display:block;padding-left:25px;background:url(/images/rebrand/view.png) no-repeat left 4px;} 
#rebrand .comment_user_wrap .desc_wr .text .undercomment .korzi {float:left;display:block;padding-left:25px;background:url(/images/rebrand/cart.png) no-repeat left -3px;margin-right:20px} 
#rebrand .comment_user_wrap .desc_wr .text .undercomment .del {float:left;display:block;padding-left:25px;background:url(/images/rebrand/delete.png) no-repeat left 1px;} 
#rebrand .comment_user_wrap .desc_wr .text .undercomment .done {float:left;display:block;padding-left:25px;background:url(/images/rebrand/done.png) no-repeat left -2px;margin-right:20px} 
#rebrand .comment_user_wrap .desc_wr .text .undercomment .otziv {float:left;display:block;padding-left:25px;background:url(/images/rebrand/otziv.png) no-repeat left 4px;}
#rebrand .comment_user_wrap .desc_wr .text .undercomment .more {position:relative;top:-1px;float:left;display:block;_display:inline;width:85px;height:18px;text-indent:-9999px;margin-left:40px;background:url(/images/rebrand/more.png) no-repeat left 0px;}
#rebrand .comment_user_wrap .desc_wr .text .undercomment .izbr {float:left;display:block;padding-left:25px;background:url(/images/rebrand/izbr.png) no-repeat left bottom;height:21px;line-height:21px}
#rebrand .comment_user_wrap .desc_wr .text .undercomment .izbr:hover, #rebrand .comment_user_wrap .desc_wr .text .undercomment .izbr.active {background:url(/images/rebrand/izbr.png) no-repeat left top;}
#rebrand .comment_user_wrap .desc_wr .text .undercomment .izbr.active:hover {background:url(/images/rebrand/izbr.png) no-repeat left bottom;}


.search {

background-image:url(http://parfumoff.ru/images/default/img_10.gif);
background-repeat:repeat-x;
font-size:11px;
height:68px;
position:absolute;
top:324px;
left:0;
width:987px;
z-index:999;
}
.s_r {
float:right;
}
.s_l {
float:left;
}
.s_letters {

float:left;
font-size:18px;
padding-left:14px;
padding-top:10px;
text-align:left;
*padding-top:17px;
}
.s_letters a {font-family:Georgia;font-style:italic;
color:#000000;
padding:5px 2px 3px 2px;
text-decoration:none;
}
.s_letters a:hover, .s_letters a.active{
color:#b077e0;
text-decoration:none;
}
.s_letters span {
display:block;
margin-bottom:1px;
margin-top:1px;
}
.s_letters span a {
line-height:14px;
margin-top:-1px;
font-size:11px;
}
.s_letters span a:hover {
font-size:11px;
color:black;
}
.clear{
clear:both;
}
.s_form2 {
float:left;
font-size:11px;
margin:10px 0 0 95px;
padding:0 0 2px 20px;
}
input.find {
margin-right:8px;
width:130px;
border:1px solid #080806;
color:black;
line-height:14px;
height:15px;
padding:2px 5px 0 5px;
font-size:11px;
}
.korzina_table_but {
background-color:#B178DF;
color:#FFFFFF;
width:63px;
height:19px;
}
.korzina_table_but1 {
background:url(/images/default/order.png);
color:#FFFFFF;
width:118px;
border:0;
height:19px;
}
/* Middle
-----------------------------------------------------------------------------*/
#middle {width: 100%;padding: 0 0 570px;height: 1%;*overflow:none;}
#rebrand #middle {position:relative}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
}
#content {
padding-left:12px;
width:745px;
position:relative;
z-index:1;
}
.bread_crumps {
border-bottom:1px solid black;
font-size:11px;
margin-left:30px;
margin-top:1px;
width:695px;
z-index:20;
}
.bread_crumps a{
color:black;
text-decoration:none;
font-size:11px;
}


/* content tabs start */

/* content tabs end */


/* Slideshow start */
#slide_show {
position:relative;
width:740px;
height:195px;
*height:220px;
overflow:hidden;
display:table;
margin-left:4px;
margin-bottom:11px;
}
.slide_img {
position:absolute;
left:0px;
top:22px;
height:195px;
width:465px;
z-index:3;
overflow:hidden;
}
.slide_img  img{
margin-top:3px;
}
.left_img_bg {
width:22px;
height:195px;
display:block;
background:url(/images/default/left_img_bg.png);
position:absolute;
left:0;top:0;
}
.right_img_bg {
width:22px;
height:195px;
display:block;
background:url(/images/default/right_img_bg.png);
position:absolute;
right:0;top:0;
*right:-1px;
}
.bottom_img_bg {
display:block;
background:black;
bottom:0;
height:3px;
position:absolute;
right:0;
width:443px;
font-size:3px;
*right:-1px;
*bottom:-2px;
}
.slide_desc {
position:absolute;
right:3px;
top:45px;
width:405px;
height:40px;
z-index:4;
}
.slide_desc .active{
background:#d4a1fe;
}
.slide_desc .active .desc span {
color:white;
}
.desc_item {
cursor:pointer;
text-decoration:none;
line-height:23px;
color:black;
height:23px;
display:block;
margin-bottom:3px;
}
.desc_price {
background:#fcfdbb;
display:block;
color:black;
display:none;
font-weight:bold;
text-align:center;
width:130px;
float:left;
}
.desc {
float:right;
padding-left:35px;
padding-right:15px;
width:225px;
}
.desc span {
color:#ad79de;
float:left;
padding-right:8px;
}
.r-star-shape{
position:relative;
overflow:hidden;
padding:22px 0;
margin-top:-17px;
}
.r-star-shape .content{
border-left:3px solid black;
border-right:3px solid black;
}
.r-star-shape .content{
padding-bottom:6px;
height:167px;
}
.r-star-shape .cn{
position:absolute;
width:22px;
height:22px;
left:-22px;
}
.r-star-shape .cn.tr, .r-star-shape .cn.br {
margin-left:100%;
}
.r-star-shape .cn.bl, .r-star-shape .cn.br {
top:auto;
}
.r-star-shape .cn{
background:url(/images/default/r-star2.png);
}
.r-star-shape .cn.tl, .r-star-shape .cn.bl {
width:100%;
background:url(/images/default/r-star2_1.png);
} 
.r-star-shape .cn.tl {
background:url(/images/default/r-star2_1.png) left bottom;
height:22px;
}
.r-star-shape .cn.tr {
background:url(/images/default/r-star2.png) left bottom;
height:22px;
} 
/* Slideshow end */

.fast_kont_head {margin:-10px 10px 5px;font-weight:normal;}
/* Sidebar Right

-----------------------------------------------------------------------------*/
.sr {float: left;margin-right: -3px;width: 198px;position: relative;background-color:#fff;z-index:1;overflow:hidden;}
#rebrand .sr {top:-15px;bottom:12px;overflow:inherit;background: #fff;}
#rebrand .bottom_sb {position:absolute;top:-12px;left:775px;*left:774px;width:198px;background:#fff;height:12px}


.phone {
background-color:#D3A1FD;
color:#FFFFFF;
font-size:12px;
height:225px;
text-align:left;
position:relative;
}
@-moz-document url-prefix(){
.phone{height:235px;}
}
.phone img {
margin-left:10px;
margin-top:9px;
}
.r_text {
font-size:11px;
font-weight:normal;
padding-left:20px;
padding-top:4px;
line-height:15px;
}
#korzina_kol, #korzina_sum {font-size:18px;line-height:18px;font-weight:normal;text-decoration:underline;font-style:italic;font-family:Georgia;}
.trash {
color:#FFFFFF;
font-size:18px;
font-weight:bold;
height:135px;
text-align:left;
position:relative;
}
.go_to {
margin-top:17px;
display:block;
}
.trash .hr{
height:1px !important;
border-top:1px solid white;
line-height:1px !important;
margin:2px 25px 0 20px;
}
.trash img {
margin-left:7px;
margin-top:8px;
}
.korz {
left:53px;
position:absolute;
top:11px;
font-weight:normal;
font-size:18px;
}
.r_text span {
font-size:18px;
font-weight:bold;
}
.r_text a {
color:#FFFFFF;
}
.r_menu {
overflow-y:auto;
font-size:11px;
padding-bottom:10px;
padding-left:20px;
padding-top:10px;
position:relative;
}
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
}
.jScrollPaneDrag {
	position: absolute;
	cursor: pointer;
	overflow: hidden;
	background:url(/images/default/drag.gif) no-repeat left top;
	height:42px
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background:url(/images/default/but.gif) no-repeat center top;
	height:18px;
}
a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background:url(/images/default/but.gif) no-repeat center top;
	height:18px;
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}
.r_menu a {
color:#000000;
text-decoration:underline;
}
.r_menu_head {
font-size:18px;
margin-bottom:8px;
}
.r_menu_list {
font-size:11px;
}
.r_menu_list a:hover {text-decoration:underline}
.r_menu_list a {
color:#000000;
text-decoration:none;
}

.footer-r {float:left;background:black;height:73px;width:700px;margin-left:13px;}
.footer-r ul {list-style:none;padding-left:5px}
.footer-r ul li {float:left;line-height:73px;height:73px;padding:0 10px}
.footer-r ul li a {color:#fff;}
/* Footer
-----------------------------------------------------------------------------*/
#footer {width: 100%;margin: -570px auto 0;height: 570px;background: #fff;	z-index:5;overflow:hidden;zoom:1;position:relative}
.footer_inner {margin:0 auto;width:981px;height:570px;z-index:2;position:relative;zoom:1;position:relative}
.f_text {float:left;font-size:11px;line-height:19px;padding-top:6px;padding-left:5px;}
.web_paint {
float:left;
height:52px;
margin-left:50px;
padding-top:10px;
width:185px;
font-size:11px;
display:block;
text-decoration:none;
background:url(/images/default/web_paint.png) left bottom no-repeat;
}

.footer_cols {overflow:hidden;border-top:1px solid #000;border-bottom:1px solid #000;padding:22px 0}
.footer_cols .footer_col {width:180px;margin-right:15px;float:left;}
.footer_cols .footer_col h3 {font-size:18px;font-family:Georgia;font-style:italic;font-weight:normal;margin-bottom:12px;}
.footer_cols .footer_col ul {list-style:none;padding-left:5px;}
.footer_cols .footer_col ul li {margin-bottom:8px;}
.footer_cols .footer_col ul li a {text-decoration:none;}
.footer_cols .footer_col ul li a:hover {text-decoration:underline;}
.footer_cols .footer_col ul li a img {margin-right:6px;position:relative;top:1px}

.live_int {position:absolute;left:870px;top:31px}
.footer_a {
color:#FFFFFF;
font-size:11px;
padding-left:10px;
padding-top:5px;
}
.footer_a a {
color:#FFFFFF;
text-decoration:underline;
}
.flora {
height:40px;
margin-bottom:30px;s
width:100%;
}
.ui-tabs-nav {
list-style:none;
}
.desc_img1 {float:left;
margin-right:20px;
overflow:hidden;
width:230px;}
.ui-tabs-nav li{
float:left;
background:#d4a1fe;

}
.ui-tabs-nav li a{
padding:11px 36px;
color:black;
text-decoration:none;
display:block;
width:auto;
zoom:1;
*display:inline;
}
.ui-tabs-nav li a:hover{
background:#fcfdbb;
}
.ui-tabs-nav li.first_{
font-size:18px;
padding:13px 5px 13px 15px;
background:none !important;
}
.cat_wrap {
width:745px;
margin-top:15px;
display:block;
}
.second, .third, .fourth {
display:none;
}
.active_price a {
background:#fcfdbb;
font-weight:bold;
}
.cat_item {
width:370px;
float:left;
height:175px;
}
.cat_item1 {
width:243px;
float:left;
height:90px;
margin-top:30px;
margin-bottom:15px;

}
.img_item1 {
width:85px;
height:130px;
overflow:hidden;
float:left;
text-align:left;
}
.v_one_price1 {
margin-left:5px;
color:#B178DF;
width:93px;
float:left;
font-size:15px;
font-weight:bold;
padding-right:20px;
padding-top:3px;
}
.v_one_name1 {
float:left;
margin-bottom:25px;
margin-left:5px;
width:110px;
}
.img_item {
margin-right:22px;
width:130px;
float:left;
/*margin-bottom:315px;*/
margin-top:15px;
}
.v_one_name a , .v_one_name1 a{
color:black;
font-size:18px;
text-decoration:none;
width:150px;
font-style:italic;font-family:Georgia
}
.v_one_name a:hover , .v_one_name1 a:hover{
text-decoration:underline;
}
.v_one_name a b , .v_one_name1 a b{
color:#B178DF;
font-size:18px;
font-weight:normal;
}
.v_one_text {
font-size:11px;
line-height:14px;
padding-bottom:5px;
padding-top:5px;
width:150px;
float:left;
padding-right:20px;
}
.v_one_price {
color:#B178DF;
width:105px;
float:left;
font-size:18px;
font-family:Georgia;
padding-right:5px;
padding-top:3px;
font-style:italic
}
.v_one_by {
background-repeat:no-repeat;
float:left;
height:24px;
width:88px;
}
.v_one_by a {
background:url(/images/default/img1_29.gif) no-repeat top center;
display:block;
color:#FFFFFF;
font-size:11px;
height:24px;
line-height:23px;
padding-left:16px;
text-decoration:none;
padding-right:16px;
}
.v_one_by a:hover {
background:url(/images/default/img1_29.gif) no-repeat bottom center;
}
.hello {
width:745px;
margin-top:20px;
display:table;
}
.r_menu ul {list-style:none}
.hello .banner {
float:left;
padding-left:20px;
margin-right:40px;
}
h3 {
font-size:16px;
font-weight:bold;
margin-bottom:18px;
}
.hello .text {
padding-right:25px;
}
.desc_wrap {
width:550px;
float:left;
padding-top:30px;
margin-left:25px;
*margin-left:10px;
}
.some_aromats {
width:130px;
float:right;
background:#fefee4;
margin-top:-20px;
padding-left:18px;
padding-top:15px;
padding-bottom:10000px;
margin-bottom:-10000px;
z-index:0;
}
.desc_img {
float:left;
height:220px;
overflow:hidden;
width:230px;
}
.desc_title h1 {
font-weight:normal;
font-size:22px;
color:#B178DF;
line-height:30px;
}
.desc_title b {
font-weight:normal;
font-size:26px;
color:black;
}
.bold {font-weight:bold;}
.desc_desc p span{
color:#b27adf;
}
.desc_desc {
font-size:11px;
padding-left:230px;
}
.desc_desc p a {
color:black;
}
#bottom_desc {
width:550px;
background:#fcfdbb url(/images/default/bottom_desc.png) left top no-repeat;
height:110px;
display:table;
padding-top:16px;
font-size:11px;
}
#bottom_desc p {
padding-left:60px;
padding-right:40px;
}
#cart_items {
width:730px;
margin-top:20px;
border-top:1px solid #dbdcb2;
border-bottom:1px solid #dbdcb2;
}

.cart_table td{
padding:3px;
}

.cart_item1 {
padding:0 15px;
background:#fefee4;
height:30px;
font-size:11px;
}
.cart_item1 .name, .cart_item1 .item_desc, .cart_item1 .item_price, .cart_item1 .tobuy {
background:#fefee4;
}
.cart_item2 .name, .cart_item2 .item_desc, .cart_item2 .item_price, .cart_item2 .tobuy {
background:white;
}
.cart_item2 {
padding:0 15px;
line-height:30px;
height:30px;
font-size:11px;
}
.name {
width:300px;
}
.item_desc {
width:250px;
}
.item_price {
width:100px;
}
.to_buy {
height:30px;
width: 80px;
}
.link {color: white !important;left: 0;position: absolute;top: 56px;}
.link a {color:white}
.cart_item1 .to_buy input{
display:block;
width: 65px;
height:28px;
border:0;
color:white;
font-size:12px;
cursor:pointer;
background:url(/images/default/to_buy1.png) 0 5px no-repeat;
}
.cart_item1 .to_buy input:hover{
background:url(/images/default/to_buy1.png) 0 -21px no-repeat;
}
.cart_item2 .to_buy input{
display:block;
width: 65px;
height:28px;
border:0;
color:white;
font-size:12px;
background:url(/images/default/to_buy2.png) 0 5px no-repeat;
}
.cart_item2 .to_buy input:hover{
background:url(/images/default/to_buy2.png) 0 -21px no-repeat;
}
.warning {
clear:both;
width:720px;
margin-top:35px;
background:url(/images/default/warning.png) left top no-repeat;
display:table;
font-size:11px;
}
.warning p, .warning1 p  {
padding-left:60px;
}
.warning1 {
width:720px;
margin-top:20px;
background:url(/images/default/comments.png) 18px 4px no-repeat;
display:table;
font-size:11px;
}
.comments_wrap {
width:730px;
display:table;
}
.com_title {
background:url(/images/default/comments.png) left no-repeat;
padding-left:38px;
font-size:16px;
height:20px;
line-height:20px;
margin-left:20px;
margin-bottom:5px;
font-weight:bold;
color:#b079de;
}
.comments {
border-bottom:1px solid black;
display:block;
}
.comment {
border-bottom:1px solid black;
display:table;
padding:15px 0px 15px 0px;
width:730px;
}
.comment_author {
width:150px;
float:left;
padding-left:20px;
}
.comment_text {
float:left;
width:545px;
}
.add_comment {
width:730px;
margin:0 0 25px;
display:table;
padding:15px 0;
}
.com_desc {
width:250px;
padding-top:11px;
float:left;
text-align:right;
position:relative;
}
.com_desc p{
margin-bottom:10px;
}
.com_desc img {
margin-top:50px;
}
h4 {
margin-bottom:24px;
font-size:15px;
}
.form {
float:left;
margin-left:20px;
*margin-left:10px;
margin-top:10px;
}
.form input {
width:390px;
}
.form textarea {
margin-top:10px;
width:390px;
height:90px;
margin-bottom:5px;
}
.send {
margin-left:100px;
*margin-left:88px;
margin-top:15px;
background:url(/images/default/send.png);
border:0;
width:98px !important;
height:19px;
cursor:pointer;
}
*html .ie_span {
margin-left:10px;
}
.kard_one_svyaz_header {
background:url(/images/default/near.png)  left no-repeat;
line-height:12px;
padding-left:30px;
padding-top:3px;
border-bottom:1px solid black;
padding-bottom:15px;
margin-right:6px;
}
.kard_one_svyaz_header b{
display:block;
font-size:11px;
padding-top:10px;
}
.kard_one_svyaz {
background-color:#FAFAE1;
border-top:1px solid #ededc9;
padding:10px 5px;
margin-right:10px;
}
.kard_one_svyaz h3 {
margin:0;
padding:0;
font-size:12px !important;
}
.kard_one_svyaz h3 a {
color:#000000;
font-size:11px;
font-weight:normal;
text-decoration:none;
}
.kard_one_svyaz h3 a:hover {
}
.kard_one_svyaz h3 a b {
text-decoration:underline;
font-size:13px;
font-weight:bold;
display:block;
}
.lines {
margin-left:30px;
height:48px;
padding-top:10px;
margin-top:10px;
}
.lines div{
font-weight:bold;
display:inline;
line-height:20px;
color:white;
margin-right:1px;
background:black;
padding:3px 10px;
cursor:pointer;
}
.lines div a {color:white;text-decoration:none}
.act {
cursor:default !important;
line-height:25px !important;
padding:5px 10px !important;
background:#B178DF !important;
}
.list_new_it {float:left;width:470px;position:relative;font-size:11px;}
.list_new_it a:hover, .list_new_it a.active {color:#B178DF;text-decoration:underline;}
.news, .catalog {
margin-left:30px;
}
.index_h3_new {font-family:Georgia;font-style:italic;width:100%;height:40px;line-height:40px;background:#fcfdbb}
.index_h3_new strong, .index_h3_must strong {padding-left:28px;font-size:17px;font-weight:normal}
.index_h3_must {font-family:Georgia;font-style:italic;width:100%;height:40px;line-height:40px;background:#d4a1fe}
.index_h3_must a , .index_h3_new a {text-decoration:none;}
.index_d {position:relative;top:-5px;font-size:11px;}
.index_d a {color:#B178DF;float:right;}
.new {
margin-top:15px;margin-left:4px;
overflow:hidden;
position:relative;overflow:hidden;zoom:1;
}
.new:hover {background:#FCF5D0}
.new1:hover, .news_index_wrap .new:hover {background:none !important}
.new p {font-size:12px;}
.new p a {}
.new p img {margin-right:5px;}
.new h3 , .new h1 {font-family:Georgia;font-style:italic;
margin-bottom:20px;
font-size:18px;font-weight:normal;margin-top:3px;
}
.new h3 a {text-decoration:none;line-height:22px}
.new h3 a:hover {text-decoration:underline}
#cart_wrap {
color:black;
font-size:11px;
margin-top:15px;
width:680px;
}

#cart_wrap .head_cart{height:30px;border-bottom:1px solid transparent;color:black;font-family:Georgia;font-style:italic;font-size:16px;font-weight:normal}
img.ruble-img { height: 1.5ex; }
span.dot { position:absolute; text-indent: -1000em; }

img.ruble-img1 { height: 1.5ex; }
span.dot1 { position:absolute; text-indent: -1000em; }

.korz_kol-vo {position:relative;border:1px solid #e2e3ea;padding:0 20px 1px 3px;float:left;}
.korz_kol-vo .plus {height:4px;width:7px;background:url(/images/top.png) 0 0 no-repeat;position:absolute;right:4px;top:2px;display:block;cursor:pointer}
.korz_kol-vo .minus {height:4px;width:7px;background:url(/images/minus_ic.png) 0 0 no-repeat;position:absolute;right:4px;bottom:2px;_top:12px;display:block;cursor:pointer}

#cart_wrap .cart_td td{border-bottom:1px solid #c6b3d7}



.brend_anot1 {margin:0 20px;background:url(/images/default/white_blank.png) left top no-repeat;}
.brend_anot1 p {margin-left:40px;font-size:11px;}
.acc_find {margin-left:36px;background:#FCFCBA;height:34px;width:683px !important}
#cart_wrap tr.cart_1 {
background:#fff;
}

#cart_wrap td {

}
.cart_1 td, .cart_2 td {
color:black;
padding:20px 2px;
vertical-align:top;
}
#purch {margin-right:11px;text-decoration:none;}
.first_td {
padding:20px 10px 20px 20px !important;
}
.head_cart td {
padding:5px 0 5px 5px;
border:0 !important;
}
td input {
width:50px;
}
.bottom_tr {
background:#b178df;
}
.bottom_tr .br_td {background:#fcfdbb !important}

.korzina_1{font-size:11px;}
.orders_form_error{font-size:11px;color:red;}


.bottom_tr td {
border-top:1px solid #d8ddb4;
color:black;
font-size:12px;
font-weight:bold;
padding:1px 0 0;
text-align:right;
border-left:0 !important;
color:white;
}
#second_bottom_td_k {
padding-right:22px;
}
.bottom_tr_left {
float:left;
width:545px;
}
.bottom_tr_right {
float:left;
padding-right:10px;
width:120px;
}
.korzina_1 {
width:70px;
background:white;
border:1px solid #ccc;
cursor:pointer;
}
.orders_head2 {margin-left:20px;}
.orders_head2 b {font-size:16px;}
.cart_img {
margin-right:10px;
}
.ml_30  {border-left:1px solid #e0e5c5;border-right:1px solid #e0e5c5;background:white;}
.ml_30  span {display:block;height:13px;margin-top:3px;padding-left:20px;}
.ml_30  div {margin-top:3px;padding-left:17px;}
.korzina_table_send {
color:#000000;
font-family:Tahoma,Arial;
font-size:11px;
font-weight:normal;
padding-bottom:10px;
}

.korzina_table_send tr {

}
.korzina_table_send td {
border-bottom:1px solid #feffd7;
font-size:11px;
padding:5px;
}
.korzina_table_send td.one {
padding-right:20px;
}
.pur_inp{
margin:5px 5px 5px 20px;
width:92%;
border:1px solid #bfbfbf;
padding:3px 5px;
}

ul.catalog_list {
float:left;
margin:0;
padding-bottom:20px;
padding-left:20px;
width:180px;
line-height:25px;
}
ul.catalog_list li {
color:#B178DF;
font-size:34px;
font-style:italic;
font-family:Georgia;
list-style-type:none;
margin:0;
}
ul.catalog_list li ul {
margin:0;
padding-left:30px;
}
ul.catalog_list li ul li {
color:#000000;
font-style:normal;
font-family: Tahoma;
font-size:11px;
font-weight:normal;
list-style-type:none;
}
ul.catalog_list li ul li a {
color:#000000;
font-size:11px;
list-style-type:none;
text-decoration:none;
}
.left_c_2 {
padding-right:10px;
margin-top:25px;
}
.tags {
margin:10px;
line-height:normal;
}
.tags a:link {
color:#B178DF;
text-decoration:none;
}
.tags_wrap {
margin-bottom:30px;
}
.skidki_wrap {
margin-left:-20px;
margin-top:-15px;
background:white;
padding-bottom:1px;
}
.skidki_head  {
font-size:11px;
padding-left:35px;
border-bottom:1px solid black;
}
.skidki_head span{
font-size:18px;
}
.skidki {
margin:10px 0 15px 0;
padding-left:15px;
}
.procent {
width:50px;
height:40px;
background:url(/images/default/sale.png);
padding:20px 0 0 10px;
font-size:14px;
font-weight:bold;
color:white;
z-index:999;
_padding-left:10px;
_width:45px;
}
.desc_skidka a{
font-size:12px;
color:black;
display:block;
}
.skidka {
position:relative;
margin-bottom:10px;
padding-top:5px;
}
.skidka_img {
position:absolute;
top:0;
right:10px;
}
.skidka_img img {
z-index:111;
}
.desc_skidka {
font-size:11px;
margin-top:8px;
}



.nakop_sk {position:absolute;right:-15px;top:2px;width:12px;height:12px;cursor:pointer;background:url(/images/default/ic123.png) 0 0 no-repeat;}
.nakop_id {line-height:20px;position:absolute;right:-195px;top:-174px;width:355px;height:166px;font-size:11px;display:none;background:url(/images/podsk2.png) 0 0 no-repeat;color:white;padding:0;text-align:left}

#back_to {display:block;position:absolute;right:163px;top:0px;*right:180px;font-size:11px}




.none_br {height:0;line-height:0;font-size:0;}
.fs11 {display:block;float:left;font-size:11px;margin-top:15px;*left:-10px;position:relative;}
.abs1 {position:absolute;left:20px;top:10px;font-size:18px;font-family:Georgia;font-weight:normal;font-style:italic}
.bottom_wraps .act1 {background:white;cursor:default !important;}
#other_aromats {display:block;text-align:center;height:40px;line-height:40px;float:left;color:black;width:250px;cursor:pointer}
#otzivi {display:block;text-align:center;height:40px;line-height:40px;float:left;color:black;width:220px;cursor:pointer}
#sh_price {display:block;text-align:center;height:40px;line-height:40px;float:right;color:black;width:260px;cursor:pointer}
#sh_price:hover, #otzivi:hover, #other_aromats:hover {background:white;}
.bottom_wraps {height:40px;border-top:2px solid black;background:#d4a1fe;margin-bottom:15px;overflow:hidden;}
.notes {background:url(/images/default/white_blank.png) no-repeat 0 4px;padding-left:30px;margin-left:38px;}
.desc_wrap1 {width:730px;margin-top:20px;}

#orders_reload {margin-right:25px;width:100px;}

.acc_nav {margin-left:18px;margin-top:5px;margin-bottom:10px;}
.acc_nav a {padding: 0 20px;}
p.none_under {margin-left:40px;}

.desc_img1 {float:left;overflow:hidden;width:250px;}
.new_notes {margin-top:20px;}
.mini_slides {padding-left:-20px;margin-left:70px;}
.prev {float:left;width:11px;height:15px;margin-top:30px;background:url(/images/default/mini_gal_left.gif) no-repeat;cursor:pointer;margin-right:10px;z-index:999;}
.next {float:left;width:11px;height:15px;margin-top:30px;background:url(/images/default/mini_gal_right.gif) no-repeat;cursor:pointer;margin-left:10px;z-index:999;}
#gal_wr11 {width:300px;overflow:hidden;float:left;height:80px;position:relative;z-index:1;}
.jCarouselLite ul {margin: 0pt; padding: 0pt; position: relative; list-style-type: none; z-index: 1;}
.jCarouselLite ul li {margin-right:10px;width:100px;height:80px;}

.acc_find td{padding:3px;font-size:11px;height:36px;background:#B178DF;color:white}
#acc_but_find, .acc_find td input {border:1px solid #D3A1FD;}
#acc_but_find {background:#FCFCBA;cursor:pointer}

.news_index_wrap .new p {text-align:justify;font-size:11px;}
.table_new p {font-size:12px !important;}

#myContent2 {margin-left:27px;}
.lh14 p {line-height:14px;}

#to_blog {width:102px;padding:5px 25px 10px;position:relative;top:-23px;cursor:pointer;text-decoration:underline;margin-bottom:-10px;}
.to_blog_class {background:#fcfcba}
#to_blog_wrap {position:relative;display:none;padding:10px 20px;background:#fcfcba;margin-right:28px;margin-bottom:20px;overflow:hidden;top:-13px}
#to_blog_wrap textarea {width:620px;height:100px;padding:6px 10px;margin:12px 0;background:white}
#how_look {display:none;position:relative;overflow:hidden;padding:10px 15px;border:1px solid #d2cccc;background:white;margin-top:8px}

.zoomme {overflow:hidden}
.vspliv {border:1px solid #dad9db;overflow:hidden;width:230px;background:white;min-height:215px}
.vspliv  img {vertical-align:bottom;display:inline}
.vspliv div.podr {z-index:999;height:30px;line-height:30px;font-weight:bold;font-size:16px;color:#fff;padding:0 10px 0 15px;background:#bc9aff}
.vspliv div.podr  a {position:absolute;bottom:4px;right:5px;display:block;width:75px;height:22px;background:url(/images/default/buybuy.png) no-repeat}
.vspliv .vspliv_name {padding:10px 0 10px 15px}

.new_v_one {width:150px;color:black;font-weight:normal;font-size:12px}

.tizer_banner {width:198px;margin-bottom:40px}
.tizer_banner .table-outer {margin-top:10px;height:230px;overflow:hidden;}
.tizer_banner .table-outer table {position:relative;top:0;color:white}
.tizer_banner .table-outer table a {color:white}
.tizer_banner .it {padding:0px 0 10px 5px}
.tizer_banner .it td {}
.tizer_banner .it .img {}
.tizer_banner .it .img a{display:block;overflow:hidden;border:1px solid #ccc;width:58px;height:58px;}
.vspliv .vspliv_name a,.vspliv .vspliv_name a:hover {text-decoration:none}

#re_cont_dan {float:left;width:275px;padding-top:110px}
#re_cont_dan input, #re_cont_dan textarea {width:275px;border:1px solid black;margin-bottom:22px;font-size:11px;padding:2px}
#re_cont_dan textarea {font-family:Arial}
#re_cont_dan input[type=image] {border:0;float:right}



.more_top {
background:url(/images/more_top.jpg) no-repeat top center;
display:block;
color:#FFFFFF;
font-size:11px;
height:18px;
line-height:16px;
text-align:center;width:68px;
text-decoration:none;
}

.double_menu {margin:10px 0;overflow:hidden;padding:15px 0 25px 0;border-top:1px solid black;border-bottom:1px solid black;}
.double_menu .it {float:left;overflow:hidden}
.double_menu .it:hover a{color:#b078df;text-decoration:none}
.double_menu .it .img {display:block;width:30px;height:30px;margin:0 auto}
.double_menu .it .link1 {width:80px;text-align:center}
.double_menu .it .link1 a{font-size:11px;display:block}
.double_menu .it .link1 a:hover{color:#b078df;text-decoration:none}
.double_menu .it.active .link1 a {text-decoration:none}



.a_nak , .a_raz, .a_pod, .a_ras, .a_bon {padding-top:8px;display:inline-block;padding-left:25px;background-image:url(/images/thanks.png);background-repeat:no-repeat}
.a_nak {background-position: 0px 4px;}
.a_raz {background-position: 0px -24px;}
.a_pod {background-position: 0px -50px;}
.a_ras {background-position: 0px -76px;}
.a_bon {background-position: 0px -104px;}




.enter_d {position:relative;}
.enter_d label {position:absolute;left:0px;top:1px;cursor:text;width:158px;padding-left:10px;font-size:11px}


.soc_button {margin-left:15px;background:#edede8;display:block;color:black;padding:6px 10px 0px;border: 1px solid black;text-decoration:none;float:left;border-bottom:0;
-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;border-top-right-radius: 5px;_display:inline;}
.soc_button.active {background:white}






 
#main { text-align:center; width:198px; }
#twitter-ticker { width:198px; height:370px; color:#666; display:none; text-align:left }
#tweet-container { height:370px; width:auto; overflow:hidden; }
 
.tweet { border:1px solid #f0f0f0; width:auto; overflow:hidden; padding:5px;}
.tweet:first-child { margin-top:0; }
.tweet .avatar,.tweet .user,.tweet .time { float:left; }
.tweet .time { display:block; font-size:13px; color:#aaa; white-space:nowrap; }
.tweet .txt { clear:both;font-size:11px;line-height:15px }
.tweet .user { font-weight:bold; }







.jScrollPaneContainer {position:relative;overflow:hidden;z-index:1;}
.jScrollPaneTrack {position:absolute;cursor:pointer;right:4px;top:0;height:100%;background:#ddd;width:6px !important}
.jScrollPaneDrag {position:absolute;background:#B078DF;cursor:pointer;overflow:hidden;}
.jScrollPaneDragTop {position:absolute;top:0;left:0;overflow:hidden;}
.jScrollPaneDragBottom {position:absolute;bottom:0;left:0;overflow:hidden;}
a.jScrollArrowUp {display:block;position:absolute;z-index:1;top:0;right:0;text-indent:-2000px;overflow:hidden;height:9px;}
a.jScrollArrowDown {display:block;position:absolute;z-index:1;bottom:0;right:0;text-indent:-2000px;overflow:hidden;height:9px;}


.how-to-get-skidka {overflow:hidden;position:absolute;overflow:hidden;left:0px;z-index:999;top:20px;font-size:11px;display:none;background:url(/images/podsk1.png) 0 0 no-repeat;width:295px;height:166px;color:white}
.how-to-get-skidka a {color:white;position:relative}
.how-to-get-skidka div {padding:17px 15px 25px 20px;position:relative;z-index:999}


.b-purchase {font-size:11px;line-height:16px}
.b-purchase.left {float:left;width:510px;overflow:hidden}
.b-purchase.right {margin-left:547px;border:3px solid black;padding:14px 12px 17px 12px;
-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width:343px}
.b-purchase h3 {font-size:18px;font-family:Georgia;font-style:italic;font-weight:normal;margin-bottom:10px}
.b-purchase .desc-text {display:block;font-size:10px;color:#828282;margin-bottom:6px}
.b-purchase input {border:1px solid black}
.b-purchase input[type="radio"], .b-purchase input[type="checkbox"] {border:0;}
.b-purchase.right .forgot {height:22px;color:#828282;padding-left:36px;background:url(/images/forgot.png) 0 0px no-repeat;display:block;float:left}
.b-purchase input[type='submit'] {width:125px;text-align:center;color:white;background:#9966cc;border:2px solid #9966cc;
-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;font-size:10px;}
.b-purchase.left .why-need {height:22px;color:#828282;padding-left:36px;background:url(/images/why-need.png) 0 0px no-repeat;display:block;float:left}
#why-need-popup {background:url(/images/why-need-popup.png) 0 0 no-repeat;
color: white;display: none;font-size: 11px;left: 0;padding: 6px 20px 8px; position: absolute;top: -161px;width: 335px;height:150px}
.slider_text:hover {text-decoration:none !important}
.b-purchase select {border:1px solid black}

.letterMask {position:fixed;width:100%;height:100%;z-index:1;display:none}
.letterPopup {position:absolute;width:650px;padding:10px 18px;border:3px solid black;background:white;
-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;
display:none;border-top:0;z-index:99999;}
.letterPopup ul {list-style:none;overflow:hidden;float:left;width:150px;padding-right:10px;}
.letterPopup ul li {margin-bottom:2px;height:18px;overflow:hidden}
.letterPopup ul li a {text-decoration:none;font-size:11px}
.letterPopup ul li a b {font-size:12px} 
.letterPopup ul li a:hover {}
.letterPopup .bottom {background:#b178df;color:white;height:38px;line-height:38px;
-webkit-border-bottom-right-radius: 6px;-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;-moz-border-radius-bottomleft: 6px;
border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;
padding-left:15px;margin:8px -18px -10px -18px}
.letterPopup .bottom a {color:white}
.letterPopup .bottom span {padding-right:72px;}



.infoTester {position:relative;display:inline-block;*display:inline;margin-left:3px;}
.infoTester span {background:#B078DF;color:white;padding:2px 8px;cursor:pointer;
-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; }
.infoTester:hover  .popup {display:block;}
.infoTester .popup {position:absolute;display:none;left:30px;top:-3px;padding:6px 15px 8px 15px !important;background:white;width:270px;
-webkit-box-shadow: 0px 0px 5px 0px #666;-moz-box-shadow: 0px 0px 5px 0px #666;box-shadow: 0px 0px 5px 0px #666;text-align:justify;
-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;z-index:99;*border:1px solid #b178df}



.yellow-border-block {
	background:#fcfdbb;
	border:3px solid #000;
	display:inline-block;
	padding:0 20px;
	height:42px;
	line-height:42px;
	font-family:Georgia;
	font-size:22px;
	border-radius:10px;
	font-style:italic;
	margin-bottom:20px;
}
.dost-table {
	margin-bottom:30px;
}
.dost-table tr.head{
	
	font-style:italic;
	font-family:Georgia;
	font-size:17px;	
	color:white;
}
.dost-table tr.head th {
	padding:15px 0 15px 20px;
	text-align:left;
	font-weight:normal;
	background:#b178df;
}
.dost-table tr.head th:first-child {
	border-radius:10px 0 0 10px;
}
.dost-table tr.head th:last-child {
	border-radius:0 10px 10px 0;
}
.dost-table tr td {
	border-bottom:1px solid #000;
	padding:15px 20px;
	line-height:15px;
}





.btn_purple {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 35px;
	color: white;
	font-size:16px;
	background: #823cd0;
	border-radius: 25px;
	text-decoration: none;
	border:0;
	cursor: pointer;
}
.btn_blue {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 35px;
	color: white;
	font-size:16px;
	background: #42d5ff;
	border-radius: 25px;
	text-decoration: none;
	border:0;
	cursor: pointer;
}
.b-modal { position: fixed; display: none; width: 500px; padding: 30px 42px; background: #fff; border: 1px solid rgba(0, 0, 0, 0.333);
box-shadow:0 4px 16px rgba(0, 0, 0, 0.2);
left:50%;top:50%;z-index:50001; }
.b-modal_close { position: absolute; right: 12px; top: 6px; font-weight: bold; color: #999; cursor: pointer; font-family: Arial;
font-size:20px;line-height: 20px;}
.b-modal_close:hover { color: #666; }
.b-modal input {
	width: 100%;
	padding:8px 10px;
	font-size:15px;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-modal input.error {
	border: 2px solid red;
}
.b-modal .body {
	padding:20px 0 0;
}

#footer_subscribe {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	color: white;	
	font-size: 15px;
	z-index: 22;	
	padding-top: 32px;
}
#footer_subscribe .bg {
	background: #5e238f;
	border-top: 1px solid #6d3799;
	position: relative;
}
#footer_subscribe .inner {
	width: 980px;
	margin: 0 auto;
	position: relative;
	line-height: 50px;
}
#footer_subscribe .inner form {
	position: absolute;
	right: 0;
	top: 0;
	height: 65px;	
}
#footer_subscribe .inner form input {
	padding: 4px 8px 4px 40px;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 29px;
  width: 230px;
  border-radius: 5px;
  border: 0;
  float: left;
  margin-top: 10px;
  background: white url(/images/mail_icon_subscr.png) 10px 4px no-repeat;
  border: 2px solid transparent;
}
#footer_subscribe .inner form button.small {
	height: 29px;
	line-height: 29px;
	margin-left: 20px;	
	float: left;
	margin-top: 10px;
}
#footer_subscribe .inner .arrow {
	position: absolute;
	right: 0;
	top: -32px;
	height: 32px;
	width: 56px;
	cursor: pointer;
	display: block;
	background: url("/images/subscribe_arrows.png") 0 0 no-repeat;
}
#footer_subscribe .inner .arrow.show {
	background-position: 0 0;
}
#footer_subscribe .inner .arrow.hide {
	background-position: 100% 0;
}
#footer_subscribe .inner input.error {
	border: 2px solid red;
}

#colors div{
    margin-left: 12px;
    margin-top: 10px;
    padding: 12px;


}

#colors a{
    color:#FFF;
    text-decoration: none;
}

#colors .color_0{
    background-color: #40ac57;
}

#colors .color_1{
    background-color: #ffa800;
}

#colors .color_2{
    background-color: #00a5db;
}


#scroll-sidebar.fixed {
    position: fixed;
    width:297px;
    top: 40px;
}

#logistic {
    margin-top: 20px;
}
.logistic__type {
    border: 2px solid #e5e5e5;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #666;
}
.logistic__type.logistic__type-active {
    border-color: #9966cc;
}
.logistic__type.logistic__type-active .logistic__type-footer {
    background: #e5e5e5;
}
.logistic__type:hover .logistic__type-header, .logistic__type.logistic__type-active .logistic__type-header {
    color: #9966cc;
}
.logistic__type.logistic__type-disabled,  .logistic__type.logistic__type-disabled:hover .logistic__type-header {
    color: #999!important;
    cursor: default;
}
.logistic__type-header {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 5px;
}
.type-disabled_text {
    color: #999;
    display: none;
    font-size: 12px;
}
.logistic__type.logistic__type-disabled .type-disabled_text {
    display: block;
}
.logistic__type-body {
    height: 48px;
}
.couriers__modal {
    background: #FFFFFF;
    width: 890px;
    height: 520px;
    padding: 20px 20px 0;
    overflow: hidden;
}
.g-hidden {
    display: none;
}


.courier__table {
    padding: 20px 0;
    border-spacing: 0;
    width: 280px;
}
.courier {
    cursor: pointer;
}
#byself .courier {
    cursor: default;
}
.courier:hover, .courier.active {
    background: #f5f5f5;
}
.courier-header {
    font-weight: bold;
    display: block;
}
.couriers__block {
    width: 280px;
    margin-right: 20px;
    float: left;
}
.courier__title {
    font-size: 16px;
    font-weight: bold;
    display: block;
}
.courier__table-header th {
    font-weight: normal;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    padding: 4px 8px;
}
.courier__table td {
    font-weight: normal;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    padding: 4px 8px;
}
.couriers__modal #map {
    width: 580px;
    height: 490px;
    float: left;
}
#self_selected {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    background: #9966cc;
}
#self_selected .wrr {
    padding: 10px;
}
#self_selected span {
    display: block;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn-primary {
    color: #fff;
    background-color: #9966cc;
    border-color: #9966cc;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #9966cc;
    border-color: #9966cc;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.text-center {
    text-align: center;
}
body.loading{
    opacity: 0.6;
}