{strip}

<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=save" method="post" enctype="multipart/form-data" name="formMod">

<div id="tabs" class="flora">
	<ul class="ui-tabs-nav">
		<li class="ui-tabs-selected"><a href="#tab-1"><span>Параметры цен</span></a></li>
	</ul>
</div>

<div class="ui-tabs-panel" id="tab-1">
<table width="100%" border="0" cellpadding="5" cellspacing="5" class="form_add">
	<tr>
		<td align="left" width="20%">Общий курс валют:</td>
		<td align="left" width="80%">
			<input type="text" name="p_usd" value="{$p_usd}" style="width:50px" maxlength="2">&nbsp;USD
		</td>
	</tr>
	
	<tr class="table_bg">
		<td align="left"  colspan="2">
		Ценовые позиции (для формулы расчета цены)
		</td>
	</tr>
	<tr>
		<td align="left" >Шаг 1:</td>
		<td align="left" >
			<input type="text" name="p_price_1" value="{$p_price_1}" style="width:50px" maxlength="5">&nbsp;RUR
		</td>
	</tr>
	<tr>
		<td align="left" >Шаг 2:</td>
		<td align="left" >
			<input type="text" name="p_price_2" value="{$p_price_2}" style="width:50px" maxlength="5">&nbsp;RUR
		</td>
	</tr>
	<tr>
		<td align="left" >Шаг 3:</td>
		<td align="left" >
			<input type="text" name="p_price_3" value="{$p_price_3}" style="width:50px" maxlength="5">&nbsp;RUR
		</td>
	</tr>
	<tr>
		<td align="left" >Шаг 4:</td>
		<td align="left" >
			<input type="text" name="p_price_4" value="{$p_price_4}" style="width:50px" maxlength="5">&nbsp;RUR
		</td>
	</tr>
	<tr>
		<td align="left" >Шаг 5:</td>
		<td align="left" >
			<input type="text" name="p_price_5" value="{$p_price_5}" style="width:50px" maxlength="5">&nbsp;RUR
		</td>
	</tr>
	<tr>
		<td align="left" >Шаг 6:</td>
		<td align="left" >
			<input type="text" name="p_price_6" value="{$p_price_6}" style="width:50px" maxlength="5">&nbsp;RUR
		</td>
	</tr>
	<tr>
		<td align="left" >Шаг 7:</td>
		<td align="left" >
			<input type="text" name="p_price_7" value="{$p_price_7}" style="width:50px" maxlength="5">&nbsp;RUR
		</td>
	</tr>
</table>
<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<tr class="table_bg_action">
	<td align="left" colspan="2">
		<input type="submit" name="save_valut" value="Сохранить" style="width:100px">&nbsp;
		<input type="submit" name="reload_price" value="Пересчитать все цены в каталоге" >&nbsp;
	</td>
	</tr>
</table>
</div>

</form>

{/strip}