{literal}

<style type="text/css">
    #grid_table tr {height: 55px;}
</style>

<script type="text/javascript">

$(document).ready(function(){

    $("#cause_text").bind('input propertychange', function(){
        if(this.value.length){
            $("#cause_0").attr('checked', 'checked');
        }
    });

    $("#cause_0").change(function(){
        if($("#cause_text").val().length){
            $("#cause_0").attr('checked', 'checked');
            return false;
        }
    });

    $("#sel_status").change(function () {
        var sel = $("#sel_status option:selected");
        window.location = '?main=mag&module=mag_orders&action=mod&status=' + sel.val();
    });

    /*$("#filter_ext").click(function () {
     var sel = $("#sel_status option:selected");
     var date1 = $("#date1").val();
     var date2 = $("#date2").val();
     window.location = '?main=mag&module=mag_orders&action=mod&status=' + sel.val() + '&date1=' + date1 + '&date2=' + date2;
     });*/


    $("#grid_table").flexigrid({
        url: '{/literal}?ajax={$smarty.get.module}&action=mod&status={$smarty.get.status}&is_sale={$smarty.get.is_sale}{literal}',
        dataType: 'json',
        colModel : [
            {display: 'ID', 		    name : 'id', 		width : 70, 	sortable : false, 	align: 'center'},
            {display: 'ДАТА ЗАКАЗА',    name : 'DateAdd', 	width : 150, 	sortable : true, 	align: 'center'},
            {display: 'ДАТА ДОСТАВКИ',  name : 'DateEnd',   width : 100, 	sortable : true, 	align: 'center'},
            {display: 'ДЕЙСТВИЕ', 	    name : 'action', 	width : 100, 	sortable : false, 	align: 'center'},
            {display: 'КЛИЕНТ', 	    name : 'title', 	width : 200, 	sortable : false, 	align: 'left'},
            {display: 'PRICE', 		    name : 'price', 	width : 100, 	sortable : false, 	align: 'right'},
            {display: 'SUM', 		    name : 'sum', 		width : 40, 	sortable : false, 	align: 'left'},
            {display: 'Причина отмены', name : 'cause', 	width : 200, 	sortable : false, 	align: 'left'}
        ],
        buttons : [
            {/literal}{if $smarty.get.status eq '1'}{literal}
            {name: 'Выделить все', bclass: 'check', onpress : test},{separator: true},
            {name: 'Снять выделение', bclass: 'uncheck', onpress : test},{separator: true},{separator: true},{separator: true},{name: 'Действия с выделенными заказами <strong>&#9658;</strong>', bclass: ''},{separator: true},
            {name: 'Подтвердить', bclass: '', onpress : test},{separator: true},
            {name: 'Отклонить', bclass: '', onpress : test},{separator: true},
            {/literal}{/if}{literal}

            {/literal}{if $smarty.get.status eq '2'}{literal}
            {name: 'Выделить все', bclass: 'check', onpress : test},{separator: true},
            {name: 'Снять выделение', bclass: 'uncheck', onpress : test},{separator: true},{separator: true},{separator: true},{name: 'Действия с выделенными заказами <strong>&#9658;</strong>', bclass: ''},{separator: true},
                {/literal}{if $smarty.session.admin_user_login eq 'admin'}{literal}{name: 'Доставить', bclass: '', onpress : test},{separator: true},{/literal}{/if}{literal}
                {/literal}{if $smarty.session.admin_user_login eq 'truth4oll'}{literal}{name: 'Доставить', bclass: '', onpress : test},{separator: true},{/literal}{/if}{literal}
            {name: 'Отклонить', bclass: '', onpress : test},{separator: true},
            {separator: true},{separator: true},{name: 'В блокнот', bclass: '', onpress : test},{separator: true},
            {/literal}{/if}{literal}

            {/literal}{if $smarty.get.status eq '5' or $smarty.get.status eq '6' }{literal}
            {name: 'Выделить все', bclass: 'check', onpress : test},{separator: true},
            {name: 'Снять выделение', bclass: 'uncheck', onpress : test},{separator: true},{separator: true},{separator: true},{name: 'Действия с выделенными заказами <strong>&#9658;</strong>', bclass: ''},{separator: true},
            {name: 'Отклонить', bclass: '', onpress : test},{separator: true},
            {/literal}{/if}{literal}
            {name: 'ДЕЙСТВИЯ С ЗАКАЗАМИ', bclass: '', onpress : orderActions},{separator: true},{separator: true}
            /*{/literal}{if $smarty.get.status eq '-1'}{literal}{name: 'Вернуть в новые', bclass: '', onpress : test},{separator: true},{/literal}{/if}{literal}*/
        ],
        searchitems : [
            {display: 'ID заказа', name : 'id', isdefault: true},
            {display: 'ID юзера', name : 'id_user', isdefault: false}
        ],
        sortname: "DateAdd",
        sortorder: "desc",
        usepager: true,
        showTableToggleBtn: true,
        width: 'auto',
        height: 'auto',
        useRp: true,
        rpOptions: [5,30,50,100],
        rp: {/literal}{if $smarty.get.status eq '0' OR $smarty.get.status eq '3'}5{else}30{/if}{literal},
        pagestat: 'Показано с {from} по {to} из {total} заказов',
        procmsg: 'Обработка, пожалуйста, подождите ...',
        nomsg: 'Нет элементов'
    });
});

function getCause(grid){
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "?ajax=mag_cancel_cause&action=get",
        success: function(data){
            $.each(data, function(id,title){
                $('#cause_list').append('<input class="ccause" type="checkbox" name="cause_'+id+'" id="cause_'+id+'" />&nbsp;<label>'+title+'</label><br />');
            })
        }});
    tb_show("HAI","#TB_inline?height=400&amp;width=600&amp;inlineId=dialog-form&modal=true",null);

}

function checkCause(){
    var ret = false;
    $('.ccause').each(function(){
        if(this.checked){
            ret = true;
        }
    });
    return ret;
}

function pushCause(){
    if(!checkCause()){
        alert('Необходимо указать хотя бы одну причину!');
        return false;
    }

    grid = $("#grid_table");
    var items = $('.trSelected',grid);
    var itemlist ='';
    for(i=0;i<items.length;i++){itemlist+= items[i].id.substr(3)+",";}
    $("#cancel_list").val(itemlist);
    $.ajax({
        type: "POST",
        dataType: "json",
        url: "{/literal}?ajax={$smarty.get.module}&action=set_status&status=0{literal}",
        data: $("#cform").serialize(),
        success: function(data){
            clearCause();
            $("#grid_table").flexReload();
            setTimeout(function() { document.location.reload(); }, 1000);
        }});
}

function clearCause(){
    tb_remove();
    $('#cause_list').html('');
    $('#cause_text').val('');
    $('#cause_0').removeAttr('checked');
    $("#cancel_list").val('');
}

function test(com,grid){
    if (com=='Отклонить'){
        if($('.trSelected',grid).length>0){
            url_cause = getCause();
        }else{
            return false;
        }

    }else if (com=='Подтвердить'){
        if($('.trSelected',grid).length>0){
            var items = $('.trSelected',grid);
            var itemlist ='';
            for(i=0;i<items.length;i++){itemlist+= items[i].id.substr(3)+",";}
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{/literal}?ajax={$smarty.get.module}&action=set_status&status=2{literal}",
                data: "items="+itemlist,
                success: function(data){
                    $("#grid_table").flexReload();
                }});
        }else{
            return false;
        }

    }else if (com=='Доставить'){
        if($('.trSelected',grid).length>0){
            var items = $('.trSelected',grid);
            var itemlist ='';
            for(i=0;i<items.length;i++){itemlist+= items[i].id.substr(3)+",";}
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{/literal}?ajax={$smarty.get.module}&action=set_status&status=3{literal}",
                data: "items="+itemlist,
                success: function(data){
                    $("#grid_table").flexReload();
                }});
        }else{
            return false;
        }

    }else if (com=='Вернуть в новые'){
        if($('.trSelected',grid).length>0){
            var items = $('.trSelected',grid);
            var itemlist ='';
            for(i=0;i<items.length;i++){itemlist+= items[i].id.substr(3)+",";}
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{/literal}?ajax={$smarty.get.module}&action=set_status&status=1{literal}",
                data: "items="+itemlist,
                success: function(data){
                    $("#grid_table").flexReload();
                }});
        }else{
            return false;
        }

    }else if (com=='В блокнот'){
        if($('.trSelected',grid).length>0){
            var items = $('.trSelected',grid);
            var itemlist ='';
            for(i=0;i<items.length;i++){itemlist+= items[i].id.substr(3)+",";}
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{/literal}?ajax={$smarty.get.module}&action=note_add{literal}",
                data: "items="+itemlist,
                success: function(data){
                    $("#grid_table").flexReload();
                    $("#count_note").html(  parseInt($("#count_note").html()) + items.length );
                }});
        }else{
            return false;
        }


    }else if (com=='Выделить все'){
        $('.bDiv tbody tr',grid).addClass('trSelected');

    }else if (com=='Снять выделение'){
        $('.bDiv tbody tr',grid).removeClass('trSelected');
    }
}
{/literal}

</script>

<div id="dialog-form" style="display:none;" title="Причины отмены заказа">
    <p class="validateTips">Укажите причину отклонения заказа</p>
    <form id="cform">
        <fieldset id="cause_list" style="margin:0;padding:0;border:none;"></fieldset>
        <input type="checkbox" class="ccause" name="cause_0" id="cause_0" />&nbsp;<label>Другая причина:</label><br />
        <textarea cols="75" rows="10" name="cause_text" id="cause_text"></textarea><br /><br />
        <input type="hidden" name="items" id="cancel_list" value="" />
        <input type="button" value="Сохранить" onclick="pushCause()" />&nbsp;&nbsp;
        <input type="button" value="Отмена" onclick="clearCause()" />
    </form>
</div>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="250">
            <table id="table_find" width="200" border="0" cellpadding="0" cellspacing="3" style="border: 1px #3e726e solid; background-color: #f4edc9;color:#3e726e;">
                <tr>
                    <td width="100%">
                        <select size="4" name="sel_status" id="sel_status" style="width:100%;color:#000;padding:5px;background-color: #fff;font-size:10pt;font-weight : bold;">
                            <option value="1" {if $smarty.get.status eq '1'}selected{/if}>Новые</option>
                            <option value="2" {if $smarty.get.status eq '2'}selected{/if}>Подтвержденные</option>
                            <option value="3" {if $smarty.get.status eq '3'}selected{/if}>Доставленные</option>
                            <option value="0" {if $smarty.get.status eq '0'}selected{/if}>Отклоненные</option>
                        </select>
                    </td>
                </tr>
            </table>
        </td>


        <td style="padding-left:20px;border-right:1px solid grey;" id="folders" width="250">

            <h1>Склад</h1>

            <div><a href="?module={$smarty.get.module}&action=mod&status=4&is_sale=1" {if $smarty.get.status eq '4'}style="color:orange"{/if}>&laquo;&nbsp;Купленные заказы</a></div>
            <div><a href="?module={$smarty.get.module}&action=mod&status=5" {if $smarty.get.status eq '5'}style="color:orange"{/if}>&laquo;&nbsp;Отклоненные заказы</a></div>
            <div><a href="?module={$smarty.get.module}&action=mod&status=6" {if $smarty.get.status eq '6'}style="color:orange"{/if}>&laquo;&nbsp;Неполные заказы</a></div>
        </td>
		<!--
		<td align="left" valign="bottom">
			<a href="?main=mag&module=mag_orders&action=recal_disc">Перерасчет скидки</a>
		</td>
		-->
        <td align="right" valign="bottom">
            <div><h1><a href="?main=mag&module=mag_note&action=mod">В блокноте (<span id="count_note">{$order_note_count}</span>)</a></h1></div>
        </td>
    </tr>
</table>


<br />

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="display: block;">
            Фильтр <span class="caret"></span>
        </a>
    </h4>
</div>
<div id="collapseOne" class="panel-collapse collapse">
<div class="panel-body">
<form id="orders_filter" method="post" class="form-horizontal" role="form">
<div class="form-group">
    <label for="filter_id" class="col-xs-1 control-label">ID заказа</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_id-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_id-active" id="filter_id-active" data-type="id">
                                </span>
            <input type="text" class="form-control" name="filter_id" id="filter_id" placeholder="ID нужного заказа">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_userId" class="col-xs-1 control-label">ID клиента</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_id_user-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_id_user-active" id="filter_id_user-active" data-type="id_user">
                                </span>
            <input type="text" class="form-control" name="filter_id_user" id="filter_id_user" placeholder="ID нужного клиента">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_phone" class="col-xs-1 control-label">Телефон</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_user__phone-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_user__phone-active" id="filter_user__phone-active" data-type="user__phone">
                                </span>
            <input type="text" class="form-control" name="filter_user__phone" id="filter_user__phone" placeholder="Телефон клиента">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_fio" class="col-xs-1 control-label">ФИО</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_user__fio-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_user__fio-active" id="filter_user__fio-active" data-type="user__fio">
                                </span>
            <input type="text" class="form-control" name="filter_user__fio" id="filter_user__fio" placeholder="ФИО клиента">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_email" class="col-xs-1 control-label">Email</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_user__email-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_user__email-active" id="filter_user__email-active" data-type="user__email">
                                </span>
            <input type="email" class="form-control" name="filter_user__email" id="filter_user__email" placeholder="Email клиента">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_city" class="col-xs-1 control-label">Город</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_user__city-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_user__city-active" id="filter_user__city-active" data-type="user__city">
                                </span>
            <input type="text" class="form-control" name="filter_user__city" id="filter_user__city" placeholder="Город клиента">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_source" class="col-xs-1 control-label">Источник заказа из аналитикса</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_source-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_source-active" id="filter_source-active" data-type="source">
                                </span>
            <select name="filter_source" id="filter_source" class="form-control">
                <option value="0">Не важно</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_manager" class="col-xs-1 control-label">Менеджер закрепеленный за заказом</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_manager__login-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_manager__login-active" id="filter_manager__login-active" data-type="manager__login">
                                </span>
            <select name="filter_manager__login" id="filter_manager__login" class="form-control">
                <option value="-1">Не важно</option>
                <option value="admin">admin</option>
                <option value="enCopy">enCopy</option>
                <option value="operator">operator</option>
                <option value="root">root</option>
                <option value="xander">xander</option>
                <option value="enCopy2">enCopy2</option>
                <option value="jannak">jannak</option>
                <option value="marinam">marinam</option>
                <option value="dianae">dianae</option>
                <option value="elenam">elenam</option>
                <option value="olesya">olesya</option>
                <option value="katarn">katarn</option>
                <option value="RaSeR">RaSeR</option>
                <option value="truth4oll">truth4oll</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_status" class="col-xs-1 control-label">Статус заказа</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_status-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_status-active" id="filter_status-active" data-type="status">
                                </span>
            <select name="filter_status" id="filter_status" class="form-control">
                <option value="-1">Не важно</option>
                <option value="0">Отклоненные</option>
                <option value="1">Новые</option>
                <option value="2">Подтвержденные</option>
                <option value="3">Доставленные</option>
                <option value="4">В обработке/купленные</option>
                <option value="5">На складе (отклоненные)</option>
                <option value="6">На складе (неполные)</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_order-start" class="col-xs-1 control-label">Дата заказа</label>
    <div class="col-xs-4">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_DateAdd-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_DateAdd-active" id="filter_DateAdd-active" data-type="DateAdd">
                                </span>
            <input type="text" class="form-control form-datepicker" name="filter_DateAdd-start" id="filter_DateAdd-start" placeholder="Дата заказа с">
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <input type="text" class="form-control form-datepicker" name="filter_DateAdd-end" id="filter_DateAdd-end" placeholder="Дата заказа до">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_order-ks-start" class="col-xs-1 control-label">Дата отправки в КС</label>
    <div class="col-xs-4">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_DateSendCourier-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_DateSendCourier-active" id="filter_DateSendCourier-active" data-type="DateSendCourier">
                                </span>
            <input type="text" class="form-control form-datepicker" name="filter_DateSendCourier-start" id="filter_DateSendCourier-start" placeholder="Дата отправки в КС с">
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <input type="text" class="form-control form-datepicker" name="filter_DateSendCourier-end" id="filter_DateSendCourier-end" placeholder="Дата отправки в КС до">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_order-delivery-start" class="col-xs-1 control-label">Дата доставки</label>
    <div class="col-xs-4">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_DateEnd-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_DateEnd-active" id="filter_DateEnd-active" data-type="DateEnd">
                                </span>
            <input type="text" class="form-control form-datepicker" name="filter_DateEnd-start" id="filter_DateEnd-start" placeholder="Дата доставки с">
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <input type="text" class="form-control form-datepicker" name="filter_DateEnd-end" id="filter_DateEnd-end" placeholder="Дата доставки до">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_order-money-start" class="col-xs-1 control-label">Дата получения денег</label>
    <div class="col-xs-4">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_DateMoneyIncome-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_DateMoneyIncome-active" id="filter_DateMoneyIncome-active" data-type="DateMoneyIncome">
                                </span>
            <input type="text" class="form-control form-datepicker" name="filter_DateMoneyIncome-start" id="filter_DateMoneyIncome-start" placeholder="Дата получения денег с">
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <input type="text" class="form-control form-datepicker" name="filter_DateMoneyIncome-end" id="filter_DateMoneyIncome-end" placeholder="Дата получения денег до">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_subtotal" class="col-xs-1 control-label">Стоимость без скидки</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_Sum-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_Sum-active" id="filter_Sum-active" data-type="Sum">
                                </span>
            <input type="text" class="form-control" name="filter_Sum" id="filter_Sum" placeholder="Стоимость без скидки">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_total" class="col-xs-1 control-label">Стоимость со скидкой</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_dSum-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_dSum-active" id="filter_dSum-active" data-type="dSum">
                                </span>
            <input type="text" class="form-control" name="filter_dSum" id="filter_dSum" placeholder="Стоимость со скидкой">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_logistic" class="col-xs-1 control-label">Статус Логистика и Оплата</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_logistic-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_logistic-active" id="filter_logistic-active" data-type="logistic">
                                </span>
            <input type="text" class="form-control" name="filter_logistic" id="filter_logistic" placeholder="Статус логистика и оплата">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_product-articul" class="col-xs-1 control-label">Артикул товара в заказе</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_product__articul-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_product__articul-active" id="filter_product__articul-active" data-type="product__articul" disabled>
                                </span>
            <input type="text" class="form-control" name="filter_product__articul" id="filter_product__articul" placeholder="Артикул товара в заказе">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_couriersAddress__delivery_type" class="col-xs-1 control-label">Тип доставки</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_couriersAddress__delivery_type-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_couriersAddress__delivery_type-active" id="filter_couriersAddress__delivery_type-active" data-type="couriersAddress__delivery_type">
                                </span>
            <select name="filter_couriersAddress__delivery_type" id="filter_couriersAddress__delivery_type" class="form-control">
                <option value="-1">Не важно</option>
                <option value="курьером">Курьером</option>
                <option value="самовывоз">Самовывоз</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_couriers__couriersId" class="col-xs-1 control-label">Курьерская служба</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_couriers__couriersId-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_couriers__couriersId-active" id="filter_couriers__couriersId-active" data-type="couriers__couriersId">
                                </span>
            <select name="filter_couriers__couriersId" id="filter_couriers__couriersId" class="form-control">
                <option value="-1">Не важно</option>
                <option value="2">IM-Logistics</option>
                <option value="3">B2Bpl</option>
                <option value="4">DPD</option>
                <option value="5">Почта России</option>
                <option value="6">Parfumoff Express</option>
                <option value="7">Boxberry</option>
                <option value="8">Top-Delivery</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_delivery-cost" class="col-xs-1 control-label">Расход на доставку</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_delivery_cost-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_delivery_cost-active" id="filter_delivery_cost-active" data-type="delivery_cost">
                                </span>
            <input type="text" class="form-control" name="filter_delivery_cost" id="filter_delivery_cost" placeholder="Расход на доставку">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_payment_type" class="col-xs-1 control-label">Тип оплаты</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_payment_type-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_payment_type-active" id="filter_payment_type-active" data-type="payment-type">
                                </span>
            <select name="filter_payment_type" id="filter_payment_type" class="form-control">
                <option value="-1">Не важно</option>
                <option value="2">Предоплата на РС</option>
                <option value="1">Наличные при получении</option>
                <option value="3">Робокасса</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="filter_productOrders__title" class="col-xs-1 control-label">Название товара в заказе</label>
    <div class="col-xs-8">
        <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="filter_productOrders__title-active" class="sr-only"></label>
                                    <input type="checkbox" name="filter_productOrders__title-active" id="filter_productOrders__title-active" data-type="product__title" disabled>
                                </span>
            <input type="text" class="form-control" name="filter_productOrders__title" id="filter_productOrders__title" placeholder="Поиск по названию товара в заказе">
        </div>
    </div>
</div>
<div class="form-actions text-right">
    <button class="btn btn-default" type="button" id="make__download">Выгрузки</button>
    <button class="btn btn-primary" id="do__filter" type="submit">Применить</button>
</div>
</form>
{literal}
<script>

    $("#do__filter").on('click', function(e) {
        e.preventDefault();

        var $this           = $(this),
                f               = $this.parents('form'),
                addictParams    = [];

        $.each(f.find("input, select"), function(i, item) {

            var $item = $(item);

            if($item.attr("type") == "checkbox") {
                var checked = $item.is(":checked") ? 1 : 0;
                addictParams.push($item.attr("name")+"="+checked);
            } else {
                addictParams.push($item.attr("name")+"="+encodeURIComponent($item.val()));
            }
        });

        $.ajax({
            type: 'get',
            url: {/literal}'?ajax={$smarty.get.module}&action=mod&status={$smarty.get.status}&is_sale={$smarty.get.is_sale}&'+addictParams.join("&"){literal},
            data: {
                get_only_keys: 1
            },
            success: function(response) {

                if (response != null) {

                    var $wrapper = $('#flex_wrapper');
                    $wrapper.empty();
                    $wrapper.append("<table id='grid_table' class='flexigrid'></table>");

                    $("#grid_table").flexigrid({
                        url: {/literal}'?ajax={$smarty.get.module}&action=mod&status={$smarty.get.status}&is_sale={$smarty.get.is_sale}&'+addictParams.join("&"){literal},
                        dataType: 'json',
                        colModel : response,
                        buttons : [
                            {/literal}{if $smarty.get.status eq '1'}{literal}
                            {name: 'Выделить все', bclass: 'check', onpress : test},{separator: true},
                            {name: 'Снять выделение', bclass: 'uncheck', onpress : test},{separator: true},{separator: true},{separator: true},{name: 'Действия с выделенными заказами <strong>&#9658;</strong>', bclass: ''},{separator: true},
                            {name: 'Подтвердить', bclass: '', onpress : test},{separator: true},
                            {name: 'Отклонить', bclass: '', onpress : test},{separator: true},
                            {/literal}{/if}{literal}

                            {/literal}{if $smarty.get.status eq '2'}{literal}
                            {name: 'Выделить все', bclass: 'check', onpress : test},{separator: true},
                            {name: 'Снять выделение', bclass: 'uncheck', onpress : test},{separator: true},{separator: true},{separator: true},{name: 'Действия с выделенными заказами <strong>&#9658;</strong>', bclass: ''},{separator: true},
                                {/literal}{if $smarty.session.admin_user_login eq 'admin'}{literal}{name: 'Доставить', bclass: '', onpress : test},{separator: true},{/literal}{/if}{literal}
                            {name: 'Отклонить', bclass: '', onpress : test},{separator: true},
                            {separator: true},{separator: true},{name: 'В блокнот', bclass: '', onpress : test},{separator: true},
                            {/literal}{/if}{literal}

                            {/literal}{if $smarty.get.status eq '5' or $smarty.get.status eq '6' }{literal}
                            {name: 'Выделить все', bclass: 'check', onpress : test},{separator: true},
                            {name: 'Снять выделение', bclass: 'uncheck', onpress : test},{separator: true},{separator: true},{separator: true},{name: 'Действия с выделенными заказами <strong>&#9658;</strong>', bclass: ''},{separator: true},
                            {name: 'Отклонить', bclass: '', onpress : test},{separator: true},
                            {/literal}{/if}{literal}
                            {name: 'ДЕЙСТВИЯ С ЗАКАЗАМИ', bclass: '', onpress : orderActions},{separator: true},{separator: true}
                        ],
                        usepager: true,
                        showTableToggleBtn: true,
                        width: 'auto',
                        height: 'auto',
                        useRp: true,
                        rpOptions: [5,30,50,100],
                        rp: {/literal}{if $smarty.get.status eq '0' OR $smarty.get.status eq '3'}5{else}30{/if}{literal},
                        pagestat: 'Показано с {from} по {to} из {total} заказов',
                        procmsg: 'Обработка, пожалуйста, подождите ...',
                        nomsg: 'Нет элементов'
                    });
                } else {
                    $("#grid_table").flexOptions({
                        url: {/literal}'?ajax={$smarty.get.module}&action=mod&status={$smarty.get.status}&is_sale={$smarty.get.is_sale}&'+addictParams.join("&"){literal}
                    }).flexReload();
                }
            }
        });
    });
</script>
{/literal}
</div>
</div>
</div>
</div>
<div id="flex_wrapper">
    <table id="grid_table" class="flexigrid" style="display:none"></table>
</div>
<div class="modal modal__black fade" id="download__modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Выполнение выгрузки</h4>
            </div>
            <div class="modal-body">
                <p class="hidden text-warning"></p>
                <ul class="list-unstyled" id="download__list" style="margin-bottom: 0;">
                    <li class="option"><span class="option-title" data-action="get_sklad" data-url="note_sklad.csv">CSV Накладная</span></li>
                    <li class="option"><span class="option-title" data-action="sklad_print" data-url="print_all.html" data-addict="&status=4&date={$smarty.get.date}&folder={$smarty.get.folder}">Распечатать</span></li>
                    <li class="option"><span class="option-title" data-action="sklad_print_logistics" data-url="print_all_logistics.html" data-addict="&status=4&date={$smarty.get.date}&folder={$smarty.get.folder}">Распечатка для IM-Logistics</span></li>
                    <!--li class="option"><span class="option-title" data-action="sklad_print_post" data-url="print_all_post.html" data-addict="&status=4&date={$smarty.get.date}&folder={$smarty.get.folder}">Распечатка для Почты России</span></li-->
                    <li class="divider option"></li>
                    <li class="option"><span class="option-title" data-action="get_sklad_logistics" data-url="parfumoff-logistics.csv">CSV для IM-Logistics</span></li>
                    <li class="option"><span class="option-title" data-action="get_post_service" data-url="parfumoff-postservice.csv">Почтальон сервис</span></li>
                    <!--li class="option"><span class="option-title" data-action="get_sklad_courier" data-url="enigme-ru-courier.xml">XML для Ru-Courier</span></li-->
                    <li class="option"><span class="option-title" data-action="get_sklad_courier_2" data-url="parfumoff-ru-courier-2.xml">XML для Ru-Courier</span></li>
                    <li class="option"><span class="option-title" data-action="get_sklad_post" data-url="parfumoff-post.csv">CSV для Почты России</span></li>
                    <li class="option"><span class="option-title" data-action="get_sklad_bxb" data-url="parfumoff-boxberry.xml">XML для Boxberry</span></li>
                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>