{include file="calendar.tpl"}
{include file="editor.tpl"}
{strip}
<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<form action="
		?main={$smarty.get.main}
		&worker={$smarty.get.module}
		&action=add" 
		method="post" enctype="multipart/form-data" name="form">
	
	<tr>
		<td align="left" bgcolor="#eef1f7" colspan="2">
		&nbsp;&nbsp;Основная информация
		</td>
	</tr>
	
	<tr>
		<td align="left" width="25%"><span style="color:red;">*</span>&nbsp;Клиент:</td>
		<td align="left">
			<select name="sel_client" style="width:100%">
				<option value="null">-- Выберите клиента --</option>
				{$sel_client}
			</select>	
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Расположение:</td>
		<td align="left">
			<select name="sel_shablon" style="width:100%">
				<option value="null">-- Выберите шаблон --</option>
				{$sel_shablon}
			</select>	
		</td>
	</tr>
	
	<tr>
		<td align="left" valign="top">
		&nbsp;&nbsp;Отключить редактор&nbsp;
		<input type="checkbox" name="is_code" onchange="toggleEditor('text');"><br>
		&nbsp;&nbsp;<b>Если отключен редактор, то на сайте <br>
		&nbsp;&nbsp;код будет не стилизован.</b>
		</td>
		<td align="left">
			<textarea name="text" style="width:100%" rows=10></textarea>
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;TITLE:</td>
		<td align="left">
			<input type="text" name="title" value="" style="width:100%;">
		</td>
	</tr>
	
	<tr>
		<td align="left">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" style="border:0px">&nbsp;&nbsp;URL:</td>
				<td align="right" style="border:0px">
					<a href="#" 
					onmouseover="return overlib('
					Оставьте поле пустым, для отключения системы кликов
					', CAPTION, 'Информация', LEFT);" 
					onmouseout="return nd();" >
					<img src="images/warnings.png" width="16" height="16" border="0"></a>
				</td>
			</tr>
			</table>
		</td>
		<td align="left">
			<input type="text" name="url" value="" style="width:100%;">
		</td>
	</tr>
	
	<tr>
		<td align="left" bgcolor="#eef1f7" colspan="2">
		&nbsp;&nbsp;Параметры публикации
		</td>
	</tr>
	
	<tr>
		<td align="left">&nbsp;&nbsp;Блокировка:</td>
		<td align="left">
			<input type="checkbox" name="is_block">
		</td>
	</tr>
	
	<tr>
		<td align="left">&nbsp;&nbsp;Открывать в новом окне:</td>
		<td align="left">
			<input type="checkbox" name="is_target">
		</td>
	</tr>
	
	<tr>
		<td align="left">&nbsp;&nbsp;Ограничение кликов:</td>
		<td align="left">
			<input type="text" name="clicks_end" value="0" style="width:50px;">
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Дата создания:</td>
		<td align="left">
			<input type="text" name="date1" id="date1" value="{$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}" />
			&nbsp;<input type="button" id="trigger1" value=" ... ">
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Начало публикации:</td>
		<td align="left">
			<input type="text" name="date2" id="date2" value="{$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}" />
			&nbsp;<input type="button" id="trigger2" value=" ... ">
		</td>
	</tr>
	
	<tr>
		<td align="left">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" style="border:0px">&nbsp;&nbsp;Конец публикации:</td>
				<td align="right" style="border:0px">
					<a href="#" 
					onmouseover="return overlib('
					Оставьте поле пустым, если не хотите завершения публикации
					', CAPTION, 'Информация', LEFT);" 
					onmouseout="return nd();" >
					<img src="images/warnings.png" width="16" height="16" border="0"></a>
				</td>
			</tr>
			</table>
		</td>
		<td align="left">
			<input type="text" name="date3" id="date3" />
			&nbsp;<input type="button" id="trigger3" value=" ... ">
		</td>
	</tr>
	
	<tr>
	<td align="left" colspan="2">
		<input type="submit" name="add" value="Сохранить" style="width:100px">
	</td>
	</tr>
</table>
</form>
{/strip}

{literal}
<script type="text/javascript">
	Calendar.setup({
	inputField     :    "date1",
	ifFormat       :    "%Y-%m-%d %H:%M:%S",
	timeFormat     :    "24",
	button         :    "trigger1",
	singleClick    :    true,
	step           :    1
	});
</script>
<script type="text/javascript">
	Calendar.setup({
	inputField     :    "date2",
	ifFormat       :    "%Y-%m-%d %H:%M:%S",
	timeFormat     :    "24",
	button         :    "trigger2",
	singleClick    :    true,
	step           :    1
	});
</script>
<script type="text/javascript">
	Calendar.setup({
	inputField     :    "date3",
	ifFormat       :    "%Y-%m-%d %H:%M:%S",
	timeFormat     :    "24",
	button         :    "trigger3",
	singleClick    :    true,
	step           :    1
	});
</script>
{/literal}