{strip}

<!-- Подключение хидера -->

<table width="100%" border="0" cellpadding="1" cellspacing="1" class="form">
<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=order" method="post" enctype="multipart/form-data" name="formMod">
      
	<!-- Заголовок таблицы данных -->
	<tr align="center" class="table_header">
      	<td width="3%" align="center" height="22"></td>
        <td width="3%"><div align="center"><b>N</b></div></td>
        <td width="15%" align="center"><b>&nbsp;Клиент</b></td>
        <td width="" align="left"><b>&nbsp;Заголовок (TITLE)</b></td>
        
        <td width="25%" align="center"><b>&nbsp;Период</b>&nbsp;[начало]&nbsp;-&nbsp;[конец]</td>
        
        <td width="5%" align="center">
        	<a href="#" 
				onmouseover="return overlib('Ограничение по количеству переходов', LEFT);" 
				onmouseout="return nd();" ><img src="images/b_comment.png" width="16" height="16" border="0"></a>
        </td>
        
        <td width="5%" align="center">
        	<b>CLICKS</b>
        </td>
        
        <td width="5%" align="center">
        	<b>HITS</b>
        </td>
        
        <td width="5%" align="center">
        	<b>CTR</b>
        </td>
        
        <td width="3%" align="center">
        	<a href="#" 
				onmouseover="return overlib('Активность записи', LEFT);" 
				onmouseout="return nd();" ><img src="images/b_comment.png" width="16" height="16" border="0"></a>
        </td>
	</tr>
	<!-- Заголовок таблицы данных -->

	<!-- Вывод списка -->
	{section name=j loop=$item_group}
		
		<tr style="background-color:#f2f2f2;color:gray;">
			<td align="left" height="25px" colspan="10">
				&nbsp;{$item_group[j].name}
			</td>
		</tr>
		
		{section name=i loop=$item}
			{if $item_group[j].id eq $item[i].id_shablon}
			
			<tr style="background-color:#f8f8f8;">
				<td align="center" height="25px"><input type="checkbox" name="id[]" value="{$item[i].id}"></nobr></td>
				<td align="center">{$item[i].n}.</td>
				<td align="center">{$item[i].client}</td>
				<td align="left">
				&nbsp;<a href="?main={$smarty.get.main}
							   &module={$smarty.get.module}
							   &action=edit
							   &id={$item[i].id}">{$item[i].title}</a>
				</td>
				<td align="center">
					<span style="color:blue;">[{$item[i].startDate}]</span>
					&nbsp;-&nbsp;
					{if $item[i].endDate eq '0000-00-00 00:00:00'}
					<span style="color:gray;">[{$item[i].endDate}]</span>
					{else}
					<span style="color:red;">[{$item[i].endDate}]</span>
					{/if}
				</td>
				<td align="center">
					{if $item[i].clicks_end eq '0'}
					<span style="color:gray;"><b>{$item[i].clicks_end}</b></span>
					{else}
					<span style="color:red;"><b>{$item[i].clicks_end}</b></span>
					{/if}
				</td>
				<td align="center"><b>{$item[i].clicks}</b></td>
				<td align="center"><b>{$item[i].hits}</b></td>
				<td align="center"><b>{$item[i].ctr}&nbsp;%</b></td>
				<td align="center"><img src="images/{$item[i].is_block}" width="14" height="14" border="0"></td>
			</tr>
			
			{/if}
		{/section}
	{/section}
	<!-- ------------ -->
</table>

<!-- Подключение пагиса -->

<!-- Подключение футера -->
{include file="modules/banner/table_footer.tpl"}
</form>
{/strip}