{strip}

<table width="100%" border="0" cellpadding="1" cellspacing="1" class="form">
<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=order" method="post" enctype="multipart/form-data" name="formMod">
      
	<!-- Заголовок таблицы данных -->
	<tr align="center" class="table_header">
      	<td width="3%" align="center" height="22"></td>
       	<td width="3%"><div align="center"><b>N</b></div></td>
        	<td width="5%" align="center"><b>E</b></td>
       	<td width="" align="left"><b>&nbsp;Название блока меню</b></td>
	<td width="3%" align="center"><b>A</b></td>
	</tr>
	<!-- Заголовок таблицы данных -->
      
	<!-- Вывод списка -->
	{section name=i loop=$item}
	<tr style="background-color:{$item[i].bgcolor};">
		<td align="center" height="25px"><input type="checkbox" name="id[]" value="{$item[i].id}"></nobr></td>
		<td align="center">{$item[i].n}.</td>
		<td align="center">
			<a href="?main={$smarty.get.main}
					   &module={$smarty.get.module}
					   &action=change_cat
					   &id={$item[i].id}">
			<img src="images/folder_cubes.png" width="16" height="16" border="0"></a>
		</td>
		
		<td align="left">
		&nbsp;<a href="?main={$smarty.get.main}
					   &module={$smarty.get.module}
					   &action=edit_menu
					   &id={$item[i].id}">{$item[i].title}</a>
		
		</td>
		
		<td align="center"><img src="images/{$item[i].is_block}" width="14" height="14" border="0"></td>
	</tr>
	{/section}
	<!-- ------------ -->
</table>

<!-- Подключение футера -->
{include file="table_footer.tpl"}
</form>
{/strip}