{strip}

<!-- Подключение хидера -->
<table width="100%" border="0" cellpadding="1" cellspacing="1" class="form">
<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=delete_role" method="post" enctype="multipart/form-data" name="formMod">
      
	<!-- Заголовок таблицы данных -->
	<tr align="center" class="table_header">
      	<td width="3%" height="22px" align="center"><b>X</b></td>
        <td width="3%" align="center"><b>N</b></td>
        <td width="" align="left"><b>&nbsp;Заголовок</b></td>
        <td width="3%" align="center"></td>
	</tr>
	<!-- Заголовок таблицы данных -->
      
	<!-- Вывод списка -->
	{section name=i loop=$item}
	<tr style="background-color:{$item[i].bgcolor};">
		<td align="center" height="25px"><input type="checkbox" name="id[]" value="{$item[i].id}"></td>
		<td align="center">{$item[i].n}.</td>
		<td align="left">
			&nbsp;<a href="?main={$smarty.get.main}
						   &module={$smarty.get.module}
						   &action=edit
						   &id={$item[i].id}">{$item[i].title}</a>
		</td>
		<td align="center">
			<a href="#" 
				onmouseover="return overlib('{$item[i].anot}', LEFT);" 
				onmouseout="return nd();" ><img src="images/help.png" width="24" height="24" border="0"></a>
		</td>
	</tr>
	{/section}
	<!-- ------------ -->
</table>

<!-- Подключение футера -->
{include file="modules/role/table_footer.tpl"}
</form>
{/strip}