{strip}

<table width="100%" border="0" cellpadding="3" cellspacing="0" class="form_add">
	<tr>
		<td align="left" bgcolor="#eef1f7">
		<img align="left" src="images/folder_add.png" width="16" height="16"></img>
		<a href="#" onclick="hideshow('sh_add_module'); return false;">
			<div align=left class="link_block">&nbsp;Добавить статический модуль</div>
		</a>
		</td>
	</tr>
</table>

<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=add_module" method="post" enctype="multipart/form-data" name="formMods">

<div style="display:none" id='sh_add_module'>
<table width="100%" border="0"  cellpadding="5" cellspacing="0" class="form_add" style="border-top: #abb6d7 0px solid;">
	
	
	<tr>
		<td align="left" width="30%"><span style="color:red;">*</span>&nbsp;Название модуля:</td>
		<td align="left" width="70%">
			<input type="text" name="title" value="" style="width:100%;">
		</td>
	</tr>
	
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Тип раздела:</td>
		<td align="left">
			<input type="text" name="name" value="" style="width:100%;">
		</td>
	</tr>
	
	<tr>
	<td align="left" colspan="2">
		<input type="submit" name="add_module" value="Добавить" style="width:100px">
		</form>
	</td>
	</tr>
</table>
</div>
{/strip}