{strip}
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="header_bottom" >
	<tr>
		<td width="50%" align="left" height="30">
			<select name="actions">
			    <option value='null'>-- Действия --</option>
			    {html_options values=$sel_id output=$sel_names selected=$is_active}
			</select>
		</td>
		<td align="right">
			<input type="submit" name="Submit" value="Применить">
		</td>
	</tr>
</table>
{/strip}