{strip}
<html>
<head>
<title>Панель администратора</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
{literal}
<!--[if lt IE 7]>
<![if gte IE 5.5]>
<script type="text/javascript" src="js/fixpng.js"></script>
<style type="text/css"> 
.iePNG, IMG { filter:expression(fixPNG(this)); } 
.iePNG A { position: relative; }/* стиль для нормальной работы ссылок в элементах с PNG-фоном */
</style>
<![endif]>
<![endif]-->
{/literal}

<body>
<table align="center" width="100%" height="100%" border="0">
<tr><td valign="middle">
	<table align="center" width="300" border="0" cellpadding="10" cellspacing="0" class="form">
		<tr bgcolor="#f5f9e3">
			<td align="center" width="48">
			<img src="images/error.png" width="48" height="48" border="0">
			</td>
			<td align="left" class="text">
			<b>{$info}</b><br>
				<a href="javascript:history.go(-1);">&larr;&nbsp;вернуться</a>
			</td>
		</tr>
	</table>
</td></tr>
</table>
</body>
</html>
{/strip}