{strip}

<input alt="#TB_inline?height=70&width=300&inlineId=err_maessage" title="Системное сообщение" class="thickbox" type="button"  style="display:none;" />
<div id="err_maessage" style="display:none;">
<table align="center" width="300" border="0" cellpadding="10" cellspacing="0">
	<tr>
		<td align="center" width="48">
		<img src="images/error.png" width="48" height="48" border="0">
		</td>
		<td align="left" class="text">
		<b>Не заполнены обязательные поля !</b>
		</td>
	</tr>
</table>
</div>

{/strip}