<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Панель администратора</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

{literal}
<style media="screen,projection" type="text/css">
body {
	margin:0px;
	padding:0px;
	background-image: url('/images/default/BG.jpg');
	background-color:#000;
}
INPUT{border: 1px #7f9c9a solid; font: 11px Arial; color: #717070;background-color: #ffffff;}
.text {color:gray; font-family: Arial;font-size: 11px;}
.text {border: 2px #3e726e solid; background-color: #eee;}
</style>
{/literal}

{strip}
<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0">
<br>
<br>
<br>
<form name="formReg" method="post" action="index.php">
<table width="250"  border="0" cellpadding="0" cellspacing="10" align="center" class="text">
	<tr>
		<td colspan="2" height="30" style="font-size: 19px;color:#7f9c9a;" align="left">ПАНЕЛЬ АДМИНИСТРАТОРА</td>
	</tr>	

	<tr>
		<td width="20%">Логин:</td>
		<td width="80%"><input type="text" name="login" maxlength="30" style="width:100%;"></td>
	</tr>
	
	<tr>
		<td >Пароль:</td>
		<td ><input type="password" name="password" maxlength="30" style="width:100%;"></td>
	</tr>
	
	<tr>
		<td colspan="2" align="right"><input type="submit" name="auth" value="вход" style="width:60px;"></td>
	</tr>
    
</table>
</form>

</body>
</html>
{/strip}