<table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" class="header1" >
<tr>
	<td width="35" style="padding-right:5px"><img src="images/header/{$img}" width="60" height="60"></td>
	<td id="header1">{$header}</td>
	<td align="right" width="200px" valign="bottom">
		{$actions}
	</td>
</tr>
</table>