<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title></title>
<meta name="robots" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>

<body style="width:100%;height:100%;font-family:Arial;margin:0 auto;padding:0;">

<div style="">
<table align="center" style="width: 710px;" valign="middle" border="0" cellspacing="0" cellpadding="0">
<colgroup><col width="12" /> <col width="39" /> <col width="32" /> <col width="45" /> <col width="54" /> <col width="32" /> <col width="121" /> <col width="11" /> <col width="12" /> <col width="38" /> <col width="32" /> <col width="45" /> <col width="54" /> <col width="32" /> <col width="121" /> <col width="11" /> </colgroup>
<tbody> 
<tr class="new_line" style="">
{$order_items}
</tr>
</tbody>
</table>
</div>

</body>


{literal}
<script type="text/javascript">
$(function() {
	var len = $(".item").length;
	var hide_eq1 = len - 1;
	var hide_eq2 = len - 2;
		
	if(isOdd(len)) {
		//Четное
		$(".last:eq("+hide_eq1+")").hide();
		$(".last:eq("+hide_eq2+")").hide();
	} else {
		$(".last:eq("+hide_eq1+")").hide();
	}
	
	$(".new_line:eq(3)").css("page-break-after","always");
});
function isOdd(n) {
    var k=n/2
    return k==Math.floor(k)
}
</script>
{/literal}
</html>