<table align="center" style="width: 846px;height:594px;" valign="middle" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="50%">
		
		</td>
		<td valign="top" width="50%" style="font-weight:bold;font-size:16px;font-family:Arial;color:#444;line-height:30px;">
			<div style="margin-top:297px;margin-right:30px;height:60px">
				<span style="padding-left:50px;">
					{$client.fio}
				</span>
			</div>
			<div style="margin-top:7px;margin-right:30px;height:60px">
				<span style="padding-left:50px;">
					{if $client.region eq 'moscow'}
						Москва, {$client.address}
					{elseif $client.region eq 'region'}
						{$client.postcode}, {$client.city}, {$client.address}
					{else}
						{$client.address}
					{/if}
				</span>
			</div>
		</td>
	</tr>
</table>
<div style="page-break-before: always;"></div>