{strip}
<table width="100%" border="0" cellpadding="3" cellspacing="0" bgcolor="#fafafa">
	<tr>
		<td align="left" height="">
			<select name="actions">
			    <option value='null'>-- Действия --</option>
			    {foreach from=$footer_id key=k item=v}
				    <option value='{$v}'>{$footer_names[$k]}</option>
				{/foreach}
			</select>&nbsp;
			<input type="submit" name="Submit" value="Применить">
			
		</td>
		
		<td align="right" height="">
		{$pages}
		</td>
	</tr>
</table>
{/strip}