#mapBody {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	position: relative;
}
#checkout_popup {
	cursor: pointer;
	position: absolute;
	background: white;
	border: 1px solid;
	border-color: rgb(255, 255, 255);
	box-shadow: 0 5px 10px 0px;
	font-family: Tahoma;
	color: black;
	z-index: 9999999;
	width: 228px;
}
#mapBody #checkout_popup{
	right: 13px;
	margin-top: 45px;
	width: 453px;
}
.select-btn {
	border: none;
	outline:none;
	float:right;
	margin-top: 1px;
}
.carrier_address {
	width: 340px;
}
.map-left {
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.map-left.with-list {
	width: 900px;
}
.map-list {
	width: 300px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
	font: 12px Arial, sans-serif;
	padding: 0;
	margin: 0;
	line-height: 16px;
}
.map-list .ckt-list-item {
	padding: 5px 10px;
	border-bottom: 1px solid rgb(225, 225, 225);
	cursor: pointer;
	width: 100%;
	display: table;
}
.map-list .ckt-list-item:hover {
	background: rgba(0, 0, 0, 0.09);
}
.map-list .ckt-list-item .ckt-list-item-cost {
	color: rgb(37, 128, 255);
	text-align: left;
	margin-top: 2px;
}
.map-list .ckt-list-item.ckt_select {
	background: rgba(5, 119, 255, 0.18);
}
.map-header {
	margin: 21px 0 8px 10px;
	color: #4470b3;
	font-size: 2em;
}
.map-body {
	visibility: inherit;
	height: 543px;
	z-index: 2097854;
}
.map_link{
	margin-left: 15px;
}
.address_choice {
	width: 780px;
	text-align: right;
}
.address_choice>.address {
	font-size: 15px;
	font-weight: bold;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 25px 0;
}
#checkout_popup>.selected{
	background: rgba(0, 0, 0, 0.17);
}
#copblock_widget{
	display: none;
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index: 999;
	margin: 0;
	padding: 0;
}
#copblock_widget .copshadow{
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: #000;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#copblock_widget .copcontent{
	-moz-box-shadow: 0px 0px 40px #333;
	-webkit-box-shadow: 0px 0px 40px #333;
	box-shadow: 0px 0px 40px #333;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=40, Direction=0, Color='#333333')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=40, Direction=0, Color='#333333' );
	position: fixed;
	top: 50%;
	width: 1200px;
	height: 600px;
	left: 50%;
	margin: -300px 0 0 -600px;
}
#closecop {
	cursor: pointer;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	right: -11px;
	top: -11px;
	background-image: url(http://platform.checkout.ru/checkout/img/closecop.png);
	z-index: 9999999;
}
.additional_close{
	top:0!important;
	right:0!important;
}
#copIframe {
	background-color:#FFF;
	width: 100%;
	height: 100%;
	border: none;
}
.choise_button_small{
	float: right;
	padding: 5px 14px;
	margin-top:7px;
	margin-right: 2px;
	background: rgba(5, 111, 237, 0.75);
	color: white;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	margin-left: 15px;
}
.loader, .allert{
	position: absolute;
	left: 50%;
	height: 32px;
	margin-top: 259px;
	width: 32px;
	margin-left: -16px;
	z-index: 9999;
	text-align: center;
}
.input_city_on_map{
	position: absolute;
	z-index: 9999;
	margin: 0!important;
	padding: 0!important;
	margin-top: 14px!important;
	right: 13px;
	width: 445px!important;
	height: 30px!important;
	line-height: 30px!important;
	font-size: 15px;
	-webkit-appearance: none;
	padding-left:10px!important;
	opacity: 0.8;
	border: 0!important;
	background: white!important;
	-webkit-border-radius:0!important;
	text-shadow:none!important;
	-moz-border-radius:0!important;
	-webkit-border-radius:0!important;
	border-radius:0!important;
	-moz-box-shadow:0 2px 45px rgba(0, 0, 0, 1)!important;
	-webkit-box-shadow:0 2px 45px rgba(0, 0, 0, 1)!important;
	box-shadow: 0 2px 45px rgba(0, 0, 0, 1)!important;
	box-sizing: initial;
}
.allert{
	width: 480px;
	height: 20px;
	font-size: 17px;
	margin-top: 260px;
	margin-left: -245px;
	padding: 10px 7px;
	background: white;
	box-shadow: 0 2px 75px rgba(0, 0, 0, 1);
	top:initial;
	height: initial;
}
.allert b{
	vertical-align: top;
}

#isset_carriers{
	display:none;
	position: absolute;
	width: 425px;
	right: 13px;
	margin-top: 80px;
	background:white;
	z-index: 9999;
	box-shadow: 0 2px 45px rgba(0, 0, 0, 1);
	-webkit-appearance: none;
	opacity: 0.8;
	padding: 15px;
	box-sizing: initial;
}
#isset_carriers p, #isset_carriers h4{
	margin: 0;
}
#isset_carriers h4{
	font-size: 13px;
	font-weight: normal;
}
#isset_carriers>div>div{
	float: left;
	width: 100px;
	text-align: center;
	border: 2px white solid;
	border-radius: 6px;
	margin-left: 2px;
}
#isset_carriers>div>div.selected.second{
	border: 2px rgba(0, 197, 0, 0.5) solid;
}
#isset_carriers>div>div.selected.third{
	border: 2px rgba(255, 5, 11, 0.5) solid;
}
div.third, div.second{
	margin-left: -2px;
	cursor: pointer;
}
.img_postamat{
	width: 29px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.img_pvz{
	width: 30px;
	margin-top: 2px;
	margin-bottom: 3px;
}
#isset_carriers:hover, .input_city_on_map:hover{
	opacity: 1;
}
#product_widget h4, #product_widget p, #product_widget span{
	margin-bottom: 0;
	margin-top: 0;
	font-size: 12px;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}
#product_widget p, #isset_carriers p{
	height: 15px;
	line-height: 13px;
	color: gray;
	font-weight: 100;
}
#isset_carriers p{
	color: initial;
}
#city_header{
	overflow: hidden;
	max-width: 300px;
	margin-top: 10px;
}
#city_header input{
	margin-top: 3px;
}
#city_header p, #city_header a{
	margin-bottom: 0;
	margin-top: 5px;
	float:left;
	margin-right: 10px;
	line-height: 17px;
}
#city_header a{
	text-decoration: none;
    border-bottom: 1px dashed;
    overflow: hidden;
    max-width: 180px;
    max-height: 17px;
    margin-right: 0;
    color: #0086cb;
    cursor: pointer;
}

#city_header #checkout_popup{
	right: initial;
	margin: 0 0 0 110px;
	width: initial;
	min-width: 135px;
}

div#additional_info{
	z-index: 99999;
	position: absolute;
	left: 50%;
	width: 500px;
	background: white;
	box-shadow: 0 2px 45px rgba(0, 0, 0, 1);
	padding: 15px;
	margin-left: -250px;
	margin-top: 220px;
}
#additional_info>div{
	max-height: 350px;
	overflow-x: auto;
	line-height: 19px;
}
div#shadov_inner_map{
	height: 100%;
	width: 100%;
	background: black;
	position: absolute;
	z-index: 99999;
	opacity: 0.4;
}
p#term{
	font-size: 11px;
}
div.widget_container{
	width: 100%;
}
.ckt_balloon_header {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	float: left;
	margin-right: 5px;
}
.ckt_i_href {
	cursor: pointer;
	font-size: 11px;
	color: rgb(37, 128, 255);
	font-weight: 100;
	text-decoration: none;
	border-bottom: 1px dotted rgb(37, 128, 255);
	/*float: right;*/
}
.ckt_i_href:hover {
	text-decoration: none;
}
.ckt_balloon_address {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 200;
	margin: 0;
	line-height: 18px;
	float: left;
}
.ckt_balloon_cost {
	color: rgb(37, 128, 255);
	font-size: 12px;
	padding-top: 5px;
	margin:0;
	line-height: 18px;
}
.ckt_balloon_term {
	color: rgb(37, 128, 255);
	font-size: 12px;
	padding-top: 0;
	margin:0;
	min-width: 180px;
	line-height: 18px;
}
.ckt_balloon_info {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	font-weight: 100;
	max-height: 78px;
	overflow: auto;
	margin: 5px 0;
	background-color: rgba(42, 175, 255, 0.08);
	border: 1px solid rgba(42, 175, 255, 0.1);
	padding: 5px 5px 5px 10px;
}
ymaps.ymaps-2-1-44-balloon__content {
	margin-right: 12px !important;
}

@media (max-width: 1200px) {
	#copblock_widget {
		width:100%;
	}

	#copblock_widget .copcontent {
		top:0;
		left:0;
		width:100%;
		height:100%;
		margin:0;
	}
	#closecop {
		top:0;
		right:0;
		background-color:#FFF;
	}
	.map-left.with-list {
		width: 100%;
		margin-left: -300px;
	}
}

@media (max-width: 768px) {
	.map-left.with-list {
		width: 100%;
		margin-left: 0;
	}
	.map-list {
		display: none;
	}
}
