/* Reset, variables, mixins */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input,
textarea,
button,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
div:after,
div:before {
  margin: 0;
  padding: 0;
  border: 0;
  /*
  font-size: 100%;
  font: inherit;
  */
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.transition {
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
/* Plugins */
/* Global styles */
/* open-sans-300 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v13-cyrillic_latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/open-sans-v13-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-cyrillic_latin-300.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
/* open-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v13-cyrillic_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'), url('../fonts/open-sans-v13-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-cyrillic_latin-regular.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v13-cyrillic_latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-v13-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-cyrillic_latin-700.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
html {
  font-size: 10px;
}
/* Blocks */
.top-bar {
  background: #676767;
}
.top-bar__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.8rem;
}
.top-bar__recent {
  font-family: 'Open Sans', 'Arial', serif;
  font-size: 1.4rem;
  color: #fff;
}
.top-bar__recent-link {
  color: #fff;
  text-decoration: none;
}
.enter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.enter__link {
  font-family: 'Open Sans', 'Arial', serif;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}
.enter__link:hover {
  text-decoration: underline;
}
.enter__link:nth-child(n+2) {
  margin-left: 2rem;
}
.enter__link--signup {
  padding-bottom: .2rem;
  border-bottom: 1px dashed #fff;
}
.enter__link--signup:hover {
  border-color: transparent;
  text-decoration: none;
}
.menu {
  background: #f5f5f5;
}
.menu__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.8rem;
}
.menu__item {
  font-size: 1.4rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #000;
  text-decoration: none;
}
.menu__item:hover {
  text-decoration: underline;
}
.logo {
  width: 25.3rem;
  height: 8.5rem;
  background: url(../img/logo.png) no-repeat;
  background-size: cover;
}
.button {
  height: 4.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: 'Open Sans', 'Arial', serif;
  font-size: 1.6rem;
  text-decoration: none;
  -webkit-border-radius: 0 1rem 0 1rem;
          border-radius: 0 1rem 0 1rem;
  background: #eb0081;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.button:hover {
  -webkit-border-radius: 1rem 0 1rem 0;
          border-radius: 1rem 0 1rem 0;
}
.button--grey {
  background: #cbccce;
}
.wrapper {
 /* width: 1176px;*/width: 98rem;
  margin: 0 auto;
}
.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4rem;
}
.header__content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__logo {
  margin-top: -2rem;
}
.header__callback {
  width: 14rem;
  margin-left: 2.5rem;
}
.header__cart-button {
  width: 18rem;
}
.header__cart-link {
  font-family: 'Open Sans', 'Arial', serif;
  color: #35a1e2;
  font-size: 1.6rem;
  margin-top: 1rem;
  display: block;
  text-align: center;
}
.header__cart-link:hover {
  text-decoration: none;
}
.header__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4rem auto 0;
}
.header__categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__categories-item {
  font-size: 1.6rem;
  color: #eb0081;
  font-family: 'Open Sans', 'Arial', serif;
  text-decoration: none;
}
.header__categories-item:hover {
  text-decoration: underline;
}
.header__categories-item:nth-child(n+2) {
  margin-left: 6.5rem;
}
.header__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 2.5rem;
}
.header__city {
  font-size: 1.6rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #000;
  margin-right: 1rem;
  margin-bottom: .1rem;
}
.header__phone {
  font-size: 2.4rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #000;
}
.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.search__input {
  width: 48.5rem;
  height: 4rem;
  border: 1px solid #cacaca;
  border-right: 0;
  font-size: 1.4rem;
  padding-left: 1rem;
  margin-right: 1rem;
  font-family: 'Open Sans', 'Arial', serif;
}
.search__input:focus {
  outline: 0;
}
.search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  -webkit-border-radius: 0 1rem 0 1rem;
          border-radius: 0 1rem 0 1rem;
  background: #00d5b5 url(../img/icon-search.png) no-repeat center;
  cursor: pointer;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.search__button:hover {
  -webkit-border-radius: 1rem 0 1rem 0;
          border-radius: 1rem 0 1rem 0;
}
.alphabet {
  background: #eb0081;
  padding: 1.2rem 0;
  margin: 2.4rem 0;
}
.alphabet__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.alphabet__title {
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Open Sans', 'Arial', serif;
}
.alphabet__link {
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Open Sans', 'Arial', serif;
  display: block;
  margin-left: 6rem;
}
.alphabet__link:hover {
  text-decoration: none;
}
.alphabet__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.2rem;
}
.alphabet__category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.alphabet__category:nth-child(n+2):before {
  content: '';
  display: block;
  width: .8rem;
  height: .8rem;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-top: 1.4rem;
  margin-right: .8rem;
}
.alphabet__item {
  font-size: 3.4rem;
  font-family: 'Open Sans', 'Arial', serif;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.alphabet__item:nth-child(n+2) {
  margin-left: 1.15rem;
}
.catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: .6rem;	
}
.catalog--pink .item__button {
  background: #eb0081;
  height: 3rem;
  width: 11rem;
  font-size: 1.4rem;
  margin-top: 1rem;
}
.catalog--pink .item__name {
  color: #eb0081;
  font-size: 1.4rem;
}
.catalog--pink .item__brand {
  font-size: 1.4rem;
}
.catalog--pink .item__price {
  font-weight: 400;
  font-size: 1.4rem;
}
.item {
  width: 24.5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  text-decoration: none;
  padding: 1.4rem 2.4rem;
  border: 1px solid #eee;
  margin-left: .65rem; /*7.8px;*/
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  margin-right: 0px;
  margin-bottom: 0px;
}
.item:hover {
  border-color: #c8c8c8;
}
.item:nth-child(n+5) {
  margin-top: .65rem;
}
.item:nth-child(4n+1) {
  margin-left: 0;
}
.item__brand {
  font-family: 'Open Sans', 'Arial', serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  white-space: nowrap;
  color: #222;
  text-align: center;
  text-decoration: none;
}
.item__name {
  font-family: 'Open Sans', 'Arial', serif;
  font-size: 1.4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #db0319;
  text-align: center;
  text-decoration: none;
  margin-top: .5rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.item__name:hover {
  text-decoration: underline;
}
.item__picture-container {
  height: 19.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.item__picture {
  max-width: 100%;
  max-height: 100%;
}
.item__price {
  font-family: 'Open Sans', 'Arial', serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
}
.item__button {
  display: block;
  width: 18rem;
  color: #fff;
  margin-top: 1.5rem;
  background: #db0319;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', 'Arial', serif;
  text-decoration: none;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  height: 4rem;
}
.item__button:hover {
  opacity: .7;
}
.categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;	  
}
.categories__item {
  width: 31.8rem;
  width: 50%;
  height: 10rem;
  padding: 1.7rem 1.9rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Arial', serif;
  display: block;
  text-decoration: none;
}
.categories__item:nth-child(n+2) {
  margin-left: .65rem;
}
.categories__item--she {
  background: #c6cbcc url(../img/category-1.jpg) no-repeat top -3rem left;
  background-size: cover;
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.categories__item--he {
  background: #c6cbcc url(../img/category-2.jpg) no-repeat top left;
  background-size: contain;
  text-align: right;
}
.brands {
  margin-top: 10rem;
}
.brands__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.brands__row:nth-child(n+2) {
  margin-top: 5rem;
}
.brands__letter {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 5rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #eb0081;
  width: 7rem;
}
.brands__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.brands__item {
  font-size: 1.6rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #000;
  line-height: 2.5rem;
  text-decoration: none;
  width: 25%;
  display: block;
}
.brands__item:hover {
  text-decoration: underline;
}
.brands__item--bold {
  font-weight: 700;
}
.brands--red .brands__letter {
  color: #db0319;
}
.info {
  border: 1px solid #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6rem;
}
.info__item {
  width: 33.33%;
  padding: 2rem 3rem;
}
.info__item:nth-child(2) {
  background: #f1f1f3;
}
.social__header {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #000;
}
.advantages__header {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #000;
}
.advantages__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.advantages__item:nth-child(n+2) {
  margin-top: 1.5rem;
}
.advantages__item-icon {
  width: 4.7rem;
  height: 3.4rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.advantages__item-icon--original {
  background: url(../img/advantage-1.png) no-repeat;
}
.advantages__item-icon--distributors {
  background: url(../img/advantage-2.png) no-repeat;
}
.advantages__item-icon--cashback {
  background: url(../img/advantage-3.png) no-repeat;
}
.advantages__item-icon--discounts {
  background: url(../img/advantage-4.png) no-repeat;
}
.advantages__item-content {
  font-size: 1.4rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #000;
  line-height: 1.8rem;
}
.advantages__item-content-bold {
  font-weight: 700;
}
.advantages--red .advantages__item-icon--original {
  background: url(../img/advantage-1-red.png) no-repeat;
}
.advantages--red .advantages__item-icon--distributors {
  background: url(../img/advantage-2-red.png) no-repeat;
}
.advantages--red .advantages__item-icon--cashback {
  background: url(../img/advantage-3-red.png) no-repeat;
}
.advantages--red .advantages__item-icon--discounts {
  background: url(../img/advantage-4-red.png) no-repeat;
}
.reviews__header {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #000;
}
.reviews__item:nth-child(n+2) {
  margin-top: 2rem;
}
.reviews__item-author {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Open Sans', 'Arial', serif;
  color: #000;
}
.reviews__item-content {
  font-size: 1.4rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #000;
  line-height: 2rem;
}
.reviews__link {
  color: #35a1e2;
  font-size: 1.6rem;
  font-family: 'Open Sans', 'Arial', serif;
  display: block;
  margin-top: 2rem;
}
.reviews__link:hover {
  text-decoration: none;
}
.footer {
  margin-top: 4rem;
}
.footer__top {
  background: #eb0081;
  padding: 2rem 0;
}
.footer__top-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__content-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__address {
  max-width: 28rem;
  margin-right: 5rem;
}
.footer__address-header {
  font-size: 2.4rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #fff;
  margin-bottom: 1.5rem;
}
.footer__address-content {
  font-size: 1.4rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #fff;
  line-height: 2rem;
}
.footer__categories-item {
  font-size: 1.4rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #fff;
  line-height: 2.5rem;
  display: block;
  text-decoration: none;
}
.footer__categories-item:hover {
  text-decoration: underline;
}
.footer__content-bottom {
  font-size: 1.2rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #fff;
  margin-top: 2.8rem;
}
.footer__payments {
  text-decoration: none;
  display: block;
}
.footer__payments-header {
  font-size: 1.4rem;
  font-family: 'Open Sans', 'Arial', serif;
  color: #fff;
  line-height: 2.5rem;
}
.footer--red .footer__top {
  background: #db0319;
}
.copyright {
  background: #f5f5f5;
}
.copyright__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright__content {
  color: #909090;
  font-size: 1.4rem;
  font-family: 'Open Sans', 'Arial', serif;
}
.copyright__lv-link {
  width: 3.1rem;
  height: 3.1rem;
  background: url(../img/icon-lv.gif) no-repeat;
  background-size: cover;
  display: block;
}
.stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: .7rem 0;
}
.stars__item {
  width: 1.8rem;
  height: 1.8rem;
  background: url(../img/icon-star.png) no-repeat;
  background-size: contain;
}
.stars__item:nth-child(n+2) {
  margin-left: .4rem;
} 
