/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
	body {
		overflow: hidden;
		width: 100%;
	}
	.items.main_page .col-md-3.item {
		width: 30%;
		margin-right: 2%;
	}
	.aromat #tab3 {
		width: auto;
	}
	.aromat .items {
		padding-right: 0;
		margin-right: -20px;
	}
	.aromat .items .col-md-4 {
		width: 30.333%;
	}
	.filter__top {
		display: none;
	}
	.filter__bottom {
		display: block !important;
	}
	.filter__bottom .mCol {
		display: none;
	}
	.filter__bottom .lCol {
		float: none;
		width: auto !important;
		top: 0;
		margin-bottom: 20px;
		border: 1px solid #eee;
		padding: 10px 25px;
	}
	.filter {
		padding: 0;
		border: 0;
	}
	.filter__bottom .rCol {
		text-align: center;
	}
	.filter__bottom .lCol:after {
		display: block;
		content: '';
		clear: both;
	}
	.filter__bottom .lCol .filter_select {
		float: left;
		width: 50%;
		margin-bottom: 0px !important;
	}
	#hide_filter_mobile {
		display: inline-block;
	}
	#hide_filter {
		display: none;
	}
	.filter__bottom .rCol {
		margin-left: 0;
		padding-left: 0;
		position: relative;
		padding-bottom: 20px;
		float: none;
	}
	#filter_it_wrap {
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		top: 0;
	}
	.filter__bottom .rCol .mb20 {
		margin-bottom: 25px !important;
		padding-top: 70px;
	}
	.empty_filter_wrap {
		margin-bottom: 10px !important;
	}
	.filter_options_mobile_wrap {
		display: block;
		padding-top: 10px;
	}
	.container {
		width: auto;
		padding: 0 20px;
	}
	.top_search {
		top: 150px;
		left: 20px;
		right: 20px;
	}
	#top_line {
		/*background: #f5f5f5;*/
		background: #00d4b4;
		height: 50px;
		line-height: 50px;
	}
	#top_line a {
		color: #000;
	}
	#town_choose {
		float: right;
		width: 45%;
		padding-right: 20px;
		position: relative;
		top: 5px;
		text-align: right;
	}
	#top_cart {
		right: 20px;
	}
	.top_search form {
		float: left;
		width: 50%;
	}
	.top_search form input {
		width: 100%;
	}
	#top_nav {
		top: 220px;
		padding: 0 20px;
	}
	#top_nav li {
		float: left;
		padding-right: 20px;
		margin-bottom: 6px;
	}
	header {
		height: 300px;
	}
	#menu {
		display: none;
	}
	#menu_btn {
		top: 9px;
		left: 0px;
		cursor: pointer;
		position: relative;
		display: block;
	}
	#letter_wrap {
		height: auto;
	}
	#letter_wrap ul:after {
		display: block;
		clear: both;
		content: '';
		height: 0;
		width: 0;
	}
	#letter_wrap ul {
		margin-bottom: 10px;
		text-align: left;
	}
	#letter_wrap ul li {
		float: left;
		padding-right: 10px;
		margin-bottom: 10px;
	}
	#last_buy {
		display: none;
	}
	.listing_sort .top {
		display: block;
	}
	.col-span-9 .item, .item, .new {
		width: 42%;
		margin-right: 5%;		
		float: none;
		display: inline-block;
	}
	.items .item.outstock {
		display: none;
	}
	.col-md-9 .item, .col-span-8 .item {
		width: 29.9%;
		vertical-align: top;
	}

	.aromat .items .col-md-4 {
	    width: 45%;
	}
	.social_block {
		width: auto;
		float: none;
	}
	.plusses_block,.comments_block {
		width: 50%;
	}
	#bottom_menu {
		height: auto;
		padding-top: 15px;
	}
	#bottom_menu:after {
		display: block;
	}
	#bottom_menu li {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		line-height: 20px;
	}
	#bottom_nav {
		padding-top: 24px;
	}
	#bottom_nav li {
		width: 130px !important;
		margin-bottom: 20px;
	}

	#menu {
		position: absolute;
		left: 0;
		top: 45px;
		display: block;
		opacity: 0;
		height: 0px;
		overflow: hidden;
		width: auto;
		z-index: 11;
		text-align: left;
		border-right: 1px solid #e0e0e0;
	}
	#menu .container {
		padding: 0
	}
	#menu ul {
		height: auto;
	}
	#menu ul:after {
		display: none;
	}
	#menu ul li a {
		display: block;
		height: 38px;
		line-height: 38px;
		padding: 0 20px;
	}
	#menu ul li {
		width: auto;
		border-bottom: 1px solid #e0e0e0;
		display: block;
	}
	#top_phones .fs26 {
		font-size: 21px !important
	}
	.b-purchase.right {
		display: none;
	}
	.b-purchase.right, .b-purchase.left {
		float: none;
		width: auto;
	}
	.hidden_tablet {
		display: none
	}
	.hidden_desctop {
		display: block;
	}
	.b-purchase.right .last_line div {
		float: none !important;
		margin: 0 0 20px !important;
	}
	.danger_img {
		display: none;
	}
	.aromat_table_tabs {
		height: 45px;
		overflow: hidden;
	}
	.plus_wrap.sb {
		display: none;
	}
	.plus_wrap.wide li br {
		display: none;
	}
}
@media (min-width: 992px) {
	.checkout-form .listing_title {
		margin-left: -15px;
		margin-right: -15px;
	}
	/******** b-order **********************************************************************************/
	.b-order {
		padding-left: 30px;
	}
	.header-order {
		display: block !important;
	}
	/******** modal **********************************************************************************/
	#user_popup {
		width: 25%;
		margin: 0 auto;
	}

} /*End of @media 992px */
@media (max-width: 992px) {
	.show_800 {
		display: block;
	}
}
@media screen and (max-width: 979px) {
	.hide_979 {
		display: none;
	}
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {
	body {
		padding-top: 50px;
	}
	.row .col-span-9 {
		width: 100% !important;
		padding: 0 25px !important
	}
	.why-need:hover #why-need-popup {
		width: 100%;
		min-width: 300px;
	}
	.why-need {
		display: none;
		padding-top: 10px;
		float: none !important;
		clear: both;
	}
	.col-span-9 .item {
		width: auto;
	}
	.row .col-span-3 {
		width: 100% !important;
	}
	.list-type1 {
		margin-bottom: 30px;
	}
	.col-span-9 .items {
		padding-right: 0;
	}
	#town_choose {
		top: 60px;
		line-height: 18px;
	}
	.listing_sort .sort_title {
		width: 100px;
		float: left;
	}
	.listing_sort .sort_options {
		display: block;
		margin-left: 110px;
		margin-bottom: 10px;
	}
	.tag1 {
		padding-right: 5px;
	}
	#search_form {
		/*top: -15px;*/
	}
	#logo.fix_hack {
		margin-bottom: 107px;
	}
	.top_search.fixed {
		position: fixed;
		height: 90px;
		padding-left: 19px;
		left: -5px;
		right: 0;
		padding-bottom: 10px;
		border-bottom: 1px solid #cdcbcc;
		padding-right: 26px;
		top: 50px;
		z-index: 9;
		background: white;
	}
	.top_search {
		margin-bottom: 10px;
	}
	#menu, #user_popup, #phone_popup {
		position: fixed;
		z-index: 10;
	}
	#top_line {
		position: fixed;
		z-index: 10;
		left: 0;
		right: 0;
		top: 0;
	}
	#user_links {
		display: none;
	}
	#top_phones {
		display: none;
	}
	#mobile_cart {
		display: block;
	}
	#top_cart {
		display: none;
	}
	#logo {
		position: relative;
		margin: 20px auto;
		left: auto;
		top: auto;
	}
	.top_search {
		position: relative;
		margin-left: 3px;
		left: auto !important;
		top: auto;
		right: 6px;
	}
	#town_choose {
		display: block;
		float: none;
		width: auto;
		text-align: left;
	}
	.top_search form {
		float: none;
		width: auto;
	}
	#top_nav {
		top: 0;
		padding: 24px 0;
		position: relative;
	}
	#top_nav:after {
		display: none;
	}
	#top_nav li {
		display: block;
		float: none;
		padding: 0 10px;
	}
	#top_nav li a {
		display: block;
	}
	header {
		height: auto;
	}
	#letter_wrap {
		/* display: none; */
	}
	.new {
		margin-bottom: 10px;
		padding: 0;
	}
	.item, .new, .col-md-9 .item {
		width: 100%;
		border: 1px solid #eee;
		padding: 15px 25px; 
		margin: 0 auto 20px;
	}
	.plusses_block,.comments_block {
		width: auto;
		float: none;
	}
	#bottom_phones {
		float: none;
		width: auto;
		padding-left: 0;
	}
	#bottom_nav {
		margin-left: 0;
	}
	#bottom_nav li {
		float: none;
		width: auto !important;
		text-align: left;
	}
	#bottom_nav .pay{
		margin-left: 0;
	}
	#bottom_menu li {
		float: none;
		display: block;
	}

	#mobile_phone {
		display: block;
	}
	#mobile_user_cab {
		display: block;
	}
	.items, .news {
		padding: 0 10px;
		margin-right: 0;
	}
	
}

@media (max-width: 800px) {
	#bottom_phones {
		float: none;
	}
	#bottom_nav ul {
		width: 50%;
		margin-left: 0 !important;
	}
	#bottom_nav ul li {
		width: 100% !important;
	}
	#bottom_nav ul:first-child li {
		margin-bottom: 5px;
	}
	#bottom_nav ul:nth-child(2) li {		
		width: 90% !important;
	}
	#bottom_phones:nth-child(2) .pt20 {
		padding-top: 0 !important;
	}
}

@media (max-width: 768px) {
	
	


	.pol_sort_line {
		display: none;
	}

	#orders .col-xs-12.col-sm-12.col-md-8 {
		padding-right: 15px !important;
	}
	.step1_btn.col-xs-4 {
		display: none;
		display: block;
	}
	.step1_btn.col-xs-8 {
		width: 66.6667%;
	}
	.orders_header {
		height: 160px;
		margin-top: -50px;
	}

	.comment_user_wrap .desc_top .ta_center {
		display: none;
	}
	#cart_wrap .cart_td td img {
		display: none;
	}
	#cart_wrap .your_economy {
		display: none;
	}
	.flora.history li {
		margin-right: 24px;
	}


	.top_brands_wrap {
		display: none;
	}
	.news_wrap.main_page .article {
		width: 50%;		
	}
	
	.news .article .title {
		height: auto;
		margin-bottom: 0px;
	}
	#bottom_menu li {
		margin-right: 7px;
	}
	.tabs_type1 {
		display: none;
	}

	.aromat .listing_title {
		float: none;
	}
	.aromat .aromat_type {
		top: -30px !important;
	}

	.ol__total .color_purple.bold_fat.pull-right br {
		display: none;
	}


	.login_row .col-sm-6.col-md-12 {
		width: 100% !important;
		margin-bottom: 40px;
	}
	.login_row .col-sm-6.col-md-12 button {
		margin: 0;
		position: relative;
	}
	.login_row .forget.mb10 {
		text-align: left !important;
		float: right;
		padding-right: 0 !important;
	}
	.login_row .col-sm-6.col-md-12 .forget {
		padding-right: 15px;
		padding-top: 6px;
	}
	.login_row {
		margin-bottom: 50px;
	}


	#contacts {

	}
	#contacts .row1 .col-xs-4 br {
		display: none;
	}
	#contacts .row.relative .absolute {
		width: 40%
	}

	#top_phones .phone_item {
		/* display: none; */
		text-align: left !important;
		line-height: 1.2;
	}
	#top_phones .phone_item span {
		display: block;
		padding-left: 0 !important;
	}
	#top_phones {
		top: 20px;
		left: 300px;
		right: 20px;
	}
	#callme {
		left: auto;
		margin-left: 0;
		right: 0;
	}
	#top_cart {
		top: 81px;
		text-align: right;
	}
	
	.top_search {
		top: 180px;
	}



	#tab3 {
		width: 100%;
	}
	.aromat .col-span-9.w100 {
		width: 100%;
	}
	.hide_768 {
		display: none;
	}
	.listing_sort .top {
		float: left;
		padding-top: 5px;
	}
	.listing_title {
		float: none !important;
	}
	.listing_sort .top {		
		padding-top: 5px;
	}
	.sort_lh18.ml30.mr10.d_inline-block {
		margin-left: 0 !important;
	}
	.social_wrap {
		display: none;
	}
	.row.log-in .col-xs-5 {
		width: 100%;
	}
	.row.log-in .col-xs-offset-1 {
		margin-left: 33%;
	}
	.b-delivery__table .hide_this_block .input-regs_postcode {
		width: 82px;
	}
	.top_search {
		left: 60%
	}
	.top_search form {
		width: 98%;
	}
	#top_nav {
		top: 185px;
	}
	header {
		height: 250px
	}
	.card_tabs1 {
		display: block;
	}
}

	

@media (min-width: 767px) {

	.orders_list td {
		padding: 20px;
		font-size: 16px;
	}
	.orders_list .btn-pm.minus {
		float: left;
	}
	.orders_list .btn-pm.plus {
		float: right;
	}
	.orders_list .ol__total td {
		padding-left: 4%;
		padding-right: 50%;
	}
	/**********order_list*************/
	.ol__product {width: 260px;}
	.ol__prices {width: 110px;}
	.ol__amount {width: 105px;}
	.ol__cost {width: 110px;}
}
@media (max-width: 700px) {
	.pol_sort_line {
		display: inline-block;
	}
	.card_tabs1 {
		display: none;
	}
	.listing_sort .top {
		float: none;
		padding-top: 5px;
	}
	.sort_lh18.ml30.mr10.d_inline-block {
		margin-left: 0 !important;
	}

}
@media (max-width: 600px) {
	.col-md-9 .item, .col-span-8 .item {
		width: 44%;
	}
	.item .img {
		height: auto;
	}
	#bottom_phones_outer {
		float: none;
	}
	#bottom_nav ul {
		width: 100% !important;
	}
	#bottom_txt {
		top: -40px;
		margin-bottom: -30px;
		line-height: 1.3;
	}


	.login_row .forget.mb10 {
		text-align: left !important;
		float: none;
		padding-right: 0;
	}
	.orders_header {
		height: 85px;
	}
	.orders_header #logo {
		
	}

	.top_search {
		top: 10px;
	}
	header {
		height: 225px;
	}

	.col-xs-12.col-sm-12.show_800 {
		display: none !important;
	}
	.aromat_table_tabs {
		display: none;
	}
	.plus_wrap.wide {
		display: none;
	}
	#orders_login .col-xs-4.step1_btn {
		display: none;
	}
	#orders_login .step1_btn.col-xs-8 {
		width: 100%;
		text-align: center;
	}
	

	.user_wrap .content, .user_wrap .sidebar {
		width: 100%;
		margin-bottom: 50px;
	}
	.user_wrap .sidebar .logout {
		max-width: 250px;
	}


	.login_row .col-sm-6.col-md-12 {
		width: 100% !important;
		margin-bottom: 40px;
	}
	.login_row .col-sm-6.col-md-12 button {
		margin: 0 auto;
		left: 0px;
		position: relative;
	}
	.login_row .col-sm-6.col-md-12 .forget {
		padding-right: 15px;
		padding-top: 6px;
	}
	.login_row {
		margin-bottom: 50px;
	}
	.login_row .col-xs-4, .login_row .col-xs-8 {
		width: 100%;
		text-align: center;
	}



	#contacts .row1 .col-xs-4 {
		width: 100%;
		margin-bottom: 30px;
	}
	#contacts .row.relative .col-xs-4 {
		width: 100%;
		margin-bottom: 30px;
	}
	#contacts .row.relative .absolute {
		left: 25px !important;
		right: 25px !important;
		width: auto !important;
		bottom: 5px !important;
	}
	#contacts .row .col-xs-5 {
		display: none;
	}
	#contacts .row .col-xs-7 {
		width: 100%;
	}

	#top_nav {
		display: none;
	}

	.b-delivery__table .hide_this_block .col-xs-7 {
		width: 50%;
	}
	.b-delivery__table .hide_this_block .col-xs-5.pl0.pr0 {
		width: 50%;
	}
	.b-delivery__table .hide_this_block .col-xs-12.pt10 .col-xs-3 {
		width: 50%;
	}
	.b-delivery__table .hide_this_block .input-stroenie {
		width: 164px;
	}
	.b-delivery__table .hide_this_block .input-domophone {
		width: 166px;
	}
	.b-delivery__table .hide_this_block .input-flat {
		width: 165px;
	}
	.b-delivery__table .hide_this_block .input-regs_postcode {
		width: 181px;
	}
	.aromat .items.main_page .col-md-3.item {
		width: 48%;
		height: 90px;
		overflow: hidden;
	}
	.aromat .items.main_page .col-md-3.item a {
		display: block;
		height: 58px;
		overflow: hidden;
	}

}
@media (max-width: 560px) {
	.jivo-iframe-container-bottom {
		display: none !important;
	}
	.b-delivery__table .hide_this_block .input-stroenie {
		width: 144px;
	}
	.b-delivery__table .hide_this_block .input-domophone {
		width: 146px;
	}
	.b-delivery__table .hide_this_block .input-flat {
		width: 145px;
	}
	.b-delivery__table .hide_this_block .input-regs_postcode {
		width: 161px;
	}
	.b-delivery__table .hide_this_block .input-house {
		width: 48px
	}
	.news_wrap.main_page .article {
		width: 100%;
		height: auto;
	}
	.comment_user_wrap .toggle_desc_wrap {
		display: none;
	}
	.comment_user_wrap .date_history {
		display: none;
	}
	#cart_wrap th {
		font-size: 13px;
	}

	.b-delivery__table tr.item_js.self_item > td {
		padding-top: 10px;
		padding-bottom: 10px;
	}

}
/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {
	.jivo-iframe-container-bottom {
		display: none !important;
	}
	.show_mobile {
		display: block;
	}
	
	body .cat_wrap label {
		width: 50% !important;

	}
	.cat_wrap input, .cat_wrap select {
		width: 45% !important;
	}

	select#day {
	    width: 14% !important;
	}
	select#month {
	    width: 15% !important;
	}
	select#year {
	    width: 14% !important;
	}


	#tab3 .items.main_page .col-md-3.item a {
		height: auto;
	}

	.popup {
		width: 100%;
		margin-left: 0 !important;
		left: 0;
	}
	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}


	#contacts table .head {
		display: none;
	}
	#contacts table tr {
		display: block;
		margin-bottom: 30px;
		border: 1px solid #eee;
		padding: 15px;
	}
	#contacts table tr td {
		display: block;
		border: 0;
		padding: 0 5px;
	}
	#contacts .mobile_col {	
		display: none;
	}
	#contacts .mobile_help {
		display: inline-block !important;
	}
	#contacts table .hide_br br {
		display: none;
	}
	#contacts table .hide_br {
		margin-bottom: 15px;
	}

	.aromat .items.main_page .col-md-3.item {
		width: 100%;
		height: auto;
		overflow: visible;
	}
	.aromat .items.main_page .col-md-3.item a {
		display: block;		
	}

	
	.brand__letter-item {
		width: 100% !important;
	}

	.row.log-in .btn1.relative {
		display: block;
		margin-bottom: 10px;
		width: 100%;
	}
	.row.log-in .col-xs-12.col-xs-offset-4 {
		margin-left: 0;
		padding: 0;
		text-align: center;
	}
	.row.log-in .col-xs-12.col-xs-offset-4 a {
		left: 0 !important;
		top: 10px;
	}
	.row.log-in .col-xs-4.col-xs-offset-1 {
		margin-left: 0;
		width: 100%;

	}
	.row.log-in .col-xs-4.col-xs-offset-1 .btn2 {
		width: 100%;
		text-align: center;
		font-size: 18px;
		top: -20px;
		position: relative;
	}

	

	.b-delivery__table .hide_this_block .input-stroenie {
		width: 104px;
	}
	.b-delivery__table .hide_this_block .input-domophone {
		width: 106px;
	}
	.b-delivery__table .hide_this_block .input-flat {
		width: 105px;
	}
	.b-delivery__table .hide_this_block .input-regs_postcode {
		width: 121px;
	}
	.b-delivery__table .hide_this_block .input-house {
		width: 141px
	}
	.b-delivery__table .hide_this_block .input-corpus {
		float: none;
		margin-right: 0px;
		width: 114px;
	}

	.b-delivery__table .hide_this_block .col-xs-12 .col-xs-7 {
		width: 100%;
	}
	.b-delivery__table .hide_this_block .col-xs-12 .col-xs-5.pl0.pr0 {
		width: 100%;
		padding-left: 15px !important;
	}
	.b-delivery__table .hide_this_block .col-xs-12 .col-xs-5.pl0.pr0 .col-xs-5 {
		width: 50% !important;
	}



	.hidden_480 {
		display: none;
	}
	.b-delivery__table tr.item_js.self_item > td:first-child {
		padding-left: 10px !important;
	}
	.brand_filter {
		display: none;
	}
	#no_aromat_popup {
		top: 80px !important
	}
	#no_aromat_popup .btn2 {
		font-size: 14px !important;
	}
	
	.items.main_page .col-md-3.item {
		width: 85%;
		margin-right: 0;
		border: 1px solid #eee;		
	}
	.items .col-md-3.item {
		padding: 15px;
		border: 1px solid #eee;
	}
	.items.main_page .col-md-3.item .badge_discount {
		display: none;
	}

	.news_wrap, .social_wrap {
		display: none;
	}


	#logo.fix_hack {
		margin-bottom: 97px;
	}

	.filter__bottom .lCol .filter_select {
		float: none;
		width: auto;
	}
	
	#tab1.hidden,#tab2.hidden,#tab3.hidden {
		display: none;
	}
	
	.breadcrumbs {
		display: none;
	}
	.aromat .listing_title__item a {
		text-decoration: underline;
	}
	.aromat .listing_title__item a:hover {
		text-decoration: none;
	}
	.aromat .listing_title__item {
		float: none;
		padding: 0;
		font-size: 22px;
	}
	.aromat {
		padding: 0 !important;
	}
	.listing_sort {
		display: none;
	}
	.top_aromat .col-span-5, .top_aromat .col-span-7 {
		float: none;
		width: auto;
	}
	.top_aromat .col-span-7 {
		margin-right: 0px;
	}
	.icon-cart_green.show_mobile, .icon-no_aromat.show_mobile {
		display: inline-block;
	}
	.listing_sort.mobile {
		display: block;
		text-align: center;
	}
	.hide_mobile, .hidden_mobile {
		display: none;
	}
	.aromat_table .gray {
		background: #f5f5f5;
	}
	.aromat_table .btn3 {
		padding: 0 10px;
	}
	.aromat_table .btn4 {
		padding: 0 7px;
	}
	.listing_sort .sort_title {
		margin-right: 0 !important;
		display: inline-block !important;
		float: none !important;
	}
	.listing_sort .top {
		text-align: center;
	}
	.listing_sort .top .stars {
		margin-right: 0 !important;
	}
	#no_aromat_popup .btn2 {
		font-size: 18px;
		width: 100%;
		display: block;
		text-align: center;
	}
	#no_aromat_popup {
		left: 20px;
		right: 20px;
		top: 180px;
		width: auto;
		height: auto;
		margin-left: 0;
		margin-top: 0;
	}
	/**********order_list*************/
	.ol__product {width: 130px;}
	.ol__amount {width: 80px;}
	.ol__cost {width: 80px;}

	#letter_wrap ul {
		margin-bottom: 0;
	}

	#letter_wrap ul li {
		font-size: 24px;
		margin-bottom: 15px;
		margin-right: 10px;
	}
	.items {
		padding: 0;
	}
	.items .item {
		border: 0;
		padding: 0;
		margin-bottom: 10px;
	}
	.item .price_mobile {
		font-weight: 300;
	}
	.item a {
		display: inline-block;
	}

	.aromat_table.table_new .btn3 {
		height: 35px;
	}
}
@media screen and (max-width: 380px) {
	.b-delivery__table .tr_delivery_item td {
		font-size: 14px;
	}
	/* .tr_delivery_item {
		display: block;
		overflow: hidden;
	}
	.tr_delivery_item td {
		display: block;
		float: left;
	}
	.tr_delivery_item td:nth-child(1) {
		width: 50%;
	}*/
	/* #self__delivery.active_elem td:nth-child(2), #self__delivery.active_elem td:nth-child(3), .b-delivery__self td:nth-child(3), .b-delivery__self td:nth-child(2) {
		display: none;
	}  */
	.tr_delivery_item td:nth-child(3), .tr_delivery_item td:nth-child(2), .bd__data, .bd__cost {
		display: none;
	}
	.b-delivery__table #courier__delivery.tr_delivery_item.active_elem td:first-child {
		border-color: #00d5b4 #00d5b4 transparent #00d5b4 !important;
		display: block;
		margin: 0 -5px 0 -1px;
		height: 70px;
		line-height: 70px;
	}
	.b-delivery__table #courier__delivery.tr_delivery_item.active_elem td:first-child strong {
		vertical-align: middle;
		display: inline-block;
		line-height: 1.2;
	}
	
	.b-delivery__table #self__delivery.tr_delivery_item.active_elem td:first-child {
		border-color: #00d5b4 #00d5b4 #cacaca  #00d5b4 !important;
	}
	.b-delivery__table .b-delivery__self td:first-child {
		border-color: #00d5b4 #00d5b4 #cacaca  #00d5b4 !important;
	}
	

	.b-delivery__table #pochta__delivery.tr_delivery_item.active_elem td:first-child {
		border-color: #00d5b4 #00d5b4 transparent #00d5b4 !important;
		display: block;
		margin: 0 -5px 0 -1px;
		height: 70px;
		line-height: 70px;
	}
	.b-delivery__table #pochta__delivery.tr_delivery_item.active_elem td:first-child strong {
		vertical-align: middle;
		display: inline-block;
		line-height: 1.2;
	}
	

	body .b-delivery__table .hide_this_block .col-xs-12 .col-xs-7 .col-xs-10 input {
		width: 164px !important;
		position: relative;
		left: 16px;
	}
	.col-xs-5.pl0.pr0 .col-xs-5.pl0 label {
		padding-top: 14px;
	}
	.b-delivery__table .hide_this_block .input-house {
		position: relative;
		top: -23px;
	}
	.b-delivery__table .hide_this_block .col-xs-12 .col-xs-5.pl0.pr0 .col-xs-5 {
		height: 58px;
	}
	.col-xs-5.pl0.pr0 .col-xs-6.pr0 label, .col-xs-5.pl0.pr0 .col-xs-6.pr0 input {
		float: left;
	}
	.col-xs-5.pl0.pr0 .col-xs-6.pr0 input {
		position: relative;
		left: 3px;
	}
	body .b-delivery__table .hide_this_block .input-domophone, body .b-delivery__table .hide_this_block .input-regs_postcode {
		margin-left: 23px;
	}
	#courier__delivery_full .bootstrap-select.btn-group .dropdown-menu {
		width: 247px !important;
	}










	#cart_wrap th {
		display: none;
	}
	#cart_wrap {
		overflow: hidden;
	}
	#cart_wrap .total {
		font-size: 16px !important;
	}
	#cart_wrap .cart_td td {
		display: block;
		float: left;
	}
	#cart_wrap tr.cart_td {
		display: block;
		margin-bottom: 20px;
		overflow: hidden;
	}
	#cart_wrap tr.cart_td td {
		width: 100%;
	}
	#cart_wrap td .show_help {
		display: inline-block !important;
	}
	#cart_wrap td .value {
		float: right;
	}
	#cart_wrap .total_right_td {
		width: 100px !important
	}
	.flora.history li {
		width: 100%;
	}



	.town_choose_descr {
		display: block;
		float: none;
		width: 100%;
	}
	#town_choose {
		top: 60px;
	}
	#search_form {
		/*top: -30px;*/
	}
	.top_search.fixed {
		height: 40px;
	}
	.listing_sort .br_line {
		display: block;
	}
	.listing_sort .sort_lh18 {
		line-height: 18px;
		padding-top: 10px;	
	}
	
	#callMe.popup {
		margin-top: 0;
		top: 50px;
	}

	.b-delivery__table .hide_this_block .input-stroenie {
		width: 57px;
	}
	.b-delivery__table .hide_this_block .input-domophone {
		width: 59px;
	}
	.b-delivery__table .hide_this_block .input-flat {
		width: 55px;
	}
	.b-delivery__table .hide_this_block .input-regs_postcode {
		width: 71px;
	}
	.b-delivery__table .hide_this_block .input-house {
		width: 95px
	}
	.b-delivery__table .hide_this_block .input-corpus {
		width: 64px;
	}

	.tester_popup {
		margin-left: -60px;
	}



	.b-delivery__table .hide_this_block .col-xs-12 .col-xs-5.pl0.pr0 .col-xs-5,
	.b-delivery__table .hide_this_block .col-xs-12.pt10 .col-xs-3 {
		width: 100% !important;
	}
	.b-delivery__table .hide_this_block .input-stroenie {
		width: 210px;
		margin-left: 5px;
	}
	.b-delivery__table .hide_this_block .input-domophone {
		width: 210px;
		margin-left: 7px;
		margin-left: 28px;
	}
	.b-delivery__table .hide_this_block .input-flat {
		width: 210px;
		margin-left: 6px;
	}
	.b-delivery__table .hide_this_block .input-regs_postcode {
		width: 210px;
		margin-left: 28px;
	}
	.b-delivery__table .hide_this_block .input-house {
		width: 210px;
		margin-left: 42px;
	}
	.b-delivery__table .hide_this_block .input-corpus {
		width: 210px;
		margin-left: 22px;
	}
	.b-delivery__table .hide_this_block .col-xs-5.pl0.pr0 .col-xs-6.pr0 {
		padding-left: 0;
	}
	.b-delivery__table .hide_this_block .col-xs-12 .col-xs-7 .col-xs-10 input {
		margin-left: 30px;
		width: 210px !important;
	}
	.b-delivery__table .hide_this_block .col-xs-5.pl0.pr0 .col-xs-6.pr0 {
		width: 100%;

	}
	.b-delivery__table .hide_this_block label.one_line {
	    width: 43px;
	}
}
@media screen and (max-width: 320px) {


	body .b-delivery__wrap {
		margin: 20px -28px 10px
	}



	.b-delivery__table .hide_this_block .col-xs-12 .col-xs-5.pl0.pr0 .col-xs-5,
	.b-delivery__table .hide_this_block .col-xs-12.pt10 .col-xs-3 {
		width: 100% !important;
	}
	.b-delivery__table .hide_this_block .input-stroenie {
		width: 167px;
		margin-left: 5px;
	}
	.b-delivery__table .hide_this_block .input-domophone {
		width: 167px;
		margin-left: 28px;
	}
	.b-delivery__table .hide_this_block .input-flat {
		width: 167px;
		margin-left: 6px;
	}
	.b-delivery__table .hide_this_block .input-regs_postcode {
		width: 167px;
		margin-left: 28px;
	}
	.b-delivery__table .hide_this_block .input-house {
		width: 170px;
		margin-left: 42px;
	}
	.b-delivery__table .hide_this_block .input-corpus {
		width: 169px;
		margin-left: 22px;
	}
	.b-delivery__table .hide_this_block .col-xs-5.pl0.pr0 .col-xs-6.pr0 {
		padding-left: 0;
	}
	.b-delivery__table .hide_this_block .col-xs-12 .col-xs-7 .col-xs-10 input {
		margin-left: 30px;
		width: 170px !important;
	}
	.b-delivery__table .hide_this_block .col-xs-5.pl0.pr0 .col-xs-6.pr0 {
		width: 100%;

	}
	

	.aromat_table .btn3 {
		padding: 0 4px;
	}
	.aromat_table.table_new {
		position: relative;
		left: -20px;
	}
}

@media screen and (max-width: 1350px) {
	.filter .lCol {
		width: 230px;
	}
	.filter__bottom .mCol {
		padding: 2px;
	}
	.filter {
		padding: 20px 5px 20px 5px;
	}
}

@media screen and (max-width: 1252px) {
	.filter__bottom .rCol {
		margin-left: 0;
		padding-left: 0;
		position: relative;
		padding-bottom: 20px;
		float: none;
	}
	
	.filter__bottom .rCol {
		text-align: center;
	}
	
	.mCol {
		display: none;
	}
	
	.filter__bottom .lCol {
		float: none;
		width: auto !important;
		top: 0;
		margin-bottom: 20px;
		border: 1px solid #eee;
		padding: 10px 25px;
	}
	
	.filter__bottom {
		display: block !important;
	}
	
	.filter__bottom .lCol .filter_select {
		float: left;
		width: 50%;
		margin-bottom: 0px !important;
	}
	
	.filter_options_mobile_wrap {
		display: block;
		padding-top: 10px;
	}
	
	.filter__bottom .lCol:after {
		display: block;
		content: '';
		clear: both;
	}
	.filter {
		padding: 0;
		border: 0;
	}
}