@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    #logo {
        background: url(../images/retina/logo.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
    }
    .icon-cart_green {
        background: url(../images/retina/cart.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
    }
    .icon-no_aromat {
        background: url(../images/retina/no_item.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
    }
    .icon-search {
        background: url(../images/retina/search.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
    }
    .item .badge_discount {
        background: url(../images/retina/badge.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
    }
    #menu_btn {
        background: url(../images/retina/menu_mobile_def.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
    }
    #menu_btn.active {
        background: url(../images/retina/menu_mobile.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        height: 41px;
    }
    .icon-cart {
        background: url(../images/retina/cart_mobile.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
    }
    #mobile_phone {
        background: url(../images/retina/phone_mobile_def.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        height: 40px;
        width: 47px;
    }
    #mobile_phone.active {
        background: url(../images/retina/phone_mobile.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        height: 46px;
    }
    #mobile_user_cab {
        background: url(../images/retina/search_mobile_def.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        height: 39px;
        width: 40px;
    }
    #mobile_user_cab.active {
        background: url(../images/retina/search_mobile.png) 0 0 no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        height: 48px;
    }
}