/* Reset, variables, mixins */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
/*
strong,
*/
sub,
sup,
tt,
var,
/*
b,
*/
u,
i,
center,
input,
textarea,
button,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
div:after,
div:before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: underline;
}
a:hover { 
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.transition {
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
/* Plugins */
/* Global styles */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Semibold.woff2') format('woff2'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.woff2') format('woff2'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 10px;
  -webkit-text-size-adjust: none;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
}
/* Blocks */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}
.header__cart {
  height: 4rem;
  width: 20rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper {
  max-width: 120rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}
.enter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.enter__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}
.enter__link:hover {
  text-decoration: underline;
}
.enter__divider {
  color: #fff;
  font-size: 1.4rem;
  margin: 0 .5rem;
}
.top-bar {
  background-color: #676767;
}
.top-bar__wrapper {
  height: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo {
  text-decoration: none;
}
.logo__picture {
  max-width: 23.5rem;
}
.logo__title {
  margin: .9rem 0 1.3rem;
  color: #eb0181;
  font-size: 1.5rem;
  letter-spacing: .19rem;
}
.logo__age {
  color: #eb0181;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .19rem;
}
.phone__header {
  color: #000;
  font-size: 1.6rem;
  font-weight: 300;
}
.phone__content {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: #000;
}
.phone__callback {
  color: #000;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 300;
}
.phone__callback:hover {
  text-decoration: none;
}
.search__categories {
  font-size: 1.6rem;
  color: #000;
}
.search__category-link {
  font-weight: 600;
}
.search__category-link:hover {
  text-decoration: none;
}
.search__category-link--women {
  color: #ff29aa;
}
.search__category-link--men {
  color: #994cf1;
}
.search__form {
  max-width: 30rem;
  height: 3.5rem;
  border: 1px solid #bebebe;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  line-height: 3.5rem;
}
.search__input {
  width: 25rem;
  height: 3.3rem;
  color: #000;
  font-size: 1.3rem;
  padding-left: 1.8rem;
  border: 0;
  background: transparent;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.search__input:focus {
  outline: 0;
}
.search__button {
  background: url(../img/icon-search.png) no-repeat center;
  background-size: 1.6rem 1.6rem;
  width: 4rem;
  height: 3.5rem;
  cursor: pointer;
}
.alphabet {
  background: #eb0181;
  padding: 2rem 0;
  margin-bottom: 4rem;
}
.alphabet__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;	  
}
.alphabet__title {
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
}
.alphabet__link {
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
  display: block;
  margin-left: 6rem;
}
.alphabet__link:hover {
  text-decoration: none;
}
.alphabet__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.2rem;
}
.alphabet__category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.alphabet__item {
  font-size: 3.4rem;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.alphabet__item:nth-child(n+2) {
  margin-left: 1.8rem;
}
.content__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content__catalog-top {
  width: 100%;
  max-width: 87rem;
}
.content__catalog-top-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__header {
  padding-top: 1rem;
  font-size: 3rem;
  margin-bottom: 0rem;
  line-height: 3rem;
}
.categories {
  width: 27rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 3rem;
}
.categories__header {
  height: 4.5rem;
  background: #eb0181;
  font-size: 2rem;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
}
.categories__list {
  padding: 2.5rem 3rem;
  background-color: #f6f6f6;
}
.categories__link {
  color: #000;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 3.6rem;
  font-weight: 400;
  display: block;
}
.categories__link:hover {
  text-decoration: underline;
}
.catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 3rem;
}
.item {
  padding: 2rem 1rem 1rem;
  border: 1px solid #eee !important;
  width: 23% !important;
  line-height: normal;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-width: 27.5rem;
  position: relative;
  margin-left: 2.3rem;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  
  margin: 0 0 0 2.3rem;
}
.item:hover {
  border: 1px solid #bbbbbb;
}
.item:nth-child(4n+1) {
  margin-left: 0;
}
.item:nth-child(n+5) {
  margin-top: 2.2rem;
}
.item__picture-link {
  height: 19.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.item__picture {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.item__title {
  margin-top: 2rem;
  height: 6rem;
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 2rem!important;
}
.item__brand {
  color: #000;
  font-size: 2rem;
  display: inline;
  line-height: 2rem!important;
  vertical-align: top;
}
.item__name {
  color: #eb0181;
  font-size: 2rem;
  display: inline;
  line-height: 2rem!important;
  vertical-align: top;
}
.item__dscr {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #909090;
  text-align: center;
  height: 4rem;
}
.item__dscr p, .item__dscr span {
  font-size: 1.3rem!important;
  font-family: inherit!important;
}

.item__price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item__price-from {
  color: #eb0181;
  font-size: 1.8rem;
}
.item__price-to {
  color: #000;
  font-size: 1.8rem;
  margin-left: .5rem;
}
.item__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
      -ms-flex-pack: justify;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
.item__link {
  font-size: 1.6rem;
  color: #35a1e2;
}
.item__link:hover {
  text-decoration: none;
}
.item__buy {
  width: 8rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.item--discount:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/discount.png) no-repeat;
  background-size: cover;
  width: 6rem;
  height: 6rem;
}
.comment {
  margin: 4rem 0 6rem;
}
.comment__header {
  font-size: 3rem;
}
.comment__content {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 2rem;
  line-height: 2rem;
}
.brands:nth-child(n+2) {
  margin-top: 4rem;
}
.brands__header {
  font-size: 3.4rem;
  margin-bottom: 2rem;
}
.brands__alphabet {
  height: 4rem;
  background: #cacaca;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.brands__alphabet-letter {
  font-size: 2.6rem;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  line-height: 4rem;
  padding: 0 .5rem;
}
.brands__alphabet-letter--active,
.brands__alphabet-letter:hover {
  background: #eb0181;
  height: 4.5rem;
  line-height: 5rem;
  margin-top: -0.5rem;
}
.brands__list {
  margin-top: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.brands__item {
  width: 25%;
  font-size: 1.3rem;
  color: #000;
  text-decoration: none;
  line-height: 1.7rem;
}
.brands__item:hover {
  text-decoration: underline;
}
.info {
  border: 1px solid #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6rem;
}
.info__item {
  width: 33.33%;
  padding: 2rem 3rem;
}
.info__item:nth-child(2) {
  background: #f1f1f3;
}
.social__header {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
  color: #000;
}
.advantages__header {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
  color: #000;
}
.advantages__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.advantages__item:nth-child(n+2) {
  margin-top: 1.5rem;
}
.advantages__item-icon {
  width: 4.7rem;
  height: 3.4rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.advantages__item-icon--original {
  background: url(../img/advantage-1.png) no-repeat;
  background-size: 3.3rem 1.3rem;
}
.advantages__item-icon--distributors {
  background: url(../img/advantage-2.png) no-repeat;
  background-size: 3.2rem 2.1rem;
}
.advantages__item-icon--cashback {
  background: url(../img/advantage-3.png) no-repeat;
  background-size: 2.8rem 3.2rem;
}
.advantages__item-icon--discounts {
  background: url(../img/advantage-4.png) no-repeat;
  background-size: 3rem 3.4rem;
}
.advantages__item-content {
  font-size: 1.4rem;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
  color: #000;
  line-height: 1.8rem;
}
.advantages__item-content-bold {
  font-weight: 700;
}
.advantages--red .advantages__item-icon--original {
  background: url(../img/advantage-1-red.png) no-repeat;
}
.advantages--red .advantages__item-icon--distributors {
  background: url(../img/advantage-2-red.png) no-repeat;
}
.advantages--red .advantages__item-icon--cashback {
  background: url(../img/advantage-3-red.png) no-repeat;
}
.advantages--red .advantages__item-icon--discounts {
  background: url(../img/advantage-4-red.png) no-repeat;
}
.reviews__header {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
  color: #000;
}
.reviews__item:nth-child(n+2) {
  margin-top: 2rem;
}
.reviews__item-author {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
  color: #000;
}
.reviews__item-content {
  font-size: 1.4rem;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
  color: #000;
  line-height: 2rem;
}
.reviews__link {
  color: #35a1e2;
  font-size: 1.6rem;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
  display: block;
  margin-top: 2rem;
}
.reviews__link:hover {
  text-decoration: none;
}
.footer {
  margin-top: 3rem;
}
.footer__content {
  background: #eb0181;
  padding: 2.5rem 0 1.8rem;
}
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__city {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.footer__contacts {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.footer__menu {
  margin-top: 2.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer__menu-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}
.footer__menu-link:hover {
  text-decoration: underline;
}
.footer__menu-link:nth-child(n+2) {
  margin-left: 2rem;
}
.footer__payments {
  text-decoration: none;
  display: block;
}
.footer__payments-header {
  font-size: 1.4rem;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
  color: #fff;
  line-height: 2.5rem;
}
.footer__payments-list {
  max-width: 21.5rem;
}
.copyright {
  background: #f5f5f5;
  margin-bottom: 0;
}
.copyright__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright__content {
  color: #6d6d6d;
  font-size: 1.4rem;
  font-family: 'Proxima Nova', 'Arial', sans-serif;
}
/*
.copyright__lv-link {
  width: 3.1rem;
  height: 3.1rem;
  background: url(../img/icon-lv.gif) no-repeat;
  background-size: cover;
  display: block;
}
*/
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item {
  color: #fff;
  font-size: 1.4rem;
}
.menu__item:hover {
  text-decoration: none;
}
.menu__item:nth-child(n+2) {
  margin-left: 2rem;
}
.stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: .7rem 0;
  height: auto;
}
.stars__item {
  width: 1.8rem;
  height: 1.8rem;
  background: url(../img/icon-star.png) no-repeat;
  background-size: contain;
}
.stars__item:nth-child(n+2) {
  margin-left: .4rem;
}
.button {
  background: #eb0181;
  -webkit-border-radius: 0 1rem;
          border-radius: 0 1rem;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.button:hover {
  -webkit-border-radius: 1rem 0;
          border-radius: 1rem 0;
}

.brand__letter-item {
/*	font-family: 'Open Sans', sans-serif;*/
font-size: 16px;
color: #000;
line-height: 1.8em;
cursor: default;
font-weight: 400;
}
.brand__letter-item a{
	text-decoration: none;
}
.brand__letter-list {
	width: 95%;
}
.news, .bread_crumps, #contacts, .row, .content{
/*	font-family: 'Open Sans', sans-serif;*/
font-size: 16px;
color: #000;
line-height: 1.8em;
cursor: default;
font-weight: 400;
}
.brand__letter{
	width: 5%;
}
h1{
/*	font-weight: 300;*/
	font-size: 2.5rem;
}

@media screen and (max-width: 480px) {
  .item a.item__title {
     display: block; 
    vertical-align: baseline;
  }
}



@media screen and (max-width: 1199px) {

}

form input, form textarea {
  border: 1px solid #ccc;
  padding-left: 1rem;
}

.listing_title__item  {
  text-decoration: none;
}


.container {
/*  width: 1200px!important;*/
  width: 120rem!important;
}

.phone_item {
/*  font-size: 16px;*/
  font-size: 1.6rem;
}

.btn1 {
/*  font-size: 16px;*/
  font-size: 1.6rem;
  text-decoration: none;
}

.christmassale_banner img {
/*  max-width: 1176px;*/
  max-width: 117.6rem;
  margin: 0 auto;
  display: block;
}

#letter_wrap .header, #letter_wrap .td_underline{
/*  font-size: 16px;*/
  font-size: 1.6rem;
}

#letter_wrap ul li a {
  text-decoration: none;
}

.categories {
  width: auto;
  margin-right: 0;
}

.wrapper {
  width: auto!important;
}

.social_wrap {
  max-width: 120rem;
}

.content__top .categories {
  width: 27rem;
  flex: 0 0 auto;
  margin-right: 2.9rem;
}

.social_wrap .block_list1 {
  margin-left: 0;
  margin-right: 0;
}

.comment {
  margin: 0!important;
}

.comment .text {
  font-size: 1.4rem;
}

@media screen and (max-width: 980px) {
  
  .container {
    width: auto!important
  }
}

.pr25, .p125 {
  padding-right: 0!important;
  padding-left: 0!important;
}

.items.main_page {
  display: flex!important;
  flex-wrap: wrap!important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.comment__header {
  margin-top: 4rem;
}

.block_free_ship_img_prod {
  margin-left: 40px;
}

.listing_sort .block_free_ship_img_prod {
  width: 220px;
}

@media (max-width: 720px) {
	.listing_sort .block_free_ship_img_prod {
		margin-top: 50px;
	}
}


.catalog:before {
  display: none;
}

.col-md-9.col-xs-12 {
  padding: 0;
}

.col-md-9.col-xs-12 .items {
  display: flex;
  flex-wrap: wrap;
}

.col-md-9.col-xs-12 .item:nth-child(4n+1) {
  margin-left: .5rem;
}

.col-md-9.col-xs-12 .item:nth-child(3n) {
  margin-right: 0;
}

.col-md-9.col-xs-12.n-col-m-4 .item:nth-child(3n) {
  margin-right: .8rem;
}

@media (min-width: 481px) {
	.col-md-9.col-xs-12 .item:nth-child(3n+1) {
		margin-left: 0;
	}
	
	.col-md-9.col-xs-12.n-col-m-4 .item:nth-child(3n+1) {
		margin-left: .8rem;
	}
}

@media (max-width: 480px) {
	.col-md-9.col-xs-12 .item:nth-child(4n+1){
		margin-left: 0 !important;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.col-md-9.col-xs-12.n-col-m-4 .item:nth-child(3n+1) {
		margin-left: 0rem;
	}
}

@media (max-width: 768px) {
	.col-md-9.col-xs-12.n-col-m-4 .item:nth-child(3n) {
		margin-right: 0rem;
	}
}


.col-md-9.col-xs-12.n-col-m-4 .item {
  margin-bottom: 2rem;
  margin-right: .8rem;
  margin-left: .8rem;
}

.col-md-9.col-xs-12 .item:nth-child(n+5) {
  margin-top: 0;
}

.col-md-9.col-xs-12 .item:nth-child(n+4) {
  margin-top: 0;
}


.col-md-9.col-xs-12 .item {
  margin-bottom: 2rem;
  margin-right: .5rem;
  margin-left: .5rem;
}

#fast_view.popup {
  width: auto!important;
  margin: 0;
  padding: 3rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.aromat_table.table_new td {
  width: auto!important;
  height: auto!important;
}

.aromat_table.table_new {
  font-size: 1.4rem;
}

.aromat_table.table_new .btn3 {
  height: 3.5rem!important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  line-height: 2.4rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
}

.listing_title {
  font-size: 3.4rem;
  line-height: normal;
  margin-bottom: 3.5rem;
}

.listing_title__item {
  font-size: 3.4rem;
}

h2 {
	font-weight: 300;
	font-size: 3rem;
	text-decoration: none;
}

h3 {
	font-weight: 300;
	font-size: 2rem;
	text-decoration: none;
}

.icon-cart_green {
  width: 2.8rem;
  height: 2.3rem;
  top: 0;
  background-size: contain;
  -webkit-background-size: contain;
  -o-background-size:contain;
  -moz-background-size: contain;
}

.popup .close {
  font-size: 4.2rem;
  right: 2.5rem;
  top: 1rem;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 1rem;
}

@media screen and (max-width: 480px) {
  .popup {
    left: 50%;
  }
  #callMe.popup {
    transform: translate(-50%, -50%);
    margin-top: 0;
    top: 50%;
  }
}

@media screen and (max-width: 320px) {
  .aromat_table.table_new {
    left: auto;
  }
}

#callMe .fs34 {
  font-size: 3.4rem;
  width: 100%;
  height: 3.5rem;
  padding: .6rem 1rem;
  margin-bottom: 3.5rem!important;
}

#callMe input {
  height: 3.5rem;
  font-size: 1.4rem;
  padding: .6rem 1rem;
  width: 26rem;
}

#callMe .mb20 {
  height: 3.5rem;
  font-size: 1.4rem;
  padding: .6rem 1rem;
  margin-bottom: 2rem!important;
}

#callMe .btn2 {
  height: 4.2rem;
  border-radius: 0 1rem 0 1rem;
  font-size: 2rem;
  padding: 0 .8rem;
  line-height: 4.2rem;
}
/*
.rc-cf-overlay {
  visibility: hidden;
}
*/
.rc-cf-blur>:not(.rc-cf-element) {
  filter: none!important;  
}

#callMe {
  width: auto;
  height: auto;
  padding: 3.5rem;
}

@media screen and (max-width: 480px) {
  .orders_list {
    font-size: 1.4rem!important;
    margin-bottom: 5rem!important;
  }

  .orders_list td {
    padding: 1rem!important;
    width: 13rem!important;
    font-size: 1.4rem!important;
    line-height: 2rem!important;
  }

  .orders_list td span {
    font-size: 1.4rem!important;
    line-height: 2rem!important;
    vertical-align: middle;
  }

  .orders_list .row {
    font-size: 1.8rem!important;
    line-height: 1.8rem!important;
  }

  .orders_list .btn-pm {
    font-size: 4.5rem!important;
    line-height: 2.2rem!important;
  }

  .orders_list .val {
    width: 3.5rem!important;
    height: 4rem!important;
    line-height: 3rem!important;
  }

  .orders_list .ol__amount {
    font-size: 1.4rem!important;
    line-height: 2rem!important;
  }

  .orders_list .ol__cost {
    width: 8rem!important;
  }

  .orders_list .ol__cost span {
    top: 0!important;
  }

  .orders_list .pull-left {
    font-size: 1.4rem!important;
  }

  .orders_list .pull-right {
    font-size: 1.4rem!important;
  }
  
  .orders_list .color_blue.dashed {
    top: 0!important;
    line-height: 2rem!important;
  }
  
  .orders_list .ol__product .col-sm-4 {
    display: block!important;
  }
  
  .checkout-form .login_row {
    font-size: 1.8rem!important;
  }
  
  .checkout-form .order-form {
    margin-bottom: 2rem!important;
  }
  
  .checkout-form .row {
    font-size: 1.6rem!important;
    line-height: 1.8rem!important;
  }
  
  .checkout-form input {
    height: 3rem!important;
    width: 20rem!important;
    margin-bottom: 1.8rem!important;
  }
  
  .checkout-form .btn2 {
    width: 25rem!important;
    font-size: 1.8rem!important;
    height: 4.2rem!important;
    border-radius: 0 1rem 0 1rem!important;
    line-height: 4.2rem!important;
    padding: 0 .8rem!important;
  }
  
  .checkout-form p.mt20{
    font-size: 1.6rem!important;
    line-height: 1.8rem!important;
    margin-bottom: 2rem!important;
  }
  
  .checkout-form .btn1 {
    width: 27.8rem!important;
    font-size: 1.8rem!important;
    height: 4.2rem!important;
    border-radius: 0 1rem 0 1rem!important;
    line-height: 4.2rem!important;
    padding: 0 .8rem!important;
  }
  
  .checkout-form label.error {
    font-size: 1.1rem;
    height: 1.6rem;
    line-height: 1.6rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .checkout-form input.error {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
  
  .checkout-form .col-xs-8 {
    position: relative;
  }
  
  .arcticmodal-container .arcticmodal-container_i2 {
    padding: 2.4rem!important;
  }
  
  .arcticmodal-container .box-modal {
    padding: 3rem!important;
    width: 90%!important;
    border-radius: .6rem!important;
  }
  
  .arcticmodal-container .box-modal_close {
    right: 1rem;
    top: .6rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  
  .arcticmodal-container .nav-tabs > li > a {
    border-radius: .4rem .4rem 0 0;
    padding: 1rem 1.5rem;
    font-size: 1.4rem
  }
  
  .arcticmodal-container .tab-content {
    width: 100%!important;
    padding: 1.2rem!important;
  }
  
  .arcticmodal-container #login_form_popup .title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 4rem;
  }
  
  .arcticmodal-container #login_form_popup .title+div {
    margin-bottom: 2rem!important;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  
  .arcticmodal-container #login_form_popup .line {
    margin-bottom: 2rem;
  }
  
  .arcticmodal-container #login_form_popup input {
    width: 100%;
    padding: .8rem;
    font-size: 1.6rem;
  }
  
  .arcticmodal-container .popup_btn1 {
    width: 100%;
    border-radius: 0 1rem 0 1rem;
    padding: 0 2.2rem;
    height: 4.2rem;
    line-height: 4.2rem;
  }
}

.brand__letter {
  width: 70px;
}

.header__cart_block {
	color: #000;
	font-size: 1.6rem;
	line-height: 2rem;
	font-weight: 300;
	text-align: center;
}

.categories__link__active {
	text-decoration: underline;
}

.paginator_category {
	margin-top: 2.30769em;
	text-align: center;
	position: relative;
}
.paginator_category_ul {
	display: inline-block;
}

.paginator_category_li {
	float: left;
}

.paginator_category_link {
	font-size: 1.6rem;
	display: block;
	min-width: 2rem;
	height: 2rem;
	padding: 0 0.5rem;
	line-height: 3.6rem;
	text-decoration: none;
	border: 1px solid transparent;
}

.paginator_category_link_active {
	text-decoration: underline;
}

.category_filter_m_f {
	color: #000;
	margin-bottom: 2rem;
	line-height: 3rem;
	font-size: 2.5rem;
	font-weight: 400;
	text-align: left;
}

.header__category-top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.category_filter_m_link {
	color: #994cf1;
	text-decoration: none;
}

.category_filter_f_link {
	color: #ff29aa;
	text-decoration: none;
}

.category_filter_active {
	text-decoration: underline;
}

.category_filter_active:hover {
	text-decoration: underline;
}

.name__category-top {
	text-align: left;
}

.name__category-top--main {
	width: 70%;
}

.banner_free_ship {
	width: 30%;
	position: relative;
}

.banner_free_ship_img {
	position: absolute;
	right: -0.3rem;
}

.listing-article_title, .listing-article_anot {
	text-align: justify;
}

@media (max-width: 650px) {
	div.rc-cf-element.rc-cf-overlay div.rc-cf-element.rc-cf-dialog {
		width: 240px!important;
		margin-top: 0px!important;
	}
	div.rc-cf-element.rc-cf-overlay div.rc-cf-element.rc-cf-dialog div.rc-cf-element.rc-cf-close {
		left: 83%!important;
		bottom: 90%!important;
		width: 25px!important;
		height: 26px!important;
		background-size: cover!important;
	}
	div.rc-cf-element.rc-cf-overlay div.rc-cf-element.rc-cf-dialog div.rc-cf-element.rc-cf-header {
		font-size: 20px!important;
		padding: 25px 35px!important;
	}
	div.rc-cf-element.rc-cf-overlay div.rc-cf-element.rc-cf-dialog div.rc-cf-body {
		padding: 15px 20px!important;
	}
	div.rc-cf-element.rc-cf-overlay div.rc-cf-element.rc-cf-dialog div.rc-cf-form-row label.rc-cf-label {
		float: none!important;
	}
	div.rc-cf-element.rc-cf-overlay div.rc-cf-element.rc-cf-dialog div.rc-cf-form-row input.rc-cf-input {
		margin-left: 0px!important;
	}
	div.rc-cf-element.rc-cf-overlay div.rc-cf-element.rc-cf-dialog div.rc-cf-form-row .rc-cf-form-error{
		margin-left: 0px!important;
	}
	div.rc-cf-element.rc-cf-overlay div.rc-cf-element.rc-cf-dialog div.rc-cf-element.rc-cf-footer {
		padding: 15px 35px 25px 35px!important;
	}
	div.rc-cf-element.rc-cf-overlay div.rc-cf-element.rc-cf-dialog div.rc-cf-element.rc-cf-footer .rc-cf-send{
		margin-left: 0px!important;
	}
}

@media (max-width: 490px) {
	.col-xs-12 table.page_top {
		display: none;
	}
}

@media (min-width: 500px) {
	.col-xs-12 table.page_top {
		display: inline-table;
	}
}

.aromat span.pr50.relative.fs14.pol_sort_line {
	top: -2.5rem !important;
	
}

@media (max-width: 490px) {
	div.col-span-9.w100.tab_items {
		display: none!important;
	}
}

@media (max-width: 767px) {
	.rees46 div.col-md-2.col-sm-6.item_mini div.img.hidden-xs {
		display: block!important;
	}
	.rees46 div.col-md-2.col-sm-6.item_mini div.title.hidden-xs {
		display: block!important;
	}
	.rees46 div.col-md-2.col-sm-6.item_mini span.visible-xs-inline-block {
		display: none!important;
	}
	

	table.orders_list tr.head.hidden-xs {
		display: table-row!important;
	}
	table.orders_list td.first_td.ol__product img.cart_img.hidden-xs {
		display: block!important;
	}
	.orders_list .head td {
		height: 5rem;
	}
	
}

@media (max-width: 440px) and (min-width: 310px) {
	.rees46 div.items div.item_mini {
		width: 120px!important;
	}
	
}

@media (max-width: 480px) and (min-width: 441px) {
	.rees46 div.items div.item_mini {
		width: 140px!important;
	}
	
}

@media (max-width: 580px) and (min-width: 481px) {
	.rees46 div.items div.item_mini {
		width: 150px!important;
	}
	
}
@media (max-width: 580px) {
	.rees46 div.items div.item_mini:nth-child(2n) {
		margin-left: 10px!important;
	}
	.rees46 div.items div.item_mini {
		height: 220px!important;
	}
	
	.rees46 div.items div.item_mini {
		margin-top: 10px!important;
	}
	
	.row .comment .text {
		font-size: 14px;
		text-align: justify;
	}
	.row .pages {
		margin-bottom: 40px;
	}
	.row .pages li {
		margin-bottom: 5px;
		margin-top: 5px;
	}
}

.text_img {
	margin: 10px 50px;
}

@media (max-width: 495px) {
	.text_img {
		margin: 10px 0px;
	}
	.rees46.recommend.similar .heading_type1 {
		display: block;
	}
}

.item__buy.button {
	border-bottom: 0.1rem solid #fff;
	-webkit-border-radius: 0 0rem 0 1rem;
    border-radius: 0 0rem 0 1rem;
	font-size: 1.4rem;
	background-color: #75c202;
	width: 9rem;
    height: 3.3rem;
    line-height: 3.3rem;
    text-align: center;
	position: relative;
	right: -0.6rem;
	font-weight: 500;
	text-align: center;
}

.item__buy.button:hover {
	-webkit-border-radius: 1rem 0rem 0 0rem;
    border-radius: 1rem 0rem 0 0rem;
}

.item__quick_buy.button {
	font-size: 1.4rem;
	width: 15rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-left: 0.2rem solid #fff;
	border-bottom: 0.1rem solid #fff;
	position: relative;
	font-weight: 500;
	text-align: center;
}

.item__footer {
	padding: 0 0.8rem !important;
}

.it-det {
	text-align: center;
	padding-top: 1.6rem;
	margin-bottom: 2rem;
}

#quick_view, #quick_view_thankyou {
	-webkit-box-shadow: 0rem 0rem 1.5rem 0rem rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0rem 0rem 1.5rem 0rem rgba(0, 0, 0, 0.15);
	box-shadow:         0rem 0rem 1.5rem 0rem rgba(0, 0, 0, 0.15);
}

#quick_view.popup.top-30 {
	padding-top: 5rem;
}

#quick_view.popup {
    background: white;
    width: 71.25rem;
    padding: 5.42rem 4.75rem 4.38rem;
    height: auto;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	margin-left: 0.83rem;
	border: 0.083rem solid #eee;
}

.quick_view_close {
	width: 4.75rem;
	height: 4.75rem;
	position: absolute;
	right: 0rem;
	top: 0rem;
	background-image: url(/templates/images/close.png);
	background-size: 2.63rem;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.quick-orders {
    padding: 0 2.51rem;
}

.one-quick-input {
    margin-bottom: 1.25rem;
    width: 100%;
}

.one-quick-text {
    width: 100%;
    padding: 0.5rem 1.67rem !important;
    border: 0.083rem solid #e6e6e6;
    -webkit-border-radius: 0.67rem;
    border-radius: 0.67rem;
}

.one-quick-input {
    margin-bottom: 0.83rem;
    width: 100%;
}

.one-quick-bt {
	background-color: #ed018c;
	color: #fff;
	font-size: 1.33rem;
	font-weight: bold;
	text-align: center;
	border: none;
	width: 100%;
	-webkit-border-radius: 0.67rem;
    border-radius: 0.67rem;
	cursor: pointer;
}

.quick-mes {
	font-size: 2rem;
	width: 100%;
	text-align: center;
	padding: 0;
	color: rgba(0,0,0,0.6);
}

#quick_view_thankyou.popup {
	background: white;
	width: 34rem;
	height: auto;
	transform: translate(-50%, -50%);
	margin-left: 0.83rem;
	padding: 4.17rem 2.083rem 3.92rem;
	border: 0.083rem solid #eee;
}

.quick-mes_thankyou {
	font-size: 2.51rem;
	width: 100%;
	text-align: center;
	padding: 0;
	color: rgba(0,0,0,0.6);
}

.one-quick-input .one-quick-text {
	font-size: 2.63rem;
	height: 6.57rem;
}

.one-quick-input .one-quick-bt {
	padding: 0.5rem 0.83rem;
	font-size: 2.63rem;
	height: 6.57rem;
}

.block_description_info {
	margin-top: 1rem;
}

.description_info_text {
	padding: 0 2.5rem;
	margin-bottom: 3.33rem;
	font-size: 1.5rem;
	line-height: 1.6;
	text-align: justify;
}

.description_info_name {
	font-weight: 300;
	padding-bottom: 1.67rem;
	border-bottom: 0.083rem solid #eee;
	margin-left: 2.5rem;
	margin-bottom: 1.25rem;
	font-size: 2.83rem;
	line-height: 2.83rem;
}

.button.header__cart.cart_mod {
	background: #75c202;
}

.button.header__cart {
	font-size: 1.8rem;
}

.middle_cart_product {
	margin: 20px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000;
	line-height: 1.8em;
	cursor: default;
	font-weight: 400;
	max-width: 120rem;
}

.middle_cart_product .plus_wrap {
	display: flex;
	width: auto;
	padding: 10px 5px;
}

@media (max-width: 890px) {
	.middle_cart_product .plus_wrap {
		display: none;
	}
}

.middle_cart_product .plus_wrap li {
	width: 14.28%;
	float: none;
	margin: 10px;
	text-align: center;
	align-content: center;
	padding: 5px;
	line-height: 1.7;
}

.middle_cart_product .plus_wrap i {
	float: none;
	display: inline-block;
	margin-bottom: 10px;
}

.middle_cart_product .plus_wrap li div {
	margin-left: 0px;
}

.middle_cart_product .plus_wrap li .li_popup {
	margin-left: -190px;
	z-index: 20;
	text-align: justify;
}


.middle_cart_product .plus_wrap .i1 .li_popup:before {
	top: 0px;
	left: 25%;
	margin-left: -7px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.middle_cart_product .plus_wrap .i1 .li_popup {
	margin-left: -100px;
}

.middle_cart_product .plus_wrap .i7 .li_popup:before {
	top: 0px;
	left: 75%;
	margin-left: -7px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.middle_cart_product .plus_wrap .i7 .li_popup {
	margin-left: -280px;
}

.middle_cart_product_description {
	text-align: justify;
	font-size: 16px;
	line-height: 26px;
	padding: 20px 0px;
}

.phone__callback-mob{
  display: none;
}

@media screen and (max-width: 767px) {
	.orders_list .first_td .row::before, .orders_list .first_td .row::after {
		display: inline-table;
	}
	.aromat_table td.quick_buy_col .item__quick_buy.button {
		width: 17rem;
	}
}

table.orders_list .ol__cost span {
	line-height: 2.7rem !important;
}

.content_thankyou {
	padding: 0 2.51rem;
}

.content_thankyou_mes {
	font-size: 2.51rem;
	width: 100%;
	text-align: center;
	padding: 0;
}

#callMe.popup {
	padding: 5.42rem 4.75rem 4.38rem;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	margin-left: 0.83rem;
	margin-top: 0rem;
}

.d_button_callMe {
	text-align: center;
}

#callMe_form_name_err, #callMe_form_phone_err {
	color: red;
	text-align: left;
}

.aromat_table td.quick_buy_col {
	width: 17rem !important;
	padding: 1.1rem;
}

.aromat_table td.quick_buy_col .item__quick_buy.button {
	height: auto;
}

.new_search {
	border: 0;
	width: 46rem;
}

.new_search_form {
	height: 4rem;
	max-width: 50rem;
}

.category_sale {
	color: #75C202;
}

.category_sale_menu {
	color: red;
	font-weight: bold;
}

.mobile-menu{
  display: none;
}

.mobi-cat {
    display: none;
}

.banner_free_ship_img-mob {
display: none;
}

@media(max-width: 768px){
.wrapper {
    width: 100%!important;
	
}

.header_top_m {
	display: block!important;
}

.top_banner_big {
	display:none;
}

.phone__header {
    display: none;
}

.item__picture {
       max-height: 151px;
    min-height: 151px;
}

.content__catalog-top-items .item:last-child{
  display: none;
}

html{
      font-size: 14px!important;
}

.content__catalog-top {
    width: 100%;
    max-width: none;
}

.content__top {
    display: block;
}

.content__top .categories {
    width: 100%;
    margin-right: 0;
}

.content__catalog-top-items {
    display: block;
}

.item {
    width: 50%!important;
    margin: 0 0 20px 0;
    min-width: inherit;
    box-sizing: border-box;
    padding: 10px;
}

.col-md-9.col-xs-12.n-col-m-4 .item{
	width: 50% !important;
	margin: 0 0 20px 0;
	min-width: inherit;
	box-sizing: border-box;
	padding: 10px;
}

.item__brand {
    font-size: 18px;
    line-height: 1rem!important;
}

.item__name {
    font-size: 17px;
    line-height: 1rem!important;
}

.item__dscr p, .item__dscr span {
    font-size: 14px!important;
}

.item__price {
    display: block;
    text-align: center;
}

.item__price-from {
    font-size: 17px;
}

.item__price-to {
    font-size: 17px;
    margin-left: 0px;
}

.comment__header {
    font-size: 2rem!important;
}

.comment__content {
    font-size: 1.1rem;
}

.footer__wrapper {
    display: block;
}

.footer__content-left {
    text-align: center;
}

.footer__menu {
    display: block;
}

.footer__menu-link {
    line-height: 40px;
}

.banner_free_ship_img-mob {
    position: relative;
    left: 50%;
    width: 170px;
    margin-left: -85px;
    margin-bottom: 15px;
    display: block;
}

.footer__payments {
    margin-top: 20px;
    text-align: center;
}

.banner_free_ship {
    display: none;
}

.content__header {
    font-size: 2rem;
    line-height: 2rem;
}

.category_filter_m_f {
    line-height: 2rem;
    font-size: 1.5rem;
}

.listing_title__item {
    font-size: 2.0rem;
    margin: 0!important;
}

h2 {
	font-weight: 300;
	font-size: 1.5rem;
	text-decoration: none;
}

h3 {
	font-weight: 300;
	font-size: 1rem;
	text-decoration: none;
}

.aromat_img img{
    width: 100%;
}
.col-span-9 {
    width: 100%;
    float: none;
}

.col-span-3 {
    width: 100%;
}

.categories__list {
    padding: 15px;
    background-color: #f6f6f6;
}

.categories__link {
    font-size: 16px;
    line-height: 2.6rem;
}

.categories__header {
    height: 3.5rem;
    font-size: 20px;
    padding-left: 15px;
}

.item__buy.button {
    width: 100%;
    display: block;
    right: 0;
    clear: both;
    max-width: 100%;
    border-radius: 0;
    font-size: 14px;
    height: auto;
    line-height: 40px;
}

.item__footer {
    display: block;
    padding: 0;
}

.item__quick_buy.button {
    display: block;
    border-radius: 0;
    margin: 10px 0 0;
    width: 100%;
    font-size: 14px;
    line-height: 45px;
    border: none;
}

.item__picture-link {
    height: auto;
}

.item__dscr {
    display: none;
}

.item__title {
        height: 84px;
}

.listing_title {
    font-size: 1.4rem;
}

.aromat_table_outer {
    min-height: auto;
}

.info {
    display: block;
    margin-top: 20px;
}

.info__item {
    width: 100%;
    padding: 15px;
}

.social__header {
    font-size: 19px;
}

.advantages__header {
    font-size: 19px;
}

.advantages__item-content {
    font-size: 16px;
    line-height: 21px;
}

.reviews__header {
    font-size: 19px;
}

.footer__menu-link:nth-child(n+2) {
    margin: 0 14px;
}

.alphabet__header {
    display: block;
    text-align: center;
}

.alphabet__link {
    font-size: 16px;
    margin-left: 0;
    margin-top: 10px;
}

.alphabet__category {
    display: block;
        text-align: center;
    line-height: 21px;
}

.alphabet__item {
    font-size: 17px;
}

#fast_view.popup {
    padding: 15px;
    width: 100%!important;
    height: 100%;
    overflow-y: auto;
}

.alphabet__content {
    display: block;
}

.alphabet__item:nth-child(n+2) {
    margin: 0 5px;
}

.aromat_table.table_new td:first-child {
    font-size: 14px;
}

.aromat_table.table_new td:nth-child(2),
.aromat_table.table_new td:nth-child(5){
  display: none;
}

#fast_view .aromat_table.table_new td:nth-child(2){
      display: table-cell;
}

.aromat_table.table_new .btn3 {
    height: 2.5rem!important;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
}
.second_col.bold {
    font-size: 13px;
}



.news{
  text-align: left;
}
.news ul{
      float: none!important;
    width: 100%!important;
}

.mobile-menu {
    overflow: hidden;
    background: #ff0084;
    color: #fff;
    padding: 5px 5px;
    display: block;
}
.mobile-logo {
width: 120px;
    margin-top: 6px;
    margin-left: 10px;
}

.mobile-cart {
    width: 40px;

}

.header__mobile_cart {
    display: inline-block;
    position: relative;
}

.header__mobile_cart span{
    background: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 0 3px black;
    line-height: 15px;
    font-weight: bold;
    font-size: 12px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    cursor: pointer;
    width: 28px;
    padding: 0;
    float: left;
    margin-top: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    top: 54px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.top-bar {
    display: none;
}

.logo {
    display: none;

}

.header__wrapper {
  padding: 15px;
    display: block;
}

.phone__content {
    font-size: 18px;
    line-height: 1.6rem;
}

#callMe.popup {
    padding: 15px;
        width: 100%;
}

#callMe .fs34 {
    font-size: 18px;
    width: 100%;
    height: auto;
    padding: 1.1rem 1rem;
    margin-bottom: 0.5rem!important;
}

#callMe input {
    width: 100%;
}

.button.header__cart {
    display: none;
}

.phone {
    text-align: center;
}

.phone__callback {
    font-size: 1.2rem;
}

#quick_view.popup {
    width: 100%;
    padding: 15px;
}

.one-quick-input .one-quick-bt {
    height: auto;
    font-size: 19px;
    padding: 15px;
}

.quick-mes {
    font-size: 14px;
}

.one-quick-input .one-quick-text {
    font-size: 16px!important;
    height: auto;
}

.quick_view_close {
    width: 20px;
    height: 20px;
    right: 1rem;
    top: 1rem;
    background-size: 100%;
}

.mobi-cat .fa {
    color: #fff;
    background: #ccc;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
        font-size: 25px;
}

.mobi-cat .ic1{
  background: #ff9f02;
}
.mobi-cat .ic2{
  background: #fd4336;
}
.mobi-cat .ic3{
  background: #a94e9e;
}
.mobi-cat .ic4{
  background: #0181ce;
}
.mobi-cat .ic5{
  background: #89be00;
}
.mobi-cat .ic6{
  background: #00aeff;
}
.mobi-cat .ic7{
  background: #856115;
}

.mobi-cat {
    text-align: center;
    display: block;
}

.categories{
  display: none;
}

.mobi-cat .row{
  margin-right: -15px;
  margin-left: -15px;
}

.mobi-cat a {
    text-decoration: none;
    font-size: 12px;
    display: block;
    line-height: 16px;
    height: 100px;
}

.checkout-form .btn1 {
    width: 100%!important;
}

.checkout-form .btn2 {
    width: 100%!important;
}

.checkout-form input {
    width: 100%!important;
}

.orders_list tr td:nth-child(2){
  display: none;
}

.col-md-9.col-xs-12 .item {
    margin-right: 0;
    margin-left: 0;
}

.arcticmodal-container .box-modal {
    padding: 20px!important;
    width: 100%!important;
}

.arcticmodal-container .nav-tabs > li > a {
    font-size: 12px;
    padding: 9px;
}
.arcticmodal-container #login_form_popup input {
    font-size: 15px;
    text-align: center;
}

.arcticmodal-container .arcticmodal-container_i2 {
    padding: 0.4rem!important;
}

.phone__callback{
  display: none;
}


.phone__callback-mob {
    display: block;
    color: #fff;
    font-size: 11px;
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 5px;
    display: block;
}

.login-mob{
color: #fff;
    font-size: 35px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    margin-top: 4px;
}

.alphabet__category:nth-child(2){
      float: left;
    left: 50%;
    position: absolute;
    margin-left: 15px;
}

.alphabet__category:nth-child(3){
    float: left;
    left: 50%;
    position: absolute;
    margin-left: -35px;
}

div#toTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    background: rgba(235, 1, 129, 0.37);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 67px;
    font-weight: bold;
    font-size: 50px;
    z-index: 999999;
    box-shadow: 0px 2px 8px #c1c1c1;
}

.orders_list td {
    padding: 5px!important;
    width: auto!important;
    font-size: 12px!important;

}

.orders_list .ol__amount {
    font-size: 12px!important;
    line-height: 1rem!important;
}

.orders_list td span {
    font-size: 12px!important;
    line-height: 1rem!important;
}

.col-xs-12.col-sm-12.col-md-8 {
    padding: 0!important;
}

.orders_list .btn-pm {
    font-size: 1.5rem!important;
    line-height: 2.2rem!important;
}

.orders_list .ol__cost {
    width: auto!important;
}

.search__form {
    max-width: 100%;
}

.alphabet {
    margin-bottom: 2rem;
}

a.listing_title__item {
    margin: 0px 5px!important;
        font-size: 15px;
}

.search__button {
    border: 1px solid#ccc;
    background-color: #efecec;
    border-right: none;
}

.search__input {
    padding-left: 1rem;
}


.news div{
  width: 100%!important;
}

.items.main_page {
    margin-right: -15px;
    margin-left: -15px;
}

}

.phone__content.phone_alloka a{
      display: block;
    text-decoration: none;
}

.header__mobile_cart.cart_mod span {
	background: #58ff22;
}

.code-footer-links div {
  margin: 0rem 0.5rem;
}

.code-footer-links {
  display: flex;
}

.aromat_table .second_col {
	color:#75C202;
}


.h2_parfum_brend {
	display: block;
	clear: both;
	padding-top: 3rem;
}

.block_seo_description_brend {
	margin-top: 1rem;
	border-top: 0.083rem solid #eee;
	padding: 0 2.5rem;
	margin-bottom: 3.33rem;
	font-size: 1.5rem;
	line-height: 1.6;
	text-align: justify;
	padding-top: 3rem;
}

.ul_brend {
	list-style:disc; 
	padding-left: 3rem;
}

.n-col-m-4 {
	width: 100%;
}

@media screen and (min-width: 769px) {
	.alphabet__link_block_brands, .alphabet__link_block_toilet_water {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}


.alphabet__link_first, .alphabet__link_secondary {
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Proxima Nova', 'Arial', sans-serif;
	display: block;
}

.alphabet__link_secondary {
	margin-right: 2rem;
}

@media screen and (max-width: 768px) {
	.alphabet__link_first, .alphabet__link_secondary {
		font-size: 16px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 10px;
	}
}

@media screen and (max-width: 600px) {
	.wrapper.content .col-xs-12 #reg_form .row .col-xs-4, .wrapper.content .col-xs-12 #reg_form .row .col-xs-8{
		width: 100%;
	}
	.wrapper.content .col-xs-12 #reg_form .row .label_check{
		white-space: normal;
	}
}

.not_available_prod:after {
	content: "Нет в наличии";
}