body.modal-open {
	padding-right: 0 !important;
}
.container {
	width: 980px;
	position: relative;
	margin: 0 auto;
}
.mobile_phone {
	cursor: default;
	text-decoration: none !important;
}
.filter_options_mobile_wrap {
	display: none;
}
.hide_desctop, .hidden_desctop {
	display: none;
}
.list-arrows li{
	padding-left: 20px;
    position: relative;
    margin: 10px;
}
.list-arrows li:before{
	content: '✔';
    position: absolute; top: 0; left: 0;
}
#top_line {
	height: 38px;
	line-height: 38px;
	background: #676767;
	font-size: 14px;
	color: white;
}
#hide_filter_mobile {
	display: none;
}
.listing_sort.mobile {
	display: none;
}
.icon-cart_green.show_mobile, .no_aromat.show_mobile {
	display: none;
}
.icon-cart_green {
	width: 35px;
	position: relative;
	top: 4px;
	height: 30px;
	background: url(../images/cart_green.png)
}
.icon-no_aromat {
	width: 40px;
	position: relative;
	top: 4px;
	height: 27px;
	background: url(../images/no_aromat.png)
}

#top_line a {
	font-size: 14px;
	color: white;
}
#menu {
	background: #f5f5f5;
	height: 38px;
	line-height: 36px;
}
#menu ul {
	text-align: justify;
	height: 38px;
	width: 100%;
	overflow: hidden;
}
#menu ul:after {
	width: 100%;
	display: inline-block;
	height: 0;
	font-size: 0;
	line-height: 0;
	content: '';
}
#menu ul li {
	display: inline-block;
	font-size: 14px;
}
#menu ul li a {
	text-decoration: none;
}
#menu ul li a:hover {
	text-decoration: underline;
}

#logo {
	width: 268px;
	height: 90px;
	position: absolute;
	left: 0;
	top: 18px;
	background: url(../images/normal/logo.png) 0 0 no-repeat;
}
#logo a {
	display: block;
	height: 85px;
	text-indent: -9999px;
}
#callme {
	position: absolute;
	left: 100%;
	top: 4px;
	margin-left: 25px;
	width: 140px;
}
#callMe.popup {
	margin-top: -250px;
}
#callme a.btn4 {
	padding: 0;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 42px;
	line-height: 42px;
}
#top_phones {
	position: absolute;
	left: 280px;
	top: 35px;
}
.top_search {
	position: absolute;
	right: 0px;
	top: 148px;
	font-size: 14px;
	z-index: 8;
}
.top_search form {
	position: relative;
}
.top_search form button {
	position: absolute;
	right: -10px;
	top: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border:0;
	background: #00d5b5;
	border-radius: 0 10px 0 10px;
}

.top_search input {
	height: 40px;
	padding: 5px 50px 5px 10px;
	width: 455px;
	font-size: 14px;
}

/*
.search {
    font-size: 14px;
    z-index: 8;
    padding-bottom: 40px;
}

.search form {
    position: relative;
}

.search form button {
    position: relative;
    right: 35px;
    top: 16px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 0;
    background: #00d5b5;
    border-radius: 0 10px 0 10px;
}


.search input {
    height: 40px;
    padding: 5px 50px 5px 10px;
    width: 455px;
    font-size: 14px;
}
*/


#top_cart {
	right: 0;
	top: 40px;
	width: 180px;
	position: absolute;
	text-align: center;
}
#top_cart .btn1.header {
	padding: 0 ;
	text-align: center;
	margin-bottom: 10px;
}

#top_nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 155px;
	text-align: left;
	width: 100%;
}
#top_nav:after {
	width: 100%;
	display: inline-block;
	height: 0;
	font-size: 0;
	line-height: 0;
	content: '';
}
#top_nav li {
	display: inline-block;
	font-size: 16px;
	padding-right: 65px;
}
#top_nav li a {
	text-decoration: none;
	color: #eb0081;
}
#top_nav li a:hover {
	text-decoration: underline;
}

header {
	height: 210px;
}
.icon-arrow {
	display: inline-block;
	position: absolute;
	right: -20px;
	top: 50%;
	margin-top: -1px;
	width: 13px;
	height: 7px;
	background: url(../images/icons.png) -12px 0 no-repeat;
}
.icon-arrow-black {
	display: inline-block;
	position: relative;
	top: 50%;
	margin-left: 4px;
	margin-top: -1px;
	width: 13px;
	height: 7px;
	background: url(../images/icon-arrow-black.png) 0 0 no-repeat;
}
.icon-search {
	display: inline-block;
	position: absolute;
	left:0%;
	top: 0%;
	width: 40px;
	height: 40px;
	background: url(../images/icons.png) 0 -26px no-repeat;
}
.btn1 {
	border-radius: 0 10px 0 10px;
	background: #eb0081;
	color: white;
	padding: 0 22px;
	border:0;
	height: 42px;
	line-height: 42px;
}
.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover {
	text-decoration: none;
}
.btn1:disabled{
    background: #BEBEBE;
}
.btn2 {
	border-radius: 0 10px 0 10px;
	background: #00d4b4;
	color: white;
	font-weight: 400;
	cursor: pointer;
	padding: 0 8px;
	height: 42px;
	border: 0;
	/*font-size: 22px;*/
	line-height: 42px;
	display: inline-block;
}
.btn2.round {
	font-size: 16px;
	border-radius: 4px;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
}
.btn3 {
	border-radius: 0 10px 0 10px;
	background: #69ba06;
	color: white;
	font-weight: 400;
	cursor: pointer;
	padding: 0 22px;
	height: 36px;
	border: 0;
	font-size: 16px;
	line-height: 36px;
	display: inline-block;
}
.btn4 {
	border-radius: 0 10px 0 10px;
	background: #cbccce;
	color: white;
	font-weight: 400;
	cursor: pointer;
	padding: 0 22px;
	height: 36px;
	border: 0;
	font-size: 16px;
	line-height: 36px;
	display: inline-block;
}
.btn-pm {
	display: block;
	font-weight: bold;
	font-size: 45px;
	color: #cbcbcb;
	text-decoration: none;
}
.btn-pm:hover {text-decoration: none;}
.btn-pm.minus {
	line-height: 22px;
}
.clear_after:after {
	clear: both;
	content: '';
	display: block;
}

#letter_wrap {
	height: 90px;
	background: #eb0081;
	color: white;
	margin-bottom: 24px;
}
#letter_wrap a {
	color: white;
}
#letter_wrap ul {
	text-align: justify;
	padding-top: 10px;
}
#letter_wrap ul:after {
	display: inline-block;
	content: '';
	width: 100%;
}
#letter_wrap li {
	display: inline-block;
	font-size: 34px;
	font-weight: 300;
}
#letter_wrap li a:hover {
	text-decoration: none;
}
.dot {
	background: #fff;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	color: white;
	position: relative;
	top: -8px;
}
.banner_type1 {
	margin-bottom: 40px;
}
.lite {
	font-weight: 400;
}
/*
.item {
	padding: 20px 10px;
	border: 1px solid #eee;
	float: left;
	margin-right: 3%;
	margin-bottom: 30px;
	position: relative;
}
*/
.item_mini {
    border: 1px solid #eee;
    float: left;

    position: relative;
    min-height: 216px;
    text-align: center;
}

.item_mini img{
    max-height: 130px;
}

.col-md-9 .item , .col-span-8 .item{
	width: 30.3333%;
	margin-right: 3%;
	/* border-color: transparent; */
	/* padding: 15px 0; */
}
.item .badge_discount {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	width: 78px;
	height: 78px;
	background: url(../images/icons.png) -70px -79px no-repeat;
}
.item .img {
	text-align: center;
	margin-bottom: 15px;
    height: 195px;
}
.item .img img {
	max-height: 195px;
}
.item .price {
	font-weight: 600;
	text-align: center;
	margin-bottom: 8px;
	font-size: 17px;
	margin: 0 -10px 8px;
}
.text.fs14 * {
	font-size: 14px !important;
	font-family: 'Open Sans', sans-serif !important;
}
.item .bottom {
	height: 42px;
	line-height: 42px;
}
.item .bottom .btn1 {
	height: 42px;
	display: inline-block;
	line-height: 42px;
}
.item .bottom .btn1:hover {
	border-radius: 10px 0 10px 0;
}
.btn2:hover, .btn3:hover, .btn4:hover {
	border-radius: 10px 0 10px 0;
}
.item .title {
	text-align: center;
	font-size: 20px;
	height: 60px;
	overflow: hidden;
	font-weight: 400;
	margin-bottom: 10px;
}
body .item .descr * {
	font-size: 14px !important;
}
.item .descr {
	color: #909090;
	line-height: 20px;
	font-size: 14px !important;
	text-align: center;
	margin-bottom: 4px;
	height: 40px;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}
.item .descr * {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 16px !important;
}
.item a:hover {
	text-decoration: none;
}
.col-span-9 .items , .col-span-8 .items {
	padding: 0 30px 0 0;
}
.items {
	margin-bottom: 20px;
}
.items:after {
	display: block;
	content: '';
	clear: both;
}

.b_bottom {
	border-bottom: 1px solid #eee;
}
.pb20 {padding-bottom: 20px;}

.news {
	padding: 0 30px;
	margin-right: -55px;
	margin-bottom: 20px;
}
.news:after {
	display: block;
	content: '';
	clear: both;
}
.new {
	float: left;
	width: 270px;
	margin-right: 55px;
	margin-bottom: 30px;
	padding: 15px 25px;
	position: relative;
}
.new:hover {
	text-decoration: none;
}
.new:hover .more {
	text-decoration: none;
}
.new .img {
	text-align: center;
	margin-bottom: 15px;
}
.new .title {
	font-size: 22px;
	margin-bottom: 4px;
	font-weight: 400;
}
.new .date {
	color: #909090;
	margin-bottom: 20px;
	font-size: 14px;
}
.new .text {
	line-height: 20px;
	margin-bottom: 10px;
}
.block_list1 {
	margin-bottom: 40px;
}
.block_list1 .col-span-4 {
	border: 1px solid #eee;
	padding: 20px 30px;
	height: 350px; 
}
.block_list1 .col-span-4 .title {
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 400;
}
.block_list1 .col-span-4.hover {
	background: #f1f1f3
}

.icon-dost {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -11px;
	display: inline-block;
	width: 40px;
	height: 23px;
	background: url(../images/icons.png) -278px -26px no-repeat;
}
.icon-percent {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -15px;
	display: inline-block;
	width: 40px;
	height: 30px;
	background: url(../images/icons.png) -378px -20px no-repeat;
}
.icon-heart {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -15px;
	display: inline-block;
	width: 40px;
	height: 30px;
	background: url(../images/icons.png) -458px -20px no-repeat;
}
.circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: white;
	float: left;
	margin-right: 25px;
	position: relative;
}

.row > .comment{
	padding-bottom: 30px;
	border-bottom: 1px solid #c8c8c8;
}

.comment {
	margin-bottom: 20px;
	margin-top: 20px;

}
.comment__title {
	font-size: 18px;
	font-weight: bold;
}

.comment__title.answer {
	color: #8e8e8e;
	font-weight: normal;
	margin: 10px 0 5px 0;
}

.comment__order{
	color:#8e8e8e;
	font-size: 14px;
	margin-bottom: 10px;
}
.comment .text {
	color: #000;
	line-height: 20px;
	font-size: 14px;
}
.comment .text.answer {
	color: #8e8e8e;
	line-height: 20px;
	font-size: 14px;
}
.stars {
	height: 20px;
	margin-bottom: 5px;
}
.star_a {
	width: 20px;
	height: 20px;
	float: left;
	background: url(../images/icons.png) -550px -23px no-repeat;
}
.star_ua {
	width: 20px;
	height: 20px;
	float: left;
	background: url(../images/icons.png) -595px -23px no-repeat;
}
.stars:after {
	clear: both;
	display: block;
	content: '';
}
#top_footer {
	background: #eb0081;
	color: white;
}
#top_footer a {
	color: white;
}
#bottom_phones {
	float: left;
	/* padding-left: 30px; */
}
#bottom_nav {
	margin-left: 320px;	
	margin-right: -20px;
	margin-bottom: 30px;
	padding-top: 20px;
}
#bottom_txt {
	position: relative;
	top: -50px;
	font-size: 12px;
	margin-bottom: -40px;
}
#bottom_phones_outer {
	float: left;
}
#bottom_nav ul{
	float: left;
}

#bottom_nav ul{
	float: left;
}

#bottom_nav .pay{
	margin-left: 80px;
}


#bottom_nav li {
	line-height: 25px;
}
#bottom_footer {
	background:#f5f5f5;
}
#bottom_menu {
	background: #f5f5f5;
	height: 38px;
	line-height: 36px;
}
#bottom_menu {
	text-align: justify;
	height: 38px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
}
#bottom_menu:after {
	width: 100%;
	display: inline-block;
	height: 0;
	font-size: 0;
	line-height: 0;
	content: '';
}
#bottom_menu li {
	display: inline-block;
	font-size: 14px;
}
#bottom_menu li a {
	text-decoration: none;
}
#bottom_menu li a:hover {
	text-decoration: underline;
}
.copyright {
	color: #909090;
	font-size: 14px;
	margin-bottom: 10px;
}

#menu_btn {
	width: 33px;
	height: 31px;
	background: url(../images/icons_responsive.png) -52px -17px no-repeat;
	display: none;
	z-index: 11;
}
#menu_btn.active {
	background: url(../images/icons_responsive.png) -52px -195px no-repeat;
}

#mobile_cart {
	display: none;
	float: right;
	padding-top: 4px;
}
#mobile_cart .btn1 {
	padding: 0 10px;
	height: 38px;
	line-height: 38px;
	font-size: 28px;
	font-weight: 400;
	overflow: hidden;
}
.icon-cart {
	width: 45px;
	height: 34px;
	background: url(../images/icons_responsive.png) -260px -12px no-repeat;
	float: left;
	position: relative;
	top: 1px
}

#mobile_phone {
	width: 45px;
	height: 45px;
	margin-left: 30px;
	top: 5px;
	background: url(../images/icons_responsive.png) -180px -12px no-repeat;
	float: left;
	display: none;
	position: relative;
	cursor: pointer;
}
#mobile_phone.active {
	background: url(../images/icons_responsive.png) -180px -190px no-repeat;
}
#mobile_user_cab {
	width: 28px;
	height: 45px;
	margin-left: 30px;
	top: 5px;
	background: url(../images/icons_responsive.png) -121px -12px no-repeat;
	float: left;
	display: none;
	position: relative;
	cursor: pointer;
}
#mobile_user_cab.active {
	background: url(../images/icons_responsive.png) -121px -190px no-repeat;
}
#user_popup {
	position: absolute;
	opacity: 0;
	border: 1px solid #e2e2e2;
	border-top: 0;
	background: #f5f5f5;
	padding: 40px 15px;
	z-index: 10;
	left: 20px;
	right: 20px;
	top: 45px;
}
#user_popup input {
	height: 40px;
	padding: 5px 50px 5px 10px;
	width: 100%;
	font-size: 14px;
}

#phone_popup {
	position: absolute;
	opacity: 0;
	border: 1px solid #e2e2e2;
	border-top: 0;
	background: #f5f5f5;
	padding: 20px 15px;
	z-index: 10;
	left: 20px;
	right: 20px;
	top: 45px;
	overflow: hidden;
}
#user_popup, #phone_popup {
	display: none;
}

.filter {
	border: 1px solid #eee;
	padding: 20px 5px 20px 20px;
	margin-bottom: 35px;
}
.filter:after {
	clear: both;
	display: block;
	content: '';
}
.filter__bottom .lCol {
	margin-bottom: -20px;
	width: 275px;
	float: left;
}
.filter__bottom .mCol {
	float: left;
	width: auto;
	border-right: 1px solid #eee;
	position: relative;
	top: -20px;
	margin-bottom: -40px;
	padding: 20px;
	padding-top: 25px;
	min-width: 300px;
}
.filter__bottom .mCol .empty_text {
	background: url(../images/search.png) 50% 50% no-repeat;
}
.filter__bottom .rCol {
	float: left;
	min-width: 200px;
	margin-left: 10px;
}

.tag2 {
	display: block;
	height: 30px;
	position: relative;
	padding: 0 42px 0 14px;
	border: 1px solid #cdcdcd;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 8px;
	overflow: hidden;
}
.tag2 .close {
	color: #00d3b5;
	cursor: pointer;
	position: absolute;
	top: 0px;
	font-weight: 600;
	right: 6px;
	font-size: 24px;
}


.listing_title {
	font-size: 34px;
	line-height: 30px;
	font-weight: 400;
	margin-bottom: 35px;
}
.listing_title:after {
	clear: both;
	content: '';
	display: block;
}
.listing_title__item {
	/* float: left; */
	margin-right: 30px;
	font-size: 34px;
	padding-top: 5px;
	font-weight: 300;
}
a.listing_title__item {
	color: #35a1e2;
	font-size: 16px;
	border-bottom: 1px dashed;
	padding-top: 15px;
	float: left;
}
a.listing_title__item:hover {
	border-color: transparent;
	text-decoration: none;
}
a.listing_title__item.active {
	color: #eb0081;
	border-color: transparent;
	cursor: default;
	text-decoration: none !important;
	/* font-size: 34px; */
	font-weight: bold;
}
a.listing_title__item.active.man {
	color: #01caaa
}

.listing_sort {
	margin-bottom: 30px;
	vertical-align: baseline;
}
.listing_sort:after {
	clear: both;
	display: block;
	content: '';
}
.tag1 {
	display: inline-block;
	background: #e9e9e9;
	height: 24px;
	line-height: 22px;
	padding: 0 10px 0 13px;
	position: relative;
	margin-right: 18px;
	cursor: pointer;
}
.tag1:hover {
	text-decoration: none;
}
.tag1:after {
	position: absolute;
	left: 100%;
	top: 0;
	height: 0;
	width: 0;
	border-top: 12px solid transparent;
	border-left: 8px solid #e9e9e9;
	border-bottom: 12px solid transparent;
	display: block;
	content: '';
}
.brand_info__text {
	padding: 0 30px;
	margin-bottom: 40px;
}
.filter_select {
	position: relative;
}
.filter_select a.open_list {
	position: relative;
	z-index: 2;
}
.filter_select a.open_list.active {
	color: #ea0080;
	z-index: 4
}
.filter_select a.open_list.active .icon-arrow-black {
	background: url(../images/icon-arrow-purple.png) 0 0 no-repeat;
	z-index: 4;
}
.filter_select__open {
	position: absolute;
	padding: 46px 22px 14px;
	border: 1px solid #c8c8c8;
	background: white;
	left: -26px;
	top: -5px;
	z-index: 3;
}


.label_check,
.label_radio    { padding-left: 34px;position: relative;z-index: 2;cursor: pointer;white-space: nowrap; }
.label_radio    { background: url(../images/check-off.png) no-repeat; }
.label_check    { background: url(../images/check-off.png) no-repeat 0 0px; }
label.c_on      { background: url(../images/check-on.png) no-repeat 0 1px; }
label.r_on      { background: url(../images/radio-on.png) no-repeat; }
.label_check input,
.label_radio input  { position: absolute; left: -9999px; }

.label_check input,
.label_radio input  { margin-right: 5px; }


.aromat_table {
	margin-bottom: 10px;
}
.aromat_table td {
	padding: 6px 20px 6px 25px;
	line-height: 18px;
}
.aromat_table .gray td {
	background: #f5f5f5;
}
.aromat_table .disabled td {
	color: #979797;
}

.aromat_table tr.disabled {
    display: none;
}

.heading_type1 {
	font-size: 34px;
	line-height: 30px;
	font-weight: 400;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	font-weight: 300;
}


.tabs_type1 {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}
.tabs_type1 ul {
	margin: 0 -5px; 
}
.tabs_type1 ul:after {
	display: block;
	clear: both;
	content: ''
}
.tabs_type1 li {
	width: 33.3%;
	float: left;
	padding: 0 5px; 
	line-height: 18px;
	font-size: 14px;
}
.tabs_type1 li a {
	background: #f5f5f5;
	display: block;
	height: 55px;
	padding-top: 10px;
	text-align: center;
}
.tabs_type1 li.one_line a {
	padding-top: 20px;
}
.tabs_type1 li.active a {
	background: #00d5b5;
}
.tabs_type1 li a:hover {
	text-decoration: none;
}

#tab1.hidden,#tab2.hidden,#tab3.hidden {
	display: block;
}

.popup .close {
    position: absolute;
    right: 25px;
    top: 10px;
    color: #cbccce;
    cursor: pointer;
    font-size: 42px;
}
.popup {
    position: fixed;
    z-index: 10;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    top: 50%;
    margin-top: -126px;
    padding: 65px 25px 35px;
    height: 255px;
    background: #f5f5f5;
    border: 1px solid #eee;
}
.popup .btn2 {
    font-size: 20px;
}
.popup input {
    padding: 6px 10px;
    font-size: 14px;
    height: 35px;
}




#no_aromat_popup .close {
	position: absolute;
	right: 25px;
	top: 10px;
	color: #cbccce;
	cursor: pointer;
	font-size: 42px;
}
#no_aromat_popup {
	position: fixed;
	z-index: 10;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	top: 50%;
	margin-top: -126px;
	padding: 65px 25px 35px;
	height: 300px;
	background: #f5f5f5;
	border: 1px solid #eee;
}
#no_aromat_popup .btn2 {
	font-size: 20px;
}
#no_aromat_popup input {
	padding: 6px 10px;
	font-size: 14px;
	height: 35px;
}

.orders_list {
	width: 100%;
	font-size: 14px;
	margin-bottom: 50px;
}
.orders_list td {
	padding: 10px;
	border: 1px solid #eee;
}
.orders_list .head td {
	background: #f5f5f5;
	border-color: #f5f5f5;
	height: 50px;
	padding: 0 0 0 15px;
	text-align: left;
}
.orders_list .val {
	width: 35px;
	height: 40px;
	line-height: 30px;
}
.order-form {
	margin-bottom: 20px;
}
.checkout-form input {
	height: 30px;
	margin-bottom: 12px;
}
.checkout-form button {
	margin: 0 auto;
	width: 250px;
	font-size: 18px;
	display: block;
}
.border_hr {
	height: 1px;
	width: auto;
	margin: 10px -15px;
	background-color: #f5f5f5;
}
.step-border {
	margin: 20px 0;
	height: 3px;
	position: relative;
	background-color: #d7d7d7;
}
.step-border__circle {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	position: absolute;
	top: -8px;
	background-color: #fff;
	border: 3px solid #d7d7d7;
}
.step-border .circle1 {left: 0;}
.step-border .circle2 {left: 50%;}
.step-border .circle3 {right: 0;}
.step-border__green {
	height: 3px;
	width: 50%;
	position: absolute;
	background-color: #00d5b5;
}
.log-in__title,
.sign-up__title {
	font-size: 2em;
	margin-bottom: 20px;
}
.log-in input,
.sign-up input {
	height: 35px;
	width: 100%;
}
.sign-up select {
	height: 35px;
	border-radius: 0;
}
.log-in .btn1,
.sign-up .btn1 {
	font-size: 18px;
}

.b-purchase.left {
	float: left;
	width: 440px;
}

.b-purchase.right {
	float: right;
	width: 425px;
}
.kabinet input {
	height: 35px;
	padding: 6px 10px;
	font-size: 14px;
}
.kabinet .enter_d1 .input_wr {
	margin-left: 120px;
}
.kabinet .b-purchase.right .input_wr {
	margin-left: 100px;
}
.kabinet .enter_d1 label {
	padding-top: 4px;
}
#why-need-popup {
	display: none;
	width: 450px;
	border: 1px solid #eee;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 2;
	padding: 15px;
	background: white;
	font-size: 14px;
	line-height: 19px;
}
.why-need:hover #why-need-popup {
	display: block;
}
.kabinet .label_radio {
	display: block;
	font-size: 14px;
	line-height: 18px;
	min-height: 20px;
	padding-top: 2px;
}

#brand_wrap {
width: 700px;
overflow:hidden;
margin-bottom:20px;
}
#brand_wrap .line1 {
display:block;
float:left;
width:350px;
padding-left:50px;
padding-bottom:30px;
position:relative;
}
#brand_wrap .line2 {
width:350px;
display:block;
float:left;
padding-bottom:30px;
position:relative;
margin-top:60px;
}
#brand_wrap .line2a {
width:250px;
display:block;
float:left;
padding-bottom:30px;
position:relative;
}
#brand_wrap_white {
width:644px;
background:white;
overflow:hidden;
}
.letter {
font-weight: bold;
font-size: 22px;
color: #a41d5f;
margin-top: 60px;
display: block;
}
.pl1 {
position: relative;
zoom: 1;
display: inline;
padding-left: 40px;
}



ul.catalog_list {
    float:left;
    margin:0;
    padding-bottom:20px;
    padding-left:20px;
    width:180px;
    line-height:25px;
}
ul.catalog_list li {
    color:#eb0081;
    font-size:34px;
    font-style:italic;
    font-family:Georgia;
    list-style-type:none;
    margin:0;
}
ul.catalog_list li ul {
    margin:0;
    padding-left:30px;
}
ul.catalog_list li ul li {
    color:#000000;
    font-style:normal;
    font-family: Tahoma;
    font-size:11px;
    font-weight:normal;
    list-style-type:none;
}
ul.catalog_list li ul li a {
    color:#000000;
    font-size:11px;
    list-style-type:none;
    text-decoration:none;
}



.pages {
    padding: 14px 8px;
    font-size: 12px;
	float: right;
}
.pages:after {
    content: "";
    display: block;
    clear:both;
}
.pages ul {
    float: left;
    height: 23px;
    line-height: 23px
}
.pages ul li {
	border: 1px solid #cbcbcb;
    float: left;
    padding: 5px 12px;
	margin-left: 15px;
}
.pages ul li.active {
    color: #ea007f;
	border:1px solid #ea007f;
}
.pages ul li.arrow {position: relative;top:1px;text-decoration: none;
    padding-right: 5px;border:none}
.pages ul li.arrow a {text-decoration: none}
.pages .rCol {
    float: right
}

.outstock{
    display: none;
}
/*-------modal--------------------------------------------------------------------------------*/
.modal {
	top: 9%;
}
.modal-content {
	padding: 15px 15px 20px;
}
.modal .close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -7.5px;
	right: -7.5px;
	z-index: 105;
	background: #ffffff;
	border-radius: 100%;
	cursor: pointer;
	display: block;
	overflow: hidden;
	padding: 0;
	text-indent: 200%;
	white-space: nowrap;
	border: none;
}
.modal .close:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #333333;
	content: "\00d7";
	display: block;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	margin: auto;
	text-align: center;
	text-indent: 0;
	-webkit-transition: color 0.15s linear;
	        transition: color 0.15s linear;
}
.modal form {
	width: 300px;
	margin: 20px auto 0;
}
.modal input {
	height: 35px;
	margin-bottom: 10px;
}
.modal .btn2 {
	display: block;
	margin: 10px auto 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h2 {
    font-size: 34px;
}
.fs34 , h1 {
	font-weight: 300;
}

.bread_crumps, .bread_crumps a {
    font-size: 14px;
    margin-bottom: 20px;
}
.text-center {
    text-align: center;
}


.article .title {
    line-height: 1.4;
    margin-bottom: 10px;
    /* max-height: 2.8em; */
    overflow: hidden;
}

.article .date {
    font-size: 14px;
}

.article {
    height: 82px;
    margin-bottom: 20px;
}

.brand__letter {
    display: table-cell;
    vertical-align: top;
    font-size: 50px;
    line-height: 1;
    color: #eb0081;
    width: 70px;
}

.brand__letter-list {
    display: table-cell;
    vertical-align: top;
    width: 980px;
}

.brand__letter-item {
    line-height: 1.6;
}

.brand__list-item {
    margin-top: 60px;
}

.brand__list {
    margin-bottom: 60px;
}
.sign-up label {
    font-size: 18px;
}
.listing-article {
	margin-bottom: 60px;
}
.listing-article_anot p {
	line-height: 1.45;
}
.listing-article_anot .listing-article_link {
	display: block;
}
.aromat .text * {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 16px !important;
	line-height: 1.5;
}

.news .article .title {
	max-height: 44px;
	overflow: hidden;
}
.news .article .img {
	width: 80px;
	float: left;
}
.news .article:hover {
	text-decoration: none;
}
.news .article:hover .title {
	text-decoration: underline;
}

.aromat #tab3 {
	/*width: 980px;*/
}

#orders {
	padding-top: 20px;
}
#orders .b-step p {
	color: #9b9b9b
}
#orders .b-step {
	margin-bottom: 20px;
}
#orders input, #orders select {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}


.items.main_page .col-md-3.item {
	width: 22.5%;
	margin-right: 2%;
} 
.items.main_page {
	margin-right: -40px;
}

#fast_view.popup {
	background: white;
	width: 670px;
	padding: 65px 30px 35px;
	height: auto;
	margin-left: -335px;
}
#fast_view.popup .aromat_table {
	margin-bottom: 0;
}
#overlay {
	z-index: 9;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.2);
	position: fixed;
}

.filter_select__open .scroll {
	max-height: 240px;
	overflow: hidden;
	overflow-y: auto;
	margin: 0 -22px;
	padding: 0 22px;
}
.filter_select__open {
	
}
.scroll .label_check {
	margin-left: 22px;
}

.b-delivery__table .hide_this_block input {
	margin-left: 10px;
}
.b-delivery__table .hide_this_block label.one_line {
	padding-top: 7px;
}
.b-delivery__table .hide_this_block label {
	display: inline-block;
	vertical-align: top;
	padding-top: 7px;
}
.b-delivery__table .hide_this_block .col-xs-7 {
	padding-left: 0;
}
.b-delivery__table .hide_this_block .pl0 {
	padding-left: 0 !important;
}
.b-delivery__table .hide_this_block .input-stroenie {
	width: 65px;
}
.b-delivery__table .hide_this_block .input-flat {
	width: 65px;
}
.b-delivery__table .hide_this_block .input-domophone {
	width: 65px;
}
.b-delivery__table .hide_this_block .input-regs_postcode {
	width: 65px;
}
.b-delivery__table .hide_this_block .input-house {
	width: 53px;
}
.b-delivery__table .hide_this_block .input-corpus {
	width: 60px;
	float: right;
	margin-right: -4px;
}

.b-order__wrap .b-order__table td {
	padding-bottom: 18px;
	padding-top: 8px;
	font-size: 16px !important;
}
.b-order__wrap .b-order__table .cart_td td {
	padding-top: 14px;
	padding-bottom: 2px;
}
.b-order__wrap .b-order__table td span {
	font-size: 16px !important;	
}
.b-order__wrap .b-order__table td .color_gray1 {
	font-size: 14px;
}
.b-order__total {
	font-size: 16px;
}
.itogo.color_purple {
	font-weight: bold;
}


.top_brands {
	margin-bottom: 80px;
}
.top_brands__alpha {
	margin-bottom: 45px;
}
.top_brands__alpha ul {
 	position: relative;
 	height: 52px;
 	background: #cacaca;
 	text-align: justify;
 	padding: 0 5px;
 }
 .top_brands__alpha ul::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.top_brands__alpha li {
	display: inline-block;
	font-size: 34px;
	font-weight: 300;
	height: 60px;
	line-height: 60px;
	position: relative;	
	top: -8px;
	padding: 0 5px;
}
.top_brands__alpha li a {
	color: white;
	display: inline-block;	
	position: relative;
	top: 3px;

}
.top_brands__alpha li.active {
	background: #eb0081;
}
.top_brands__content ul {
	float: left;
	width: 25%;
	line-height: 1.6;
}
.top_brands__content ul li {
	padding-left: 15px;
}
.top_brands__content {
	overflow: hidden;
}

.tovar_item_img_wrap {
	cursor: pointer;
}

.step1_btn.col-xs-4 {
	display: none;
}
.step1_btn.col-xs-8 {
	width: 100%;
}
.step1_btn .forget.mb10 {
	text-align: center;
}

.orders_list .color_purple.bold_fat.pull-right br {
	display: none;
}

.lazy{
    background: #f2f2f2 url(../images/loader.gif) no-repeat center;
}



.aromat_table .disabled:after {
	display: none;
}




.block_new_parfum_main {
	display: inline-block;
	width: 50%;
	position: relative;
	top: -30px;
	text-align: left;
}

.block_free_ship_img_main {
	display: inline-block;
	text-align: right;
	width: 49%;
}

.free_ship_img_main {
	position: relative;
	right: -16px;
}

.block_relative_sort_ch {
	width: 350px;
	float: left;
}

.block_free_ship_img_prod {
	width: 280px;
	float: left;
	top: 0px;
	position: relative;
	margin-left: 70px;
}

.block_danger_img {
	width: 180px;
	float: right;
	position: relative;
	top: 10px;
}

/*
.danger_img {
	float: right;
	top: -10px;
	position: relative;
	cursor: pointer;
}
*/

.aromat_table_tabs {
	background: #f1f1f3;
}
.aromat_table_tabs:after {
	display: block;
	content: '';
	clear: both;
}
.aromat_table_tabs li {
	float: left;

}
.aromat_table_tabs li a {
	display: block;
	font-weight: bold;
	height: 45px;
	line-height: 45px;
	padding: 0 22px;
	position: relative;
}

.aromat_table_tabs.short_padding a{
	padding: 0 13px;
	font-size: 14px;
}

.aromat_table_tabs li.active a {
	color: #ea0080;
	border: 1px solid #cdcdcd;
	border-radius: 0 10px 0 0;
	border-bottom-color: white;
	background: white;
	margin-bottom: -1px;
	height: 46px;
	cursor: default;
}
.aromat_table_tabs li.active a:hover {
	text-decoration: none;
}

.aromat_table tr.head {
	font-size: 14px;
	color: #989898;
	background: white;
}
.aromat_table tr.head td {
	background: white;
}
.aromat_table.table_new {
	font-size: 14px;
}
.aromat_table.table_new .btn3 {
	height: 25px;
	line-height: 25px;
	border-radius: 5px;
}
.aromat_table_i {
	display: inline-block;
	cursor: pointer;
	width: 18px;
	height: 18px;	
	position: relative;
	top: 3px;	
	background: url(../images/aromat_table_i.png) 0 0 no-repeat;
}
.aromat_table_i:hover {
	background-position: 0 100%;
}

.show_800 {
	display: none;
}

.plus_wrap {
	background: #f1f1f3;
	padding: 25px 10px;
}
.plus_wrap li:after {
	display: block;
	clear: both;
	content: '';
}
.plus_wrap li {
	margin-bottom: 25px;
	line-height: 1.3;
	font-size: 14px;
	display: block;
	position: relative;
	cursor: pointer;
}
.plus_wrap.wide {
	padding: 25px;
}
.plus_wrap.wide li {
	width: 33%;
	float: left;
	min-height: 36px;
	margin-bottom: 20px;
}
.plus_wrap.wide li.clear {
	width: 100%;
	height: 0;
	min-height: 0;
}
.plus_wrap.wide:after {
	display: block;
	content: '';
	clear: both;
}
.plus_wrap li:last-child {
	margin-bottom: 0;
}
.plus_wrap li div {
	margin-left: 47px;
}
.plus_wrap li:hover a {
	color: #ea0080;
}
.social_wrap .plus_wrap li:hover a {
	color: #000;
	cursor: default;
	text-decoration: none;
}
.plus_wrap i {
	float: left;
	width: 47px;
	height: 25px;
	background: url(../images/icons-preimush.png) 0 0 no-repeat;
}
.plus_wrap .i1 i {
	background-position: -438px -156px;
}
.plus_wrap .i1:hover i, .plus_wrap .i1 i.active {
	background-position: -438px -129px;
}
.plus_wrap .i2 i {
	background-position: -7px -78px;
	height: 30px;
}
.plus_wrap .i2:hover i, .plus_wrap .i2 i.active {
	background-position: -7px -43px;
}
.plus_wrap .i3 i {
	background-position: 0px -220px;
	height: 30px;
	position: relative;
	top: 6px;
}
.plus_wrap .i3:hover i, .plus_wrap .i3 i.active {
	background-position: 0px -184px;
}

.plus_wrap .i4 i {
	background-position: 0px -367px;
	height: 30px;
	position: relative;
	top: -5px;
}
.plus_wrap .i4:hover i, .plus_wrap .i4 i.active {
	background-position: 0px -325px;
}
.plus_wrap .i5 i {
	background-position: -215px -253px;
	height: 30px;
	position: relative;
	top: 7px;
}
.plus_wrap .i5:hover i, .plus_wrap .i5 i.active {
	background-position: -215px -213px;
}
.plus_wrap .i6 i {
	background-position: -222px -88px;
	height: 35px;
	position: relative;
	top: 2px;
}
.plus_wrap .i6:hover i, .plus_wrap .i6 i.active {
	background-position: -222px -42px;
}
.plus_wrap .i7 i {
	background-position: -626px -72px;
	height: 35px;
	position: relative;
	top: 2px;
}
.plus_wrap .i7:hover i, .plus_wrap .i7 i.active {
	background-position: -626px -21px;
}

.plus_wrap.wide .li_popup {
	left: 50%;
	margin-left: -164px;
	top: 100%;
	margin-top: 20px;
}

.plus_wrap li .li_popup {
	position: absolute;
	display: none;
	left: 100%;
	top: 50%;
	width: 375px;
	padding: 40px;
	background: white;
	-webkit-box-shadow: 0 0 4px 1px #d6d6d6;
	box-shadow: 0 0 4px 1px #d6d6d6;
	margin-left: 24px;
	z-index: 10;
}
.plus_wrap li:hover .li_popup {
	display: block;
}
.plus_wrap.wide .li_popup::before {
	top: 0px;
	left: 50%;
	margin-left: -7px;
}
.plus_wrap.wide .li_popup::after {
	top: 12px;
	left: 50%;
	margin-left: -12px;
}
.plus_wrap li .li_popup::before {
	display: block;
	content: '';
	width: 14px;
	height: 14px;
	position: absolute;
	left: -7px;
	top: 50%;
	margin-top: -7px;
	background: white;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-shadow: 0 0 4px 1px #d6d6d6;
	box-shadow: 0 0 4px 1px #d6d6d6;	
}
.plus_wrap li .li_popup::after {
	display: block;
	position: absolute;
	content: '';
	width: 25px;
	height: 25px;
	left: 0;
	top: 50%;
	margin-top: -12px;
	background: white;
	z-index: 2;
}


.tester_wrap {
	position: relative;
}
.tester_popup {
	position: absolute;
	display: none;
	left: 50%;
	top: 100%;
	width: 345px;
	margin-left: -172px;
	margin-top: 15px;
	padding: 20px;
	background: white;
	-webkit-box-shadow: 0 0 4px 1px #d6d6d6;
	box-shadow: 0 0 4px 1px #d6d6d6;
	z-index: 10;
	line-height: 1.3;
	font-size: 14px;
}
.tester_popup .tester_title {
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 16px;
}
.tester_wrap:hover .tester_popup {
	display: block;
}
.tester_popup::before {
	display: block;
	content: '';
	width: 14px;
	height: 14px;
	position: absolute;
	left: 50%;
	top: -7px;
	margin-left: -7px;
	background: white;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-shadow: 0 0 4px 1px #d6d6d6;
	box-shadow: 0 0 4px 1px #d6d6d6;	
}
.tester_popup::after {
	display: block;
	position: absolute;
	content: '';
	width: 25px;
	height: 25px;
	left: 50%;
	top: 0%;
	margin-left: -12px;
	background: white;
	z-index: 2;
}




.card_tabs1 {
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 60px;
}
.card_tabs1:after {
	display: block;
	content: '';
	clear: both;
}
.card_tabs1 li {
	float: left;
	position: relative;
	z-index: 2;
}
.card_tabs1 li a {
	display: block;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 45px;	
	position: relative;
	z-index: 2;
	margin-bottom: -1px;
}
.card_tabs1 li.active a {
	border: 1px solid #cdcdcd;
	border-radius: 0 10px 0 0;
	border-bottom-color: #fff;
	color: #ea0080;
	cursor: default;
}
.card_tabs1 li.active a:hover {
	text-decoration: none;
}


.popup_overlay {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
	z-index: 1000;
}
.danger_img {
	cursor: pointer;
}

.popup_text {
	width: 700px;
	background: white;
	padding: 30px;
	position: fixed;
	left: 50%;
	margin-left: -350px;
	top: 20px;
	bottom: 20px;
	overflow: hidden;
	z-index: 1001;
	height: 560px;
}
.popup_text .close {
	position: absolute;
	color: #a9a9a9;
	right: 30px;
	top: 30px;
	font-size: 30px;
	cursor: pointer;
}
.popup_text .text {
	height: 440px;
	overflow: visible;
	font-size: 15px;
}


.aromat_table_outer {
	min-height: 243px;
}

.tab_item{
	margin-bottom: 50px;
	display: none;
}

.cart_crossale {
    background: #f5f5f5;
    padding: 30px 0;
    position: relative;
    top: -50px;
}
.cart_crossale .bx-pager.bx-default-pager {
    display: none;
}
.cart_crossale .bx-wrapper {                    
    border: 0;
    box-shadow: none;
    background: transparent;
}
.cart_crossale .bx-wrapper .bx-controls-direction a {
    height: 22px;
    margin-top: -11px;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 10px;
    z-index: 9;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.cart_crossale .bx-wrapper .bx-prev {
    background: url("/templates/lib/bxslider-4/dist/images/arrows.png") no-repeat scroll -21px -35px;
    left: -25px;
}
.cart_crossale .bx-wrapper .bx-prev:hover, .cart_crossale .bx-wrapper .bx-prev:focus {
    background: url("/templates/lib/bxslider-4/dist/images/arrows.png") no-repeat scroll -142px -37px;
}
.cart_crossale .bx-wrapper .bx-next {
    background: url("/templates/lib/bxslider-4/dist/images/arrows.png") no-repeat scroll -42px -35px;
    right: -20px;
    left: auto;
}
.cart_crossale .bx-wrapper .bx-next:hover, .cart_crossale .bx-wrapper .bx-next:focus {
    background: url("/templates/lib/bxslider-4/dist/images/arrows.png") no-repeat scroll -163px -37px;
}

.ccSlider li {
    width: 235px;
    border: 1px solid #eaeaea;
    background: white;
    margin-right: 3px;
    float: left;
    padding: 5px;
    min-height: 120px
}
.ccSlider li img {
    float: left;
    width: 60px;
    position: relative;
    top: 15px;
}
.ccSlider li .ccContent {
    margin-left: 75px;
}
.ccSlider li .ccTitle {
    line-height: 1.3;
    padding-top: 8px;
}
.cc_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.ccSlider li .ccBuy {
    position: relative;
    top: -4px;
    text-decoration: underline;
}
.ccSlider li .ccBuy:hover {
    text-decoration: none;
}
.ccSlider {
    height: 120px;    
}
.ccSlider .wide li {
	width: 19%;
	margin-right: 1%;
}
.ccSlider .vertical li {
	width: auto;
	margin-right: 0;
	float: none;
	margin-bottom: 8px;
}



@media screen and (max-width: 480px) {
  
  #cart_step2 input {
    width: 100%;
  }

  #cart_step2 .row {
    margin-left: -30px;
    margin-right: -30px;
  }
  
  #cart_step2 .row .row {
    margin-left: -15px!important;
    margin-right: -15px!important;
  }
}


@media(max-width: 768px){
	#bottom_phones_outer {
    float: none;
    text-align: center;
}
}

