/* Выпадающий список подсказок */
.autocomplete-suggestions {
    background: #fff;
    border: 1px solid #b3b9cb;
    cursor: default;
    max-height: 500px;
    overflow: auto;
}
/* Элемент списка */
.autocomplete-suggestion {
    overflow: hidden;
    padding: 2px 5px;
    white-space: nowrap;
}
.autocomplete-suggestion-region {
    color: #999;
}
/* Разные стили для четных-нечетных элементов списка */
.autocomplete-suggestion:nth-child(even) {
    background: #f5f5f5;
}
/* Выделенный элемент списка */
.autocomplete-selected {
    background: #f0f0f0;
}
/* Подсветка совпадения в результатах поиска */
.autocomplete-suggestion strong {
    color: #3399FF;
    font-weight: normal;
}

.autocomplete-info{
    font-size: 14px;
    color: #3F3D3D;
}

.autocomplete-suggestion-result {
	font-size: 14px;
	font-weight: 600;
}