{strip}
<table align="left" width="100%" border="0" cellpadding="20" cellspacing="5" class="form">
	<tr bgcolor="#f6f7f9">
		<td align="left" style="font: normal 17px/25px Tahoma;color: #446180;">
		<img src="images/warning.png" width="48" height="48" align="absmiddle" border="0">
		&nbsp;&nbsp;{$info}
		</td>
	</tr>
</table>
{/strip}