{strip}
<table align="left" width="100%" border="0" cellpadding="0" cellspacing="10">
	<tr bgcolor="#f6f7f9">
		<td valign="top" >
			<div class="block">
    			<h2>Последнии комментарии</h2>
    			<ul>
				{section name=i loop=$item_comment}
				<li style="background:{$item_comment[i].bgcolor};">
					[<b>{$item_comment[i].user_name}</b> / {$item_comment[i].date}]
					&nbsp;[<a href="?main=content&worker=catalog&action=delete_comment&id_cat={$item_comment[i].catalog_id_cat}&id={$item_comment[i].id}">
					удалить</a>]
					&nbsp;[<a href="?main=content&module=catalog&action=edit&id_cat=82&id={$item_comment[i].catalog_id}">перейти в карточку</a>]
					<br>
					&raquo;&raquo;&nbsp;<span>{$item_comment[i].catalog_title}</span><br>
					{$item_comment[i].user_text}
				</li>
				{/section}
			</ul>
			</div>	
		</td>
	</tr>
</table>
{/strip}