{literal}
<!-- Êàëåíäàðü -->
<style type="text/css">@import url(/js/calendar/calendar-blue.css);</style>
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-ru.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<!--  -->
{/literal}