<script src="http://feather.aviary.com/js/feather.js"></script>
<script src="js/plupload/plupload.full.js"></script>

<script src="js/moderation.js?v=1"></script>

<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
    <tr>
        <td align="left" width="20%">&nbsp;&nbsp;Ïðåâüþ:</td>
        <td align="left" width="80%">
            <input type="text" name="image_path" style="width:100%;display: none">
            <a href="" id="upload_image">Çàãðóçèòü</a><br>
            <a href="" onclick="return launchEditor('image1', 'http://' + document.location.host + $('#image1').attr('src') )">Ðåäàêòèðîâàòü</a><br>

            <img id="image1" style="width:230px;{if $img==''}display: none{/if}" src="/images/uploads/{$module}/{$smarty.get.id}/big/{$img}"/>

        </td>
    </tr>

    <tr>
        <td align="left">&nbsp;&nbsp;Îïèñàíèå ôîòîãðàôèè (ALT):</td>
        <td align="left">
            <input type="text" name="alt" style="width:100%" value="{$img_alt}">
        </td>
    </tr>
    <tr class="table_bg">
        <td align="left" colspan="2">
            &nbsp;&nbsp;Èñêàòü â google:
        </td>
    </tr>
    <tr>
        <td align="left" width="10%">&nbsp;&nbsp;Çàïðîñ:</td>
        <td align="left" width="90%">
            <input type="text" id="qw" style="width:100%" class="form_add" value="{$brand.title} {$title}">
        </td>
    </tr>
    <tr>
        <td align="left" colspan="2">
            <input type="button" name="get_foto" id="get_foto" value="Go"><input type="button" name="select_foto" id="select_foto" value="Óñòàíîâèòü âûáðàííóþ">
        </td>
    </tr>
    <tr>
        <td align="center" id="out_foto" colspan="2">
            <div id="msg"></div>
        </td>

    </tr>
</table>

