<h3>Èñòîðèÿ èçìåíåíèé:</h3>
<table class="form_add" style="width: 800px;">
    <tr>
        <td>Þçåð</td>
        <td>Äåéñòâèå</td>
        <td>Èñõîäíûå äàííûå</td>
        <td>Âðåìÿ</td>
    </tr>
    {foreach from=$aHistory item=oHistory}
        <tr>
            <td>{$oHistory.login}</td>
            <td>{$oHistory.text}</td>
            <td>{$oHistory.source}</td>
            <td>{$oHistory.date_add}</td>
        </tr>
    {/foreach}
</table>