<table width="100%" height="2" border="0" cellspacing="0" cellpadding="0" >
<tr>
	<td width="50%" class="header_nav_l"><img src="/images/1x1.gif" width="1" height="1" border="0"></td>
	<td width="50%" class="header_nav_r"><img src="/images/1x1.gif" width="1" height="1" border="0"></td>
</tr>
</table>

<table width="100%" height="18" border="0" align="center" cellspacing="0" cellpadding="0" class="header_nav">
<tr>
	<td width="20" valign="top" style="padding-bottom:1px;"><img src="images/header/home.gif" width="12" height="12"></td>
	<td>{$items}</td>
	<td width="300" align="right"><div id="actions_header"></div></td>
</tr>
</table>