<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="title" content="" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
</head>

<body>

<div id="wrapper">
<div id="header">
</div><!-- #header-->


	<div id="content">
	
		<div style="width:600px">
		
			<table>
				<tr>
					<td width="130" valign="top"><img src="http://enigme.ru/images/default/enigme_l.png"></td>
					<td valign="bottom">
						<h2 style="font: 18px/18px Tahoma;font-weight:normal">Çäðàâñòâóéòå, {$fio}!</h2>
						<font style="font: 12px/18px Tahoma">
						
							Ñîîáùàåì  Âàì, ÷òî çàêàç ¹{$order_id} áûë îòïðàâëåí <strong>{$date2}</strong>. Íîìåð ïî÷òîâîãî îòïðàâëåíèÿ(ïî÷òîâûé èäåíòèôèêàòîð) Âàøåé ïîñûëêè <strong>{$post_code}</strong>.<br /><br />

							Âû ìîæåòå îòñëåæèâàòü ìåñòîíàõîæäåíèå ïîñûëêè íà ñàéòå Ïî÷òû Ðîññèè <a target="_blank" href="http://russianpost.ru/rp/servise/ru/home/postuslug/trackingpo">http://russianpost.ru/rp/servise/ru/home/postuslug/trackingpo</a><br /><br />

							Äîâîäèì äî Âàøåãî ñâåäåíèÿ, ÷òî âðåìÿ äîñòàâêè ïîñûëêè çàâèñèò îò ðàáîòû ïî÷òû â êàæäîì êîíêðåòíîì ðåãèîíå è ñîñòàâëÿåò  â ñðåäíåì îò  5 äî 14 äíåé. <br /><br />
							
							Ïî âñåì èíòåðåñóþùèì  âîïðîñàì ïðîñüáà îáðàùàòüñÿ ïî òåëåôîíó {$global_phone}.
							Ñ Óâàæåíèåì, <a style="font: 12px/18px Tahoma;color:black" target="_blank" href="http://enigme.ru/">Enigme.ru</a>

						</font><br>

					</td>
				</tr>
			</table>

		</div>
		
	</div><!-- #content-->

	
	
	
	<div id="footer"></div><!-- #footer --></div><!-- #wrapper -->
</body>
</html>