<head>
<style>
*{
padding:0;
margin:0;
}
body {background:#ffe295}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<center style="background:#ffe295">
<table width="600" border="0" cellpadding="0" cellspacing="0">


<tr><td>
	<table width="600" border="0" cellpadding="0" cellspacing="0">
		<tr><td>
			<img src="http://parfumoff.ru/images/2012-8-m/1.png" width="600" />
		</td></tr>
	</table>
</td></tr>


<tr><td height="40" valign="top">
	<table width="600" border="0" cellpadding="0" cellspacing="0">
		<tr><td align="left">
			<div style="height:30px;line-height:30px;background:#2a9460;color:white;padding-left:28px;font-size:15px;font-family:Arial">Ðåêîìåíäóåì àðîìàòû â ïîäàðîê:</div>
		</td></tr>
	</table>
</td></tr>


<tr><td valign="top">
	<div>
		
		
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" width="300">
					<div style="height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/yves-saint-laurent/parisienne/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/2.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/yves-saint-laurent/parisienne/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Yves Saint Laurent <br />
								Parisienne
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíûå äóõè
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1921 ðóá</div>
						</div>
					</div>
				</td>
				<td align="right" width="300">
					<div style="text-align:left;height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/christian-dior/miss-dior-cherie-leau/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/3.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/christian-dior/miss-dior-cherie-leau/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Christian Dior Miss Dior<br />
								Cherie L'eau
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíàÿ âîäà
							50 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">2340 ðóá</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr><td height="18">&nbsp;</td></tr>
		</table>
		
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" width="300">
					<div style="height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/chanel/n5/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/4.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/chanel/n5/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Chanel<br />
								Chanel N5
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíàÿ âîäà
							50 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">3180 ðóá</div>
						</div>
					</div>
				</td>
				<td align="right" width="300">
					<div style="text-align:left;height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/guerlain/shalimar-initial/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/5.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/guerlain/shalimar-initial/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Guerlain<br />
								Shalimar Initial
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíûå äóõè
							40 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">2244 ðóá</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr><td height="18">&nbsp;</td></tr>
		</table>
		
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" width="300">
					<div style="height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/givenchy/ange-ou-demon-tender/"><img src="http://parfumoff.ru/images/2012-8-m/6.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/givenchy/ange-ou-demon-tender/" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Givenchy<br />
								Ange Ou Demon Tender
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíàÿ âîäà
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1282 ðóá</div>
						</div>
					</div>
				</td>
				<td align="right" width="300">
					<div style="text-align:left;height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/lanvin/eclat-darpege/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/7.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/lanvin/eclat-darpege/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Lanvin<br />
								Eclat D'Arpege
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíûå äóõè
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1003 ðóá</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr><td height="18">&nbsp;</td></tr>
		</table>
		
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" width="300">
					<div style="height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/issey-miyake/leau-dissey-floral/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/8.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/issey-miyake/leau-dissey-floral/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Issey Miyake<br />
								L'Eau D'Issey Floral
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíàÿ âîäà
							25 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1866 ðóá</div>
						</div>
					</div>
				</td>
				<td align="right" width="300">
					<div style="text-align:left;height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/carolina-herrera/212-vip/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/9.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/carolina-herrera/212-vip/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Carolina Herrera<br />
								212 Vip
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíûå äóõè
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1266 ðóá</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr><td height="18">&nbsp;</td></tr>
		</table>
		
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" width="300">
					<div style="height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/versace/bright-crystal/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/10.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/versace/bright-crystal/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Versace<br />
								Bright Crystal
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíàÿ âîäà
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1330 ðóá</div>
						</div>
					</div>
				</td>
				<td align="right" width="300">
					<div style="text-align:left;height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/juicy-couture/juicy-couture/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/11.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/juicy-couture/juicy-couture/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Juicy Couture
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíûå äóõè
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1234 ðóá</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr><td height="18">&nbsp;</td></tr>
		</table>
		
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" width="300">
					<div style="height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/gucci/by-gucci/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/12.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/gucci/by-gucci/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Gucci<br />
								By Gucci
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíûå äóõè
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1778 ðóá</div>
						</div>
					</div>
				</td>
				<td align="right" width="300">
					<div style="text-align:left;height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/lancome/hypnose-senses/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/13.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/lancome/hypnose-senses/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Lancome<br />
								Hypnose Senses
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíûå äóõè
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1550 ðóá</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr><td height="18">&nbsp;</td></tr>
		</table>
		
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" width="300">
					<div style="height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/bvlgari/omnia-cristalline/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/14.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/bvlgari/omnia-cristalline/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Bvlgari<br />
								Omnia Cristalline
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíàÿ âîäà
							40 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1346 ðóá</div>
						</div>
					</div>
				</td>
				<td align="right" width="300">
					<div style="text-align:left;height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/agent-provocateur/agent-provocateur/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/15.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/agent-provocateur/agent-provocateur/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Agent Provocateur
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíûå äóõè
							25 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1154 ðóá</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr><td height="18">&nbsp;</td></tr>
		</table>
		
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" width="300">
					<div style="height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/chloe/chloe-bezhevaja/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/16.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/chloe/chloe-bezhevaja/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Chloe<br />
								Chloe
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíûå äóõè
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1710 ðóá</div>
						</div>
					</div>
				</td>
				<td align="right" width="300">
					<div style="text-align:left;height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/kenzo/leau-par/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/17.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/kenzo/leau-par/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Kenzo<br />
								L'Eau Par
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíàÿ âîäà
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1378 ðóá</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr><td height="18">&nbsp;</td></tr>
		</table>
		
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" width="300">
					<div style="height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/dolce-gabbana/n3-limperatrice/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/18.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/dolce-gabbana/n3-limperatrice/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Dolce & Gabbana<br />
								N3 L'Imperatrice
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíàÿ âîäà
							50 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1874 ðóá</div>
						</div>
					</div>
				</td>
				<td align="right" width="300">
					<div style="text-align:left;height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/christina-aguilera/royal-desire/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/19.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/christina-aguilera/royal-desire/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Christina Aguilera<br />
								Royal Desire
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíûå äóõè
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">1054 ðóá</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr><td height="18">&nbsp;</td></tr>
		</table>
		
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" width="300">
					<div style="height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/victorrolf/flowerbomb/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/20.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/victorrolf/flowerbomb/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Victor&Rolf<br />
								Flowerbomb
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíàÿ âîäà
							50 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">2788 ðóá</div>
						</div>
					</div>
				</td>
				<td align="right" width="300">
					<div style="text-align:left;height:180px;background:white;width:285px;border:3px solid #fad070;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
						<div style="width:135px;float:left;">
							<a href="http://www.parfumoff.ru/production/angel-schlesser/angel-schlesser/#duhi"><img src="http://parfumoff.ru/images/2012-8-m/21.jpg" style="border:0" /></a>
						</div>
						<div style="margin-left:135px;padding-top:20px">
							<a href="http://www.parfumoff.ru/production/angel-schlesser/angel-schlesser/#duhi" style="height:66px;display:block;text-decoration:none;font-size:18px;color:#842554;font-family:Arial;">
								Angel Schlesser
							</a><br />
							<div style="margin-top:6px;font-size:12px;font-family:Arial;margin-bottom:6px">
							Òóàëåòíàÿ âîäà
							30 ìë
							</div>
							<div style="margin-bottom:10px;font-size:18px;font-family:Arial">808 ðóá</div>
						</div>
					</div>
				</td>
			</tr>
		</table>

		
		
		
		
		
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr><td align="left">
				<br />
				<div style="font-size:18px;font-family:Arial;padding-left:24px;margin-bottom:18px;color:#842554">
					Èíôîðìàöèÿ äëÿ ïîêóïàòåëåé
				</div>
				<div style="font-size:11px;font-family:Arial;padding-left:24px;margin-bottom:18px">
					Âû ïîëó÷èëè ýòî ïèñüìî, ïîòîìó ÷òî ïîäïèñàíû íà ðàññûëêó. <br />
					<a href="http://parfumoff.ru/users/unsubscribe/{$invite_code}" style="color:#842554">Îòïèñàòüñÿ îò ðàññûëêè</a>.
				</div>
				<div style="font-size:11px;font-family:Arial;padding-left:24px;margin-bottom:18px">
					Ñî ñðîêàìè è óñëîâèÿìè äîñòàâêè Âû ìîæåòå îçíàêîìèòüñÿ â ðàçäåëå <a style="color:#842554" href="http://www.parfumoff.ru/about/#dostavka">Äîñòàâêà</a>
				</div>
			</td>
			<td width="165" align="right">
				<img src="http://parfumoff.ru/images/2012-8-m/22.jpg" style="border:0" />
			</td>
			</tr>
		</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td height="40" bgcolor="#842554">
					<div style="margin-left:24px;color:white;font-size:11px;font-family:Arial;margin-bottom:3px">© parfumoff.ru 2008</div>
				</td>
			</tr>
		</table>
		<table width="600" border="0" cellpadding="0" cellspacing="0">
			<tr><td height="20">&nbsp;</td></tr>
		</table>
	</div>
</td></tr>

</table>
</center>
</body>