<table border="0" cellpadding="0" cellspacing="0" class="pages">
      <tr align="center">
        {$prev}
        {$page_1}
        {$page_2}
        {$page_3}
        {$page_4}
        {$page_5}
        {$page_6}
        {$page_7}
        {$page_8}
        {$page_9}
        {$page_10}
        {$next}
      </tr>
</table>