
<td class="item" colspan="8" align="left" valign="top" width="360" height="75" style="border-bottom:1px dotted gray;{if $w eq '0'}border-right:1px dotted gray{/if}">
	<table cellspacing="0" cellpadding="0">
	<tbody>
	<tr>
		<td class="xl77" colspan="8" style="{if $w eq '0'}{/if}border-bottom:2px solid black;" width="360" height="75">
			<img style="margin-left:30px;position:relative;top:10px" src="http://enigme.ru/images/IMLOGISTICS.png" alt="">
		</td>
	</tr>
	<tr>
		<td class="xl69" colspan="8" align="center" style="{if $w eq '0'}{/if}border-bottom:2px solid black;font-size:28px;font-weight:bold" height="41">
            {$orders.id}
		</td>
	</tr>
	<tr>
		{if $w eq '0'}
		<td class="xl66" height="23" style="border-bottom:2px solid white">&nbsp;</td>
		<td class="xl59" colspan="2" style="border-bottom:2px solid black;font-size:8px">Ïðîäàâåö:</td>
		<td class="xl76" colspan="4" style="border-bottom:2px solid black;font-size:12px;font-weight:bold">Enigme.ru - {$global_phone}</td>
		<td class="xl62" style="border-bottom:2px solid black;">&nbsp;</td>
		{/if}
		{if $w eq '1'}
		<td class="xl66" height="23" style="border-bottom:2px solid black;">&nbsp;</td>
		<td class="xl59" colspan="2" style="border-bottom:2px solid black;font-size:8px">Ïðîäàâåö:</td>
		<td class="xl76" colspan="4" style="border-bottom:2px solid black;font-size:12px;font-weight:bold">Enigme.ru - {$global_phone}</td>
		<td class="xl66" style="height:23px;border-bottom:2px solid white;" height="23">&nbsp;</td>
		{/if}
	</tr>
	<tr>
		{if $w eq '0'}
		<td class="xl67" height="23" style="border-bottom:2px solid white">&nbsp;</td>
		<td class="xl59" style="font-size:8px;border-bottom:2px solid black;">Äàòà:</td>
		<td class="xl60" style="border-bottom:2px solid black;font-size:10px;font-weight:bold" colspan="2">{$orders.Date1}</td>
		<td class="xl59" style="border-bottom:2px solid black;font-size:8px">Òîâàðîâ:</td>
		<td class="xl60" style="border-bottom:2px solid black;font-size:10px;font-weight:bold">{$total_orders}</td>
		<td class="xl61" style="border-bottom:2px solid black;font-size:10px;font-weight:bold">Äîñòàâêà ñ×Ï</td>
		<td class="xl63" style="border-bottom:2px solid black;">&nbsp;</td>
		{/if}
		{if $w eq '1'}
		<td class="xl67" height="23" style="border-bottom:2px solid black;">&nbsp;</td>
		<td class="xl59" style="border-bottom:2px solid black;font-size:8px">Äàòà:</td>
		<td class="xl60" style="border-bottom:2px solid black;font-size:10px;font-weight:bold" colspan="2">{$orders.Date1}</td>
		<td class="xl59" style="border-bottom:2px solid black;font-size:8px">Òîâàðîâ:</td>
		<td class="xl60" style="border-bottom:2px solid black;font-size:10px;font-weight:bold">{$total_orders}</td>
		<td class="xl61" style="border-bottom:2px solid black;font-size:10px;font-weight:bold">Äîñòàâêà ñ×Ï</td>
		<td class="xl63" height="23" style="border-bottom:2px solid white">&nbsp;</td>
		{/if}
	</tr>
	<tr>
		{if $w eq '0'}
			<td class="xl67" height="22">&nbsp;</td>
			<td class="xl72" colspan="2" style="font-size:8px;">Ïîêóïàòåëü:</td>
			<td class="xl73" colspan="4" style="font-size:8px;font-weight:bold">
			{if $client.region eq 'moscow'}
			Ìîñêâà, {$client.address}</strong></div>
			{elseif $client.region eq 'region'}
			{$client.postcode}, {$client.city}, {$client.address}</strong></div>
			{else}
			{$client.address}</strong></div>
			{/if}
			</td>
			<td class="xl63" style="">&nbsp;</td>
		{/if}
		{if $w eq '1'}
			<td class="xl67" height="22">&nbsp;</td>
			<td class="xl72" colspan="2" style="font-size:8px;">Ïîêóïàòåëü:</td>
			<td class="xl73" colspan="4" style="font-size:8px;font-weight:bold">
			{if $client.region eq 'moscow'}
			Ìîñêâà, {$client.address}</strong></div>
			{elseif $client.region eq 'region'}
			{$client.postcode}, {$client.city}, {$client.address}</strong></div>
			{else}
			{$client.address}</strong></div>
			{/if}</td>
			<td class="xl63" style="">&nbsp;</td>
		{/if}
	</tr>
	<tr>
	{if $w eq '0'}
		<td class="xl67" height="56">&nbsp;</td>
		<td class="xl74" colspan="2" valign="bottom" style="font-size:16px;font-weight:bold">{if $client.region eq 'region'}Region{else}Msk{/if}</td>
		<td class="xl75" colspan="4" valign="bottom" width="252" style="font-size:8">ÒÅË.: {$client.phone} {$client.fio}, {$client.phone}</td>
		<td class="xl63" style="">&nbsp;</td>
	{/if}
	{if $w eq '1'}
		<td class="xl67" height="56" style="">&nbsp;</td>
		<td class="xl74" colspan="2" valign="bottom" style="font-size:16px;font-weight:bold">{if $client.region eq 'region'}Region{else}Msk{/if}</td>
		<td class="xl75" colspan="4" valign="bottom" width="252" style="font-size:8">ÒÅË.: {$client.phone} {$client.fio}, {$client.phone}</td>
		<td class="xl63" style="">&nbsp;</td>
	{/if}
	</tr>
	<tr class="last">
	{if $w eq '0'}
		<td class="xl68" height="3">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl65" style="">&nbsp;</td> 
	{/if}
	{if $w eq '1'}
		<td class="xl68">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl64">&nbsp;</td>
		<td class="xl65" style="">&nbsp;</td>
	{/if}
	</tr>
	</tbody>
	</table>
</td>

{if $w eq '1'}
</tr>
<tr class="new_line" >
{/if}

