<!DOCTYPE HTML>
<html lang="en">
<head>
<meta  />
<title></title>
<meta name="robots" content="">
<meta name="keywords" content="">
<meta name="description" content="">

    
</head>

<body style="width:100%;height:100%;font-family:Arial;margin:0 auto;padding:0;">

{$order_items}


</body>
</html>