<table width="100%" border="0" cellpadding="0" cellspacing="0" class="page_top">
	<tr align="center">
	<td width="25%" align="right">{$start}</td>
	<td width="25%" align="right" style="padding-right:10px;">{$prev}</td>
	<td width="25%" align="left">{$next}</td>
	<td width="25%" align="left">{$end}</td>
	</tr>
</table>

<table width="100%" border="0" cellpadding="6" cellspacing="0" >
      <tr align="center">
        <td height="30">
		<center>
		<div class="navigation" align="center">
			{$tprev}
			{$page_1}
			{$page_2}
			{$page_3}
			{$page_4}
			{$page_5}
			{$page_6}
			{$page_7}
			{$page_8}
			{$page_9}
			{$page_10}
    		{$tnext}
		</div>
		</center>
	</td>
      </tr>
</table>