{include file="calendar.tpl"}
{include file="editor.tpl"}
{strip}
    <table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
        <form action="
		?main={$smarty.get.main}
		&worker={$smarty.get.module}
		&action=add"
              method="post" enctype="multipart/form-data" name="form">

            <tr>
                <td align="left" bgcolor="#eef1f7" colspan="2">
                    &nbsp;&nbsp;Основная информация
                </td>
            </tr>


            <tr>
                <td align="left"><span style="color:red;">*</span>&nbsp;Изображение:</td>
                <td align="left">
                    <input type="file" name="img"  style="width:100%;">
                </td>
            </tr>

            <tr>
                <td align="left"><span style="color:red;">*</span>&nbsp;Название:</td>
                <td align="left">
                    <input type="text" name="title" value="" style="width:100%;">
                </td>
            </tr>

            <tr>
                <td align="left">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="left" style="border:0px">&nbsp;&nbsp;URL:</td>
                        </tr>
                    </table>
                </td>
                <td align="left">
                    <input type="text" name="url" value="" style="width:100%;">
                </td>
            </tr>


            <tr>
                <td align="left">&nbsp;&nbsp;Блокировка:</td>
                <td align="left">
                    <input type="checkbox" name="is_block">
                </td>
            </tr>


            <tr>
                <td align="left" colspan="2">
                    <input type="submit" name="add" value="Сохранить" style="width:100px">
                </td>
            </tr>
    </table>
    </form>
{/strip}
