{include file="calendar.tpl"}
{include file="editor.tpl"}
{strip}
    <table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
        <form action="
		?main={$smarty.get.main}
		&worker={$smarty.get.module}
		&action=edit&id={$smarty.get.id}"
              method="post" enctype="multipart/form-data" name="form">

            <tr>
                <td align="left" bgcolor="#eef1f7" colspan="2">
                    &nbsp;&nbsp;Основная информация
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="{$banner.img}" target="_blank"><img style="width: 200px;" src="{$banner.img}"></a>
                </td>
            </tr>


            <tr>
                <td align="left"><span style="color:red;">*</span>&nbsp;Изображение: (ширина 980)</td>
                <td align="left">
                    <input type="file" name="img"  style="width:100%;"">
                </td>
            </tr>

            <tr>
                <td align="left"><span style="color:red;">*</span>&nbsp;Название:</td>
                <td align="left">
                    <input type="text" name="title"  style="width:100%;"  value="{$banner.title}">
                </td>
            </tr>

            <tr>
                <td align="left">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="left" style="border:0px">&nbsp;&nbsp;URL:</td>
                        </tr>
                    </table>
                </td>
                <td align="left">
                    <input type="text" name="url"  style="width:100%;"  value="{$banner.url}">
                </td>
            </tr>


            <tr>
                <td align="left">&nbsp;&nbsp;Блокировка:</td>
                <td align="left">
                    <input type="checkbox" name="is_block" {if $banner.is_block==1}CHECKED{/if}>
                </td>
            </tr>


            <tr>
                <td align="left" colspan="2">
                    <input type="submit" name="add" value="Сохранить" style="width:100px">
                </td>
            </tr>
    </table>
    </form>
{/strip}
