{strip}
<table style="width: 400px;" border="0" cellpadding="0" cellspacing="0" >
	<tr>
		<td width="10%" align="left" height="30">
			<select name="actions">
			    <option value='null'>-- Действия --</option>
			    {html_options values=$sel_id output=$sel_names selected=$is_active}
			</select>
		</td>
		<td align="center" width="10%">
			<input type="submit" name="Submit" value="Применить">
		</td>
		
		<td align="right">
		{$pages}
		</td>
	</tr>
</table>
{/strip} 