{strip}

    <!-- Подключение хидера -->
    <table style="width: 400px;" border="0" cellpadding="1" cellspacing="1" class="form">
        <form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=order" method="post" enctype="multipart/form-data" name="formMod">

            <!-- Заголовок таблицы данных -->
            <tr align="center" class="table_header">
                <td></td>
                <td>Id</td>
                <td>title</td>
            </tr>
            <!-- Заголовок таблицы данных -->
            {foreach from=$aBanners item=oBanner}
                <tr>
                    <td style="height: 25px;width: 10px;"><input type="checkbox" name="id[]" value="{$oBanner.id}"></td>
                    <td style="width: 20px;">{$oBanner.id}</td>
                    <td style="width: 400px;"><a href="?main={$smarty.get.main}
							   &module={$smarty.get.module}
							   &action=edit
							   &id={$oBanner.id}">{$oBanner.title}</a></td>
                </tr>

            {/foreach}


            <!-- ------------ -->
    </table>
    <!-- Подключение пагиса -->

    <!-- Подключение футера -->
    {include file="modules/banner_simple/table_footer.tpl"}
    </form>
{/strip}