* {margin: 0;padding: 0;}
body {font: 11px/12px Tahoma, Verdana, sans-serif;width: 100%;background:black;color:white;}
a {color: blue;outline: none;text-decoration: underline;}
a:hover {text-decoration: none;}
p {margin: 0 0 15px}
img {border: none;}
input {vertical-align: middle}
#wrapper {width: 973px;	margin: 0 auto;}
body { behavior: url("csshover.htc"); } 


/* Middle
-----------------------------------------------------------------------------*/
#middle {width: 975px;height: 1%;position:relative;margin:100px 0 auto;}
#middle:after {content: '.';display: block;clear: both;visibility: hidden;height: 0;}
#container {width: 100%;	float: left;}
#content {padding: 0 375px 0 0;position:relative;}

/* Sidebar Right
-----------------------------------------------------------------------------*/
.sr {float: left;margin-right: -3px;width: 365px;margin-left: -375px;position: relative;height:603px;background:url(/images/default/lanvin/fon_side.jpg) no-repeat}


/* Footer
-----------------------------------------------------------------------------*/
#footer {height: 200px;color:#5d415d;margin-top:18px;}

#ugol_right {position:absolute;right:-3px;bottom:-3px;background:url(/images/default/lanvin/ugol_right.png) no-repeat;width:25px;height:25px;}
#top_left_ugol {width:25px;height:25px;background:url(/images/default/lanvin/top_left_ugol.png) no-repeat;position:absolute;top:-3px;left:-3px;}
#image_a {position:absolute;display:block;width:200px;height:110px;left:350px;top:220px;text-indent:-99999px;}
#fon_cont {width:600px;height:189px;overflow:hidden;background:#f1d9f1 url(/images/default/lanvin/fon_cont.png) no-repeat;position:relative;}
img#big {vertical-align:bottom;}

h1#logo {width:162px;height:43px;position:absolute;right:35px;top:0;background:url(/images/default/lanvin/logo.png) no-repeat;overflow:hidden;}
h1#logo a {display:block;width:162px;height:43px;position:absolute;left:0;top:0;text-indent:-99999px;}
#text {left:38px;top:295px;position:absolute;width:295px;overflow:hidden;text-align:justify;}

#price_wrap {position:absolute;left:80px;top:57px;color:#4c093f;}
#price_ugol {height:50px;padding-left:25px;background:url(/images/default/lanvin/price_ugol.png) no-repeat left top;position:relative;}
#price_ugol div span {font-size:26px;color:#ef3080;padding-right:6px;}
#price_ugol div {position:absolute;top:14px;left:23px;line-height:20px;}
#vert_line {line-height:20px;position:absolute;font-size:20px;left:112px;top:17px;}
#price_ml {position:absolute;left:101px;top:0px;}
#price_ml div span {font-size:26px;color:#ef3080;padding-right:6px;}
#price_ml div {position:absolute;top:14px;left:23px;line-height:20px;}
#special {position:absolute;top:-10px;left:48px;width:150px;}
#to_buy {cursor:pointer;position:absolute;top:67px;left:-1px;border:1px solid #aa81ac;background:black;color:#aa81ac;padding:5px 25px;text-decoration:none;}

#phone {font-size:14px;margin-bottom:60px;}
#phone span{color:white;position:relative;}
#phone span a {position:relative;top:5px;}
#phone span div {float:left;}

#form {position:absolute;left:38px;top:232px;display:none;}
#form span {padding-right:33px;color:#805a81}
#form input#kol {position:absolute;left:0;top:24px;padding:3px 5px;width:45px;border:0;}
div#sum {color:white;font-size:14px;left:101px;position:absolute;top:27px;width:200px;}
div#sum b {font-size:16px;}
div#sum a {padding-left:20px;color:white;}
#inputs {position:absolute;top:70px;}
.inputs {width:267px;color:#805a81;border:0;padding:3px 5px;margin-bottom:15px;font-size:11px;}
textarea {font-family:Tahoma;font-size:11px;}
#gogogo {float:right;*margin-right:88px;}
#re {cursor:pointer;line-height:18px;}
#re:hover {text-decoration:none;}