* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/18px Tahoma, Verdana;background:url(/images/NinaRicci/bg.jpg) no-repeat scroll 35% 27px;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
/* Begin of styles for the demonstration (you can remove them) */
a.expand {
	width: 150px;
	display: block;
	margin: 10px 0 0;
}
a.expand:hover {
	height: 500px;
}
/* End of of styles for the demonstration */
p {margin: 0 0 18px}
img {
	border: none;
}
input {vertical-align: middle}
#wrapper {
	width: 985px;
	margin: 0 auto;
	position:relative;
	*overflow-x:hidden;
}

#header {height: 785px;position:relative;}


/* Middle
-----------------------------------------------------------------------------*/
#middle {border-left: 340px solid #B5E3FF;height: 1%;}
#middle:after {content: '.';	display: block;clear: both;visibility: hidden;height: 0;}
#container {width: 100%;float: left;overflow: hidden;margin-right: -100%;}
#content {padding: 0 20px;}

/* Sidebar Left
-----------------------------------------------------------------------------*/
.sl {float: left;width: 340px;background: white;left: -340px;}


/* Footer
-----------------------------------------------------------------------------*/
#footer {width:100%;top:745px;position:absolute;height:70px;}
#footer #copy {top:0;position:absolute;left:10px;}
#footer #copy p {color:#858793;font-size:8pt;line-height:14px;margin:0;}
#footer #counter_wrap {position:absolute;top:8px;right:35px;} 

#phone {position:absolute;top:24px;left:153px;font:11pt 'Times New Roman';color:#848892;font-weight:bold;}
#phone span {font-size:8pt;}
#logo {position:absolute;top:115px;left:285px;background:url(/images/NinaRicci/logo.png) no-repeat;width:161px;height:125px;}
#logo a {text-indent:-9999px;width:161px;height:125px;display:block;}
#enigme {position:absolute;right:20px;top:24px;background:url(/images/NinaRicci/enigme.png) no-repeat;width:173px;height:21px;display:block;}
#flakon {position:absolute;top:104px;left:568px;background:url(/images/NinaRicci/flakon.png);width:355px;height:419px;}

-,#flakon {background: url(none); filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/NinaRicci/flakon.png', sizingmethod='crop'); z-index:999;}
#spec_wrap {height:47px;padding:10px 25px 17px;width:270px;left:150px;top:335px;position:absolute;}
#spec_wrap span {font:8pt 'Times New Roman';font-weight:bold;color:white;}
#spec_wrap .price {font:17pt 'Times New Roman';font-weight:bold;color:white;margin-top:3px;}
#spec_wrap .price span {font:10pt 'Times New Roman';font-weight:bold;}
#spec_wrap .buy {cursor:pointer;position:absolute;top:38px;right:16px;font:12pt 'Times New Roman';font-weight:bold;color:white;text-decoration:none;}
#text_wrap {position:absolute;top:440px;left:150px;width:310px;padding-top:35px;}
#text_wrap #flower {position:absolute;top:0;left:28px;background:url(/images/NinaRicci/flower.png);width:93px;height:23px;}
-,#text_wrap #flower {background: url(none); filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/NinaRicci/flower.png', sizingmethod='crop'); z-index:999;}
#text_wrap p {text-align:justify;color:#858793;font-size:8pt;line-height:14px;margin:0 0 12px;}

#non_op {z-index:-1;position:absolute;height:47px;padding:10px 25px 17px;width:270px;left:0px;top:0px;background:#f24b63;position:absolute;opacity:0.8; -moz-opacity:0.8;filter:alpha(opacity=80);}

#gallery {top:590px;left:572px;position:absolute;height:70px;}
#left_arrow {position:absolute;left:0;top:0;width:23px;height:51px;background:url(/images/NinaRicci/left_arrow.jpg);}
#right_arrow {position:absolute;right:0;top:0;width:23px;height:51px;background:url(/images/NinaRicci/right_arrow.jpg);}
#gallery #inner {margin:-9px 43px;}
#gallery #inner img {margin:0 13px;}
#img_wr {position:absolute;top:25px;left:20px;}
#kol_d {position:absolute;top:25px;left:110px;color:white;}
#sum_d {position:absolute;top:25px;left:210px;color:white;*width:90px;}
#kol {position:absolute;top:50px;left:115px;color:white;}
#kol input {border:0; width:45px;line-height:16px;font-size:8pt;padding:2px 6px;color:#858793;*padding:0 6px;*height:16px;background:white;}
#sum {font-weight:bold;position:absolute;top:50px;left:212px;color:white;*width:85px;}
#re {position:absolute;top:80px;left:110px;color:white;}

#cont_2, #cont_3 {display:none;}

#name {position:absolute;top:460px;left:170px;width:260px;border:1px solid #848893;*line-height:20px;font-size:8pt;padding:3px 6px;color:#848893;*padding:0 6px;*height:20px;}
#phone_input {position:absolute;top:490px;left:170px;width:260px;border:1px solid #848893;*line-height:20px;font-size:8pt;padding:3px 6px;color:#848893;*padding:0 6px;*height:20px;}
#adres {position:absolute;top:520px;left:170px;width:260px;border:1px solid #848893;*line-height:20px;font-size:8pt;padding:3px 6px;color:#848893;*padding:0 6px;*height:20px;}
#form_desc {position:absolute;top:546px;left:172px;color:#848893;font-size:8pt;}
#email {position:absolute;top:568px;left:170px;width:260px;border:1px solid #848893;*line-height:20px;font-size:8pt;padding:3px 6px;color:#848893;*padding:0 6px;*height:20px;}
textarea {font-family:tahoma;position:absolute;top:598px;left:170px;width:260px;border:1px solid #848893;font-size:8pt;padding:3px 6px;color:#848893;height:45px;}
#submit {position:absolute;top:665px;left:308px;color:white;padding:6px 10px;background:#eb6c7f;border:0;cursor:pointer;*width:150px;}

*html #flakon div {background: url(none); filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/flakon.png', sizingmethod='crop'); z-index:0;}
