body {margin : 0px;}

/* tooltips */
#dhtmltooltip{
position: absolute;
left: -300px;
width: 150px;
border: 1px dotted #9a915c;
padding: 2px;
background-color: #fff8ce;
visibility: hidden;
z-index: 100;
font-family:"Trebuchet MS", Tahoma, Arial, Helvetica;
font-size:11px;
font-color:#333333;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;
}

/* Форма регистрации */
.index_reg {background-image: url(images/form.gif);background-repeat: no-repeat;}
#index_reg_sub {background-image: url("images/form_sub.png");border:0px;width:100%;height:100%;}

.header {padding-left:10px;border-bottom: 3px #0b547f solid;}

.table_header{background: url("images/table_header.gif") repeat-x;color:white;}
.table_header a:link {color: #fff;text-decoration: none;}
.table_header a:visited {color: #fff;text-decoration: none;}
.table_header a {color: #fff;text-decoration: none;}
.table_header a:hover {color: #6ca03c;text-decoration: none;}

.text .table_header{background: url("images/table_header.gif") repeat-x;color:white;}
.text .table_header a:link {color: #fff;text-decoration: none;}
.text .table_header a:visited {color: #fff;text-decoration: none;}
.text .table_header a {color: #fff;text-decoration: none;}
.text .table_header a:hover {color: #d1f8f0;text-decoration: none;}


/* ФИО и логин текущего юзера */
.user_header {padding-right:10px;font: normal 11pt/11pt Arial;color: #e5f2f4;font-variant: small-caps; }
/* Вывод названия сайта */
.host_header {padding-right:10px;font: normal 21px Tahoma;color: #e5f2f4;font-variant: small-caps; }
.exit {font: normal 18px Tahoma;color: #e5f2f4;font-variant: small-caps; }
.company {font: normal 21px Tahoma;color: #fff;font-variant: small-caps; border-right:1px solid #a1b2ba;}

/* Первый заголовок */
#header1 {font: normal 21px/24px Tahoma;color: #446180;font-variant: small-caps; }
.header1 {margin-bottom:3px}

/* Таблица навигации */
.header_nav{padding-bottom:20px;padding-top:2px;}
.header_nav_l {background-image: url('images/header/podval_left.jpg'); background-position: left bottom;background-repeat: no-repeat;}
.header_nav_r {background-image: url('images/header/podval_right.jpg');background-position: right bottom;background-repeat: no-repeat;}

.action{font-family: "Arial Narrow";font-size: 21px;color : #0243AA;font-weight : bold;}
.action a:link{ color: #0243AA;  text-decoration : none;  }
.action a:visited{color: #0243AA; text-decoration : none;}
.action a:hover{color: #FFE135; text-decoration : none; }

.text{font-family: Arial; font-size: 11px;}
.text td{font-family: Arial; font-size: 12px;}
.text a:link{ color: #314F92; text-decoration:none;}
.text a:visited{ color:#314F92; text-decoration:none;}
.text a:hover{color: #DF9200;text-decoration:none;}

.link_block a{color: silver;}
.link_block a:link{ color: gray; text-decoration:none;}
.link_block a:visited{ color: gray; text-decoration:none;}
.link_block a:hover{color: #DF9200;text-decoration:none;}

.link_header a{ color: #fff;}
.link_header a:link{ color: #fff; text-decoration:none;}
.link_header a:visited{ color: #fff; text-decoration:none;}
.link_header a:hover{color: #DF9200;text-decoration:none;}

td.textheader{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color:white; background-color: #446180;}
.textheader a:link{ color: white; text-decoration:none;}
.textheader a:visited{ color: white; text-decoration:none;}
.textheader a:hover{color: #DF9200;text-decoration:none;}

/* Формы */
.form{border: #91a7b4 1px solid;font-size: 11px;color: black;font-family: Arial;background-color: #ECECEC;}
.form_headers_top{border-top: #91a7b4 2px solid;font-size: 11px;color: black;font-family: Arial;background-color: #f8f8f8;}
.form_headers_bottom{border-bottom: #91a7b4 0px solid;font-size: 11px;color: black;font-family: Arial;background-color: #f8f8f8;}
.form_headers td{padding-left:5px;padding-right:10px;} 

table.form_add{border-top: #789cac 1px solid;border-bottom: #abb6d7 0px solid;}
.form_add tr{background-color: #f7f7f7; color: #717070;border-bottom: #abb6d7 2px solid;}
.form_add td{border-bottom: #e7e8e9 1px solid;}

.table_bg{background-image:url("images/table_bg.gif");}
.table_bg_action{background-image:url("images/table_bg_action.gif");}

table.form_clear td{border: #f7f7f7 0px solid;}
.form_line{border-top: #abb6d7 2px solid;background-color: #eef1f7;}

/* Заголовки таблиц, выносски, сортировки */
.header_top{background-image:url("images/table_header_bg.jpg"); padding-left:5px;padding-right:5px;}
.header_bottom{background-image:url("images/table_header_bg.jpg"); padding-left:5px;padding-right:5px;}

/* Стандартные элементы */
INPUT{border: 1px silver solid; font: 11px Arial; color: #717070;background-color: #ffffff;padding: 2px;}
SELECT{border: 1px silver solid; font: 11px Arial; color: #717070;background-color: #f2f3f5;}
SELECT optgroup{font: 11px Arial; color: #fff;background-color: gray; font-weight : bold;}
TEXTAREA{border: 1px silver solid; font: 11px Arial; color: #717070;background-color: #f2f3f5;}
BUTTON {background-color:#fff;border:1px solid #000;font-size: 11px;font-family: Arial;color:gray;}
INPUT:disabled {background-color: #e7e8e9;}




/* Страница ошибки */
.error {font-size: 8pt;color: black;font-family: Arial;font-weight: normal;}
td.error{ border: silver 1px dashed;}
.error a:link{ color: red; text-decoration:none;}
.error a:visited{ color: red; text-decoration:none;}
.error a:hover{color: #DF9200;text-decoration:none;}

/* Постраничная навигация */
.pages{font-family: Arial;font-size: 13px;font-weight : bold;}
.page_selected{font-family: Arial;font-size: 13px;font-weight : bold;color: Silver;background-color: #f2f3f5;}
.pages a:link{ color: #314F92; text-decoration:none;}
.pages a:visited{ color:#314F92; text-decoration:none;}
.pages a:hover{color: #DF9200;text-decoration:none;}

/* главное меню */
ol, ul {list-style: none;}
.drawers-wrapper {font-family: Arial;font-size: 11px;color:#424242;position: relative;width: 100%;}
.drawers {width: 100%;margin:0px;padding:0px;font-size:11px;}
.drawer {font-size:11px;}

.drawer-handle {
	height:25px;
	line-height:25px;
	font-size:12px;
	text-align:left;
	font-weight: normal;
	padding-left:15px;
	margin: 0px;
	color:#fff;
	background-color: #bbb;
	border-top: 0px #000 solid;
}

.drawer-handle.open {font-weight: normal;text-align:left;margin: 0px;font-size: 12px;border-top: 1px #ccc solid;}
.drawer ul {padding: 0px;margin:0px;width: 100%;}
.drawer li.item_menu{background-color: #f9f9f9;line-height:22px;text-align:left;font-family: Arial; font-size: 11px;padding-left:5px;}
.drawer li.item_menu.act a{color:#000000;text-decoration:none;line-height:22px;}

.drawer li.item_menu.sub{color:#000;padding-left:5px;background-color:#eee;line-height:18px;
border-bottom: 1px #ccc dashed;
border-top: 1px #ccc dashed;
}

.drawers a {color:gray;text-decoration:none;}
.drawers a:hover {color:#DF9200;text-decoration:none;}

.block { border:1px solid #dde8ed; margin-bottom:5px; }
.block h2 {
font-size:12pt; 
font-weight:bold; 
line-height:1; 
background-color:#e3eaed;
border-bottom:1px solid #f6fbfd; 
padding:5px 5px 6px; 
margin:0px;
text-transform:uppercase; 
color:#222; }

.block ul  {list-style: none; margin:0px; padding: 0px;position: relative;}
.block li { line-height:1.5;padding:5px;}
.block li span{border-bottom: 1px dashed #000; color:#676767}
.block a { color:#0088b5; }
#logistic {
    margin-top: 20px;
    overflow: hidden;
}
.logistic__type {
    border: 2px solid #e5e5e5;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 25%;
    float: left;
    color: #666;
    margin-right: 10px;
}
.logistic__type.logistic__type-active {
    border-color: #9966cc;
}
.logistic__type.logistic__type-active .logistic__type-footer {
    background: #e5e5e5;
}
.logistic__type:hover .logistic__type-header, .logistic__type.logistic__type-active .logistic__type-header {
    color: #9966cc;
}
.logistic__type.logistic__type-disabled,  .logistic__type.logistic__type-disabled:hover .logistic__type-header {
    color: #999!important;
    cursor: default;
}
.logistic__type-header {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 5px;
}
.type-disabled_text {
    color: #999;
    display: none;
    font-size: 12px;
}
.logistic__type.logistic__type-disabled .type-disabled_text {
    display: block;
}
.logistic__type-body {
    height: 48px;
}
.couriers__modal {
    background: #FFFFFF;
    width: 890px;
    height: 520px;
    padding: 20px 20px 0;
    overflow: hidden;
}
.g-hidden {
    display: none;
}
.courier__table {
    padding: 20px 0;
    border-spacing: 0;
    width: 280px;
}
.courier {
    cursor: pointer;
}
#byself .courier {
    cursor: default;
}
.courier:hover, .courier.active {
    background: #ccc;
}
.dostavka_item table {
    border-collapse: collapse;
    border-spacing: 0;
}
.courier a {
    color: #333!important;
}
.courier-header {
    font-weight: bold;
    display: block;
}
.couriers__block {
    width: 280px;
    margin-right: 20px;
    float: left;
}
.courier__title {
    font-size: 16px;
    font-weight: bold;
    display: block;
}
#self_selected {
    margin-top: 20px;
    color: #fff;
    background: #9966cc;
    padding: 10px;
}
#self_selected span {
    display: block;
}
.courier__table-header th {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.courier__table td {
    font-weight: normal;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    padding: 4px 8px;
}
.couriers__modal #map {
    width: 580px;
    height: 490px;
    float: left;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn-primary {
    color: #fff;
    background-color: #9966cc;
    border-color: #9966cc;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #9966cc;
    border-color: #9966cc;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.text-center {
    text-align: center;
}

.address_edit input{
    font-size: 16px;
}
.error_delivery {
    display: none;
}
#submit_form:disabled + .error_delivery {
    display: block;
}
.courier__row td {
    position: relative;
}