{strip}

    <form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&id={$smarty.get.id}
	&action=edit" method="post" enctype="multipart/form-data" name="form">

        <div id="tabs" class="flora">
            <ul class="ui-tabs-nav">
                <li class="ui-tabs-selected"><a href="#tab-1"><span>Основные данные</span></a></li>
            </ul>
        </div>

        <div style="display: block;font-size: 16px;" class="ui-tabs-panel" id="tab-1">
            <table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">

                <tr class="table_bg">
                    <td align="left"  colspan="2">
                        &nbsp;&nbsp;Параметры отзыва
                    </td>
                </tr>

                <tr>
                    <td align="left" width="20%"><span style="color:red;">*</span>&nbsp;Имя:</td>
                    <td align="left" width="80%">
                        <input type="text" name="user_name" value="{$user_name}" style="width:100%" >
                    </td>
                </tr>
                <tr>
                    <td align="left" width="20%">&nbsp;Комментарий:</td>
                    <td align="left" width="80%">
                        <textarea  name="text" id="ar_comment_text" style="width:100%;font-size: 15px;" rows=3>{$text}</textarea>
                    </td>
                </tr>
                <tr>
                    <td align="left" width="20%">&nbsp;Ответ магазина:</td>
                    <td align="left" width="80%">
                        <textarea name="answer" id="ar_comment_text" style="width:100%;font-size: 15px;" rows=3>{$answer}</textarea>
                    </td>
                </tr>



            </table>
        </div>


        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
            <tr class="table_bg_action">
                <td align="left" colspan="2">
                    <input type="submit" name="save" value="Сохранить" style="width:100px">&nbsp;
                </td>
            </tr>
        </table>

    </form>

{/strip}