{strip}


<!-- ДОБАВЛЕНИЕ БЛОКА ОДИНОЧНЫЙ ТЕКСТОВЫЙ -->
<form action="
		?main={$smarty.get.main}
		&worker={$smarty.get.module}
		&id={$smarty.get.id}
		&action=add_cat" 
		method="post" enctype="multipart/form-data" name="form_text">


<div style="display:none" id='sh_block_text'>
<table width="100%" border="0"  cellpadding="5" cellspacing="0" class="form_add" style="border-top: #abb6d7 0px solid;">
		
	<tr>
		<td align="left" width="30%"><span style="color:red;">*</span>&nbsp;Название раздела:</td>
		<td align="left" width="70%">
			<input type="text" name="name" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Каноническое имя:</td>
		<td align="left">
			<input type="text" name="canon_name" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left">&nbsp;&nbsp;Блокировка раздела:</td>
		<td align="left">
			<input type="checkbox" name="is_block">
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Индекс сортировки:</td>
		<td align="left">
			<input type="text" name="sort" value="100" style="width:50px">
		</td>
	</tr>

   
	
	<tr>
		<td align="left" bgcolor="#eef1f7" colspan="2">
		&nbsp;&nbsp;Мета тэги
		</td>
	</tr>
	
	<tr>
		<td align="left">&nbsp;&nbsp;TITLE:</td>
		<td align="left">
			<input type="text" name="meta_title" value="{$meta_title}" style="width:100%">
		</td>
	</tr>
	
	<tr>
		<td align="left" valign="top">&nbsp;&nbsp;DESCRIPTION:</td>
		<td align="left">
			<textarea name="meta_description" style="width:100%" rows=2>{$meta_description}</textarea>
		</td>
	</tr>

	<tr>
	<td align="left" colspan="2">
		<input type="hidden" name="type_cat" value="text" >
		<input type="submit" name="add_cat" value="Добавить" style="width:100px">
		</form>
	</td>
	</tr>
</table>
</div>

{/strip}