{strip}

<table width="100%" border="0" cellpadding="4" cellspacing="0" class="form_add">
	<tr>
		<td align="left" bgcolor="#eef1f7">
			<img align="left" src="images/folder_edit.png" width="16" height="16"></img>
			<div align=left class="link_block">&nbsp;Редактирование раздела - [{$name}]</div>
		</td>
	</tr>
</table>

<form action="
		?main={$smarty.get.main}
		&worker={$smarty.get.module}
		&id={$smarty.get.id}
		&id_cat={$smarty.get.id_cat}
		&action=edit_cat"
		method="post" enctype="multipart/form-data" name="form_links">


<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add" style="border-top: #abb6d7 0px solid;">
		
	<tr>
		<td align="left" width="30%"><span style="color:red;">*</span>&nbsp;Название раздела:</td>
		<td align="left" width="70%">
			<input type="text" name="name" value="{$name}" style="width:100%" class="form_add">
		</td>
	</tr>
	
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Ссылка:</td>
		<td align="left">
			<input type="text" name="links" value="{$links}" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left">&nbsp;&nbsp;Открывать в новом окне:</td>
		<td align="left">
			<input type="checkbox" name="is_target" {$is_target}>
		</td>
	</tr>
	
	<tr>
		<td align="left">&nbsp;&nbsp;Блокировка раздела:</td>
		<td align="left">
			<input type="checkbox" name="is_block" {$is_block}>
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Индекс сортировки:</td>
		<td align="left">
			<input type="text" name="sort" value="{$sort}" style="width:50px">
		</td>
	</tr>
	
	<tr>
	<td align="left" colspan="2">
		<input type="hidden" name="type_cat" value="links" >
		<input type="submit" name="add_cat" value="Изменить" style="width:100px">
		</form>
	</td>
	</tr>
</table>

{/strip}