{strip}
    <form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=xml" method="post" enctype="multipart/form-data" name="form">

        <div id="tabs" class="flora">
            <ul class="ui-tabs-nav">
                <li class="ui-tabs-selected"><a href="#tab-1"><span>Update</span></a></li>
            </ul>
        </div>

        <div style="display: block;" class="ui-tabs-panel" id="tab-1">
            <table width="100%" border="0" cellpadding="10" cellspacing="0" class="form_add">
                <tr>
                    <td align="left" width="40%"><br><b>[урл файла]</b>
                        <a target="_blank" href="http://www.parfumoff.ru/tmp/export.xml">http://www.parfumoff.ru/tmp/export.xml</a></td>
                    <td align="left" width="60%" >
                        <input type="submit" name="xml" value="Обновить" style="width:100px">&nbsp;
                        {if $smarty.get.load eq 'ya'}Ок, файл успешно обновлен !{/if}
                    </td>
                </tr>

            </table>
        </div>

        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
            <tr class="table_bg_action">
                <td align="left" >

                </td>
            </tr>
        </table>

    </form>
{/strip}