<table align="center" width="100%" height="100%" border="0" style="padding-top:250px;">
<tr><td valign="middle">
	<table align="center" width="450" border="0" cellpadding="10" cellspacing="0" class="form">
		<tr bgcolor="#f5f9e3">
			<td align="center" width="48">
				<img src="images/header/magazin.png" width="48" height="48" border="0">
			</td>
			
			<td align="left" class="text" >
				Заказ <strong style="font-size:14pt;">№{$id_order}</strong> сохранен ! <br /><br />с доставкой на <strong style="font-size:10pt;">{$date}</strong>.
				<br><br />
				
				<div style="font-size:13px;">
				<a href="?main=mag&module=mag_orders&action=mod&status=1">&raquo;&nbsp;Перейти к списку заказов</a><br />
				<a href="?main=mag&module=mag_orders&action=add&user=1">&raquo;&nbsp;Добавить заказ (для зарег. пользователей)</a><br />
				<a href="?main=mag&module=mag_orders&action=add&user=0">&raquo;&nbsp;Добавить заказ (быстрый)</a><br />
				</div>
			</td>
		</tr>
	</table>
</td></tr>
</table>


