{strip}

<!-- Подключение хидера -->
{include file="modules/users_site/table_header.tpl"}

<table width="100%" border="0" cellpadding="1" cellspacing="1" class="form">
<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=order" method="post" enctype="multipart/form-data" name="formMod">
      
	<!-- Заголовок таблицы данных -->
	<tr align="center" class="table_header">
      	
		<td width="3%" align="center" height="22px"></td>
		<td width="3%"><div align="center"><b>N</b></div></td>
	      	<td width="10%" align="left">&nbsp;<b>Логин</b></td>
		<td width="15%" align="left"><b>&nbsp;Ф.И.О</b></td>
		<td width="15%"><b>email</b></td>
		<td width="15%"><b>Дата создания</b></td>
		<td width="15%"><b>Последний визит</b></td>
		<td width="3%" align="center">
			<a href="#" 
				onmouseover="return overlib('Заблокирован или нет', LEFT);" 
				onmouseout="return nd();" >
			<img src="images/b_comment.png" width="16" height="16" border="0">
		</td>
	
	</tr>
	<!-- Заголовок таблицы данных -->
      
	<!-- Вывод списка -->
		{section name=i loop=$item}
		{include file="modules/users_site/table_item.tpl"}
		{/section}
	<!-- ------------ -->
</table>

<!-- Подключение футера -->
{include file="modules/users_site/table_footer.tpl"}
</form>
{/strip}