{strip}
<form action="?main={$smarty.get.main}&module={$smarty.get.module}&action=mod" method="post" enctype="multipart/form-data" name="form">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="form_add">
<tr>
	<td align="left" height="20px" bgcolor="#f4fcf1">
		<div align=left style="float: left;">
		   &nbsp;&nbsp;<b>Поиск</b>
		</div>
		<div align="right">
			Найдено: ({$all_items})&nbsp;
		</div>
	</td>
</tr>

<tr>
<td align="left">
		<table width="100%" border="0" cellspacing="0" cellpadding="2" class="form_clear">
		<tr><td align="left">
			<input type="text" name="find_text" value="{$find_text}" style="width:200px;">&nbsp;
			<input type="submit" title="Найти" name="find_go" value="найти ..." style="width:50px;">&nbsp;(Поиск производится по названию логина)
		</td></tr>
		</table>
</td>
</tr>
</form>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="form_add">
	<tr>
		<td align="right" height="22">Кол. страниц&nbsp;|&nbsp;
		{if $smarty.session.user_cpage eq '20'}
		20&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=20">20</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '50'}
		50&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=50">50</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '100'}
		100&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=100">100</a>&nbsp;|&nbsp;
		{/if}
		</td>
	</tr>
</table>

{/strip}