{strip}
<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<form action="
		?main={$smarty.get.main}
		&worker={$smarty.get.module}
		&action=foto
		&id_cat={$smarty.get.id_cat}
		&id_foto={$smarty.get.id_foto}
		&id={$smarty.get.id}" 
		method="post" enctype="multipart/form-data" name="form">
	
	<tr>
		<td align="left" width="30%"><span style="color:red;">*</span>&nbsp;Выберите файл:</td>
		<td align="left" width="70%">
			<input type="file" name="img" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left" ><span style="color:red;">*</span>&nbsp;Заголовок фотографии (TITLE):</td>
		<td align="left" >
			<input type="text" name="title" style="width:100%" class="form_add" value="{$img_title}">
		</td>
	</tr>
	
	<tr>
		<td align="left" >&nbsp;&nbsp;Описание фотографии (ALT):</td>
		<td align="left" >
			<input type="text" name="alt" style="width:100%" class="form_add" value="{$img_alt}">
		</td>
	</tr>
	
	<tr>
		<td align="left" valign="top">&nbsp;&nbsp;Аннотация:</td>
		<td align="left" >
			<textarea name="anot" style="width:100%" rows=5>{$img_anot}</textarea>
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Индекс сортировки:</td>
		<td align="left">
			<input type="text" name="sort" value="100" style="width:50px" value="{$img_sort}">
		</td>
	</tr>
	
	<tr>
		<td align="left" colspan="2">
			<img src="../images/uploads/foto_galarey/{$smarty.get.id}/trumbs/{$img_name}" width="80" border="1">
		</td>
	</tr>

	<tr>
	<td align="left" colspan="2">
		<input type="submit" name="foto_edit" value="Редактировать">
		<input type="hidden" name="img_name" value="{$img_name}">
	</td>
	</tr>
</table>

{/strip}