{strip}
<table width="100%" border="0"   cellpadding="5" cellspacing="0" class="form_add">
	<form action="
		?main={$smarty.get.main}
		&worker={$smarty.get.module}
		&action=rubric_add
		&id_cat={$smarty.get.id_cat}" 
		method="post" enctype="multipart/form-data" name="form">
	
	<tr>
		<td align="left" width="30%"><span style="color:red;">*</span>&nbsp;Название категории:</td>
		<td align="left" width="70%">
			<input type="text" name="title" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left"><span style="color:red;">*</span>&nbsp;Индекс сортировки:</td>
		<td align="left">
			<input type="text" name="sort" value="100" style="width:50px">
		</td>
	</tr>
	
	<tr>
		<td align="left">&nbsp;&nbsp;Блокировка:</td>
		<td align="left">
			<input type="checkbox" name="is_block">
		</td>
	</tr>
	
	<tr>
	<td align="left" colspan="2">
		<input type="submit" name="add" value="Сохранить" style="width:100px">
	</td>
	</tr>
</table>
</form>
{/strip}