{include file="calendar.tpl"}
{strip}
<form action="?main={$smarty.get.main}&module={$smarty.get.module}&action=mod&id_cat={$smarty.get.id_cat}" method="post" enctype="multipart/form-data" name="form">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="form_add">
<tr>
	<td align="left" height="20px" bgcolor="#f4fcf1">
		<div align=left style="float: left;">
		    <a href="#" onclick="hideshow('sh_sort');hideshow('sh_find'); return false;">&nbsp;&nbsp;<b>Фильтр</b></a>
		</div>
		<div align="right">
			Найдено: ({$all_items})&nbsp;
		</div>
	</td>
</tr>

<tr>
<td align="left">
	<div style="width:100%;display:none;" id='sh_sort'>
		<table width="100%" border="0" cellspacing="0" cellpadding="3" class="form_clear">
		<tr >
		<td align="left" width="30%">&nbsp;&nbsp;По дате создания:</td>
		<td align="left" width="70%">
			<input type="text" name="date1" id="date1" value="{$start_date}" />
			&nbsp;<input type="button" id="trigger1" value=" ... ">
		</td>
		</tr>
		
		<tr >
		<td align="left" width="30%"></td>
		<td align="left" width="70%">
			<input type="text" name="date2" id="date2" value="{$end_date}" />
			&nbsp;<input type="button" id="trigger2" value=" ... ">
		</td>
		</tr>
		
		<tr>
		<td width="30%" align="left">&nbsp;&nbsp;Статус "На главной":</td>
		<td width="70%" align="left">
			<input type="checkbox" name="is_main">
		</td>
		</tr>
		
		<tr>
		<td width="30%" align="left">&nbsp;&nbsp;Статус "Анонсы":</td>
		<td width="70%" align="left">
			<input type="checkbox" name="is_anons">
		</td>
		</tr>
		
		<tr>
		<td width="30%" align="left">&nbsp;&nbsp;Статус "Эксклюзив":</td>
		<td width="70%" align="left">
			<input type="checkbox" name="is_exl">
		</td>
		</tr>
		
		<tr>
		<td width="30%" align="left">&nbsp;&nbsp;Статус "Популярное":</td>
		<td width="70%" align="left">
			<input type="checkbox" name="is_pop">
		</td>
		</tr>
		
		<tr>
		<td width="30%" align="left">&nbsp;&nbsp;Статус "Заблокирован":</td>
		<td width="70%" align="left">
			<input type="checkbox" name="is_block">
		</td>
		</tr>
							
		<tr><td align="left" colspan="2" style="padding-top:5px;padding-bottom:5px;">
			<input type="submit" title="Отфильтровать" name="filtr_go" value="Отфильтровать" style="width:100px;">
		</td></tr>
		</table>
            </div>
	
            <div style="width:50%;display:block;" id='sh_find'>
		<table width="100%" border="0" cellspacing="0" cellpadding="2" class="form_clear">
		<tr><td align="left">
			<input type="text" name="find_text" value="{$find_text}" style="width:200px;">&nbsp;
			<input type="submit" title="Найти" name="find_go" value="найти ..." style="width:50px;">
		</td></tr>
		</table>
	</div>
</td>
</tr>
</form>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="form_add" >
	<tr>
		<td height="30px">
			<!-- Вывод списка дат -->
			&nbsp;<select name="sel_year" onchange='document.location.href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&year="+this.value; return false;'>
			{html_options values=$year output=$year selected=$active_year}
			</select>
			
			<!-- Вывод линейки месяцев -->
			{foreach key=key item=item from=$month name=m}
				{if $key eq $active_month}
					&nbsp;&nbsp;<b><span style="color:#008e0d;">{$item} |</span></b>
				{else}
					&nbsp;&nbsp;<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&month={$key}&year={$active_year}">{$item} |</a>
				{/if}
			{/foreach}
		</td>
		<td align="right">Кол. страниц&nbsp;|&nbsp;
		{if $smarty.session.user_cpage eq '20'}
		20&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=20">20</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '50'}
		50&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=50">50</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '100'}
		100&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=100">100</a>&nbsp;|&nbsp;
		{/if}
		</td>
	</tr>
</table>

{/strip}


{literal}
<script type="text/javascript">
	Calendar.setup({
	inputField     :    "date1",
	ifFormat       :    "%Y-%m-%d %H:%M:%S",
	timeFormat     :    "24",
	button         :    "trigger1",
	singleClick    :    true,
	step           :    1
	});
</script>
<script type="text/javascript">
	Calendar.setup({
	inputField     :    "date2",
	ifFormat       :    "%Y-%m-%d %H:%M:%S",
	timeFormat     :    "24",
	button         :    "trigger2",
	singleClick    :    true,
	step           :    1
	});
</script>
{/literal}
<!--

<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td align="left" valign="bottom">
			<form action="
			?main={$smarty.get.main}
			&worker={$smarty.get.module}
			&action=import
			&id_cat={$smarty.get.id_cat}" method="post" enctype="multipart/form-data" name="formMod">
			<input type="submit" name="import_news" value="Импортировать" style="width:150px">
			</form>
		</td>
	</tr>
</table>-->