{strip}

<table width="100%" border="0" cellpadding="1" cellspacing="1" class="form">
<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=order
	&id_cat={$smarty.get.id_cat}" method="post" enctype="multipart/form-data" name="formMod">
      
	<!-- Заголовок таблицы данных -->
	<tr align="center" class="table_header">
      	<td width="3%" align="center" height="22px"></td>
        <td width="" align="left"><b>&nbsp;Название галереи</b></td>
        <td width="5%" align="center">
        	<a href="#" 
				onmouseover="return overlib('Количество дополнительных фотографий, для добавления/удаления фотографий нажмите на стрелочку', LEFT);" 
				onmouseout="return nd();" ><img src="images/b_comment.png" width="16" height="16" border="0"></a>
        </td>
        <td width="15%"><b>Дата создания</b></td>
        <td width="5%" align="center"><b>SORT</b></td>
        <td width="3%" align="center"><b>A</b></td>
	</tr>
	<!-- Заголовок таблицы данных -->
      
	<!-- Вывод списка -->
	{section name=j loop=$item_rubric}
		<tr style="background-color:#f2f2f2;">
			<td colspan="6" align="left" height="25"><b>&nbsp;{$item_rubric[j].title}</b></td>
		</tr>
		{section name=i loop=$item}
			{if $item_rubric[j].id eq $item[i].id_rubric}
			<tr style="background-color:#f8f8f8;">
				<td align="center" height="20px"><input type="checkbox" name="id[]" value="{$item[i].id}"></nobr></td>
				<td align="left">
					&nbsp;<a href="?main={$smarty.get.main}
								   &module={$smarty.get.module}
								   &action=edit
								   &id_cat={$smarty.get.id_cat}
								   &id={$item[i].id}">{$item[i].title}</a>
				</td>
				<td align="center" valign="middle">
					<a href="?main={$smarty.get.main}
								   &module={$smarty.get.module}
								   &action=foto
								   &id_cat={$smarty.get.id_cat}
								   &id={$item[i].id}">
					<img src="images/nav/next.gif" width="16" height="16" border="0">
					&nbsp;&nbsp;<b>[{$item[i].count_foto}]</b>
					</a>
				</td>
				<td align="center">{$item[i].date}</td>
				<td align="center">{$item[i].sort}</td>
				<td align="center"><img src="images/{$item[i].is_block}" width="14" height="14" border="0"></td>
				
			</tr>
			{/if}
		{/section}
	{/section}
	<!-- ------------ -->
</table>


<!-- Подключение футера -->
{include file="modules/galarey/table_footer.tpl"}
</form>
{/strip}