{strip}

<form action="
		?main={$smarty.get.main}
		&worker={$smarty.get.module}
		&id_foto={$smarty.get.id_foto}
		&id_cat={$smarty.get.id_cat}
	    &id={$smarty.get.id}
		&action=galarey_foto" method="post" enctype="multipart/form-data" name="form">


<div id="tabs" class="flora">
	<ul class="ui-tabs-nav">
		<li class="ui-tabs-selected"><a href="#tab-1"><span>Редактирование фото</span></a></li>
	</ul>
</div>

<div style="display: block;" class="ui-tabs-panel" id="tab-1">
<table width="100%" border="0" cellpadding="5" cellspacing="0" class="form_add">
	<tr>
		<td align="left" width="20%"><span style="color:red;">*</span>&nbsp;Выберите файл:</td>
		<td align="left" width="80%">
			<input type="file" name="img" style="width:100%" class="form_add">
		</td>
	</tr>
	
	<tr>
		<td align="left" ><span style="color:red;">*</span>&nbsp;Заголовок фотографии (TITLE):</td>
		<td align="left" >
			<input type="text" name="alt" style="width:100%" class="form_add" value="{$img_alt}">
		</td>
	</tr>
	
	<tr>
		<td align="left" colspan="2">
		{if $img_name neq ''}
			<img src="../images/uploads/news/{$smarty.get.id}/big/{$img_name}" border="1">
		{/if}
		</td>
	</tr>
	
	<tr>
	<td align="left" colspan="2">
		<input type="submit" name="foto_edit" value="Редактировать">
		<input type="hidden" name="img_name" value="{$img_name}">
	</td>
	</tr>
</table>
</div>

{/strip}