{strip}

<div align="right" style="color:gray;padding-bottom:2px;"></div>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="form_add"  bgcolor="#fafafa">
	<tr>
		<td height="25" >
			&nbsp;Найдено: [&nbsp;{$all_items}&nbsp;]&nbsp;
		</td>
		
		<td align="right">
		&nbsp;|&nbsp;
		{if $smarty.session.user_cpage eq '20'}
		<b>20</b>&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=20">20</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '50'}
		<b>50</b>&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=50">50</a>&nbsp;|&nbsp;
		{/if}
		
		{if $smarty.session.user_cpage eq '100'}
		<b>100</b>&nbsp;|&nbsp;
		{else}
		<a href="?main={$smarty.get.main}&module={$smarty.get.module}&action={$smarty.get.action}&id_cat={$smarty.get.id_cat}&cpage=100">100</a>&nbsp;|&nbsp;
		{/if}
		</td>
	</tr>
</table>

{/strip}


<!--<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td align="left" valign="bottom">
			<form action="
			?main={$smarty.get.main}
			&worker={$smarty.get.module}
			&action=import
			&id_cat={$smarty.get.id_cat}" method="post" enctype="multipart/form-data" name="formMod">
			
			<input type="text" name="j_cat" value="" style="width:50px">&nbsp;
			<input type="submit" name="import_news" value="Импортировать в раздел" style="width:150px">
			</form>
		</td>
	</tr>
</table>-->