{strip}

<!-- Подключение хидера -->
{include file="modules/news/table_header.tpl"}

<table width="100%" border="0" cellpadding="1" cellspacing="1" class="form">

<form action="?main={$smarty.get.main}&module={$smarty.get.module}&action=mod&id_cat={$smarty.get.id_cat}" 
method="post" 
enctype="multipart/form-data" 
name="formSearche">

	<!-- Заголовок таблицы данных -->
	<tr align="center" class="table_header">
		<td width="3%" align="center" height="22"></td>
      	
		<td width="3%"><div align="center"><b>N</b></div></td>
		<td width="" align="left">
		&nbsp;<input type="text" name="find_text" value="{$find_text}" style="width:200px;background-color: gray;color:#fff;">&nbsp;
			<input type="submit" title="Найти" name="find_go" value="&raquo;&raquo;&raquo;" style="width:30px;background-color: gray;color:#fff;"
			onmouseover="ddrivetip('Поиск записи по заголовку')" onmouseout="hideddrivetip()">
			</form>
		
		</td>
		<td width="5%" align="center"><b>FOTO</b></td>
		<td width="5%" align="center"><b>SORT</b></td>
		<td width="3%" align="center"><b>A</b></td>
		<td width="15%"><b>Дата создания</b></td>
	</tr>
	<!-- Заголовок таблицы данных -->
      
	<form action="
	?main={$smarty.get.main}
	&worker={$smarty.get.module}
	&action=order
	&id_cat={$smarty.get.id_cat}" method="post" enctype="multipart/form-data" name="formMod">
	
	<!-- Вывод списка -->
	{section name=i loop=$item}
	<tr style="background-color:{$item[i].bgcolor};">
		
		<td align="center" height="25px"><input type="checkbox" name="id[]" value="{$item[i].id}"></nobr></td>
		<td align="center">{$item[i].n}.</td>
		<td align="left">
			&nbsp;<a href="?main={$smarty.get.main}
						   &module={$smarty.get.module}
						   &action=edit
						   &id_cat={$smarty.get.id_cat}
						   &id={$item[i].id}"
						   >
			{$item[i].title}</a>
		</td>
		
		<td align="center" valign="middle">
				<a href="?main={$smarty.get.main}
							   &module={$smarty.get.module}
							   &id_cat={$smarty.get.id_cat}
							   &action=galarey_foto
							   &id={$item[i].id}">
				<img src="images/nav/next.gif" width="16" height="16" border="0"
				onmouseover="return overlib('галерея', LEFT);" 
				onmouseout="return nd();"
				>
				</a>
		</td>

		<td align="center">{$item[i].sort}</td>
		<td align="center"><img src="images/{$item[i].is_block}" width="14" height="14" border="0"></td>
		<td align="center">{$item[i].date}</td>
	</tr>
	{/section}
	<!-- ------------ -->
</table>

<!-- Подключение футера -->
{include file="table_footer.tpl"}
</form>

<!-- Подключение пагиса -->
{include file='pages.tpl'}
{/strip}