149
a:4:{s:8:"template";a:2:{s:9:"index.tpl";b:1;s:8:"menu.tpl";b:1;}s:9:"timestamp";i:1414499868;s:7:"expires";i:1414503468;s:13:"cache_serials";a:0:{}}
<html>
<head>
<title>Панель администратора</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<script language="javascript" type="text/javascript" src="js/func.js"></script>
<script language="javascript" type="text/javascript" src="tiny_mce/plugins/filemanager/js/mcfilemanager.js"></script>
<script language="javascript" type="text/javascript" src="/js/tooltip/tooltip.js"></script>

<script language="javascript" type="text/javascript" src="/js/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://dadata.ru/static/js/suggestions-jquery-4.1.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/thickbox.js"></script>
<script language="javascript" type="text/javascript" src="/js/jquery/ui/ui.core.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/jquery/ui/ui.tabs.min.js"></script>
<script language="javascript" type="text/javascript" src="js/flexigrid/flexigrid.js"></script>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<link rel="stylesheet" href="/js/arcticmodal/jquery.arcticmodal-0.3.css" type="text/css" media="screen" />
<script src="/js/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
<!--<script language="javascript" type="text/javascript" src="js/ui/ui.accordion.js"></script>-->
    <!-- kladr-->
    <script type="text/javascript" src="/templates/js/dadata.js"></script>
    <script type="text/javascript" src="/templates/js/suggest_admin.js"></script>
    <link href="/templates/css/suggestions.css" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="/js/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/js/bootstrap/datepicker/datepicker.css"/>
    <script src="/js/bootstrap/bootstrap.js"></script>
    <script src="/js/bootstrap/datepicker/bootstrap-datepicker.js"></script>
    <script src="/templates/js/jquery.maskedinput-1.2.2.js"></script>
    <script src="/js/admin/filter/filter.js"></script>
    <link rel="stylesheet" href="/js/admin/filter/filter.css"/>

    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/tabs/style.css">
    <link rel="stylesheet" type="text/css" href="css/flexigrid/flexigrid.css">
    <link rel="stylesheet" type="text/css" href="css/thickbox/thickbox.css">
    <link href="https://dadata.ru/static/css/suggestions.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript">
$(document).ready(function(){
	$("#tabs > ul").tabs();
	$(".actions_hover").hover(
	function () {
		$('#actions_header').show();
		$('#actions_header').append($(this).attr('title'));
	},
	function () {
		$('#actions_header').empty();
		$('#actions_header').hide();
	}
	);
});
</script>

</head>

<body>


<table width="100%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0"><!-- HEADER --><tr><td height="50" bgcolor="#789cac"><table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td width="245" align="center" class="company">--= PARFUMOFF =--</td><td align="right"><table width="100%" height="51" border="0" cellpadding="0" cellspacing="0"><tr><td align="right" valign="bottom" class="host_header">www.parfumoff.ru</td></tr><tr><td align="right" valign="top" class="user_header"><small>&nbsp;|&nbsp;truth4oll&nbsp;|</small></td></tr></table></td><td width="60" align="center" class="exit" ><a href="?index.php&other=exit" style="color:#e5f2f4;">[EXIT]</a></td></tr></table></td></tr><!-- CONTENT --><tr><td valign="top" bgcolor="#FFFFFF"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" ><td width="245" valign="top" bgcolor="#f9f9f9"><div class="drawers-wrapper">
    	
	<ul class="drawers">
	<li class="drawer">
		<h2 class="drawer-handle content">КОНТЕНТ САЙТА</h2>
		<ul>
												<li class="item_menu sub"><img src="images/header/arrow.gif" width="3" height="5">
						Верхнее меню
					</li>
				
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=news&action=mod&id_cat=84">Must Have</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=text&action=mod&id_cat=93">Phone</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=news&action=mod&id_cat=87">Акции</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=text&action=mod&id_cat=95">Договор оферты</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=text&action=mod&id_cat=86">Доставка</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=text&action=mod&id_cat=91">Как купить ?</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=text&action=mod&id_cat=99">Качество и гарантии</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=text&action=mod&id_cat=85">Контакты</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=news&action=mod&id_cat=89">Новости</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=text&action=mod&id_cat=94">О магазине</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=text&action=mod&id_cat=98">Оплата</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=text&action=mod&id_cat=92">Подарки к 8 марта!</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=text&action=mod&id_cat=100">Скидки</a>
					</li>
																<li class="item_menu sub"><img src="images/header/arrow.gif" width="3" height="5">
						Каталоги
					</li>
				
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=catalog_k&action=mod&id_cat=96">Косметика</a>
					</li>
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=catalog&action=mod&id_cat=82">Парфюмерия</a>
					</li>
																<li class="item_menu sub"><img src="images/header/arrow.gif" width="3" height="5">
						Статьи
					</li>
				
																					<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
										
					&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
					<a href="?main=content&module=news&action=mod&id_cat=101">Статьи</a>
					</li>
									</ul>
		
		<h2 class="drawer-handle banner">МАГАЗИН</h2>
		<ul>
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=mag&module=mag_orders&action=mod&status=1">Заказы</a>
			</li>
			

			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=mag&module=mag_orders_sklad&action=mod&status=2">Склад</a>
			</li>


			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=mag&module=mag_note&action=mod">Блокнот</a>
			</li>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=mag&module=mag_client&action=mod">Клиенты магазина</a>
			</li>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=mag&module=mag_comment&action=mod">Коментарии</a>
			</li>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=mag&module=mag_comment_ar&action=mod">Коментарии внутреннии</a>
			</li>
		
			<!--<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=mag&module=mag&action=mod&status=1">Заказы</a>
			</li>-->
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=mag&module=param&action=mod">Цены</a>
			</li>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=mag&module=sklad&action=mod">Склады</a>
			</li>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=mag&module=mag_market&action=mod">Ya Market</a>
			</li>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=mag&module=mag_subs&action=mod">Рассылка</a>
			</li>

            <li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">                &nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
                <a href="?main=mag&module=catalog_moder_k&action=mod">Модерация (косметика)</a>
            </li>

            <li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">                &nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
                <a href="?main=mag&module=catalog_moder&action=mod">Модерация (парфюмерия)</a>
            </li>

            <li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">                &nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
                <a href="?main=mag&module=catalog_moder_log&action=mod">Модерация отчет (парфюмерия)</a>
            </li>


			
		</ul>

        <h2 class="drawer-handle banner">Логистика</h2>
        <ul>
            <li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
                &nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
                <a href="?main=logistic&module=logistic&action=index">Управление логистикой</a>
            </li>
            <li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
                &nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
                <a href="?main=logistic&module=logistic&action=upload">Выгрузки/Загрузки</a>
            </li>
        </ul>
		
		<h2 class="drawer-handle banner">РЕКЛАМА</h2>
		<ul>
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=banner&module=banner&action=mod">Управление баннерами</a>
			</li>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=banner&module=banner_client&action=mod">Клиенты</a>
			</li>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=banner&module=banner_shablon&action=mod">Шаблоны</a>
			</li>
		</ul>
		
		<h2 class="drawer-handle utils">УТИЛИТЫ</h2>
		<ul>
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">
			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
			<a href="javascript:mcFileManager.open();">Файловый менеджер</a></li>		
		</ul>
		
		<h2 class="drawer-handle permitions">НАСТРОЙКИ</h2>
		<ul>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=permitions&module=cat&action=mod">Управление контентом</a>
			</li>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=permitions&module=users&action=mod">Пользователи админки</a>
			</li>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=permitions&module=capacity&action=mod">Должности</a>
			</li>
			
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=permitions&module=role&action=mod">Права доступа</a>
			</li>
			 
			<li class="item_menu" onmouseover="this.style.backgroundColor='#f2f5f9'" onmouseout="this.style.backgroundColor=''">			&nbsp;&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">
				<a href="?main=permitions&module=cache&action=mod">Кеш</a>
			</li>
		
		</ul>
	</li>
	</ul>
	
</div></td><td width="10"><img src="/images/default/1x1.gif" width="1" height="1" border="0"></td><td valign="top"><div class="text" ><br><table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" class="header1" >
<tr>
	<td width="35" style="padding-right:5px"><img src="images/header/news.png" width="60" height="60"></td>
	<td id="header1">Лист ожидания</td>
	<td align="right" width="200px" valign="bottom">
		
	</td>
</tr>
</table><table width="100%" height="2" border="0" cellspacing="0" cellpadding="0" >
<tr>
	<td width="50%" class="header_nav_l"><img src="/images/1x1.gif" width="1" height="1" border="0"></td>
	<td width="50%" class="header_nav_r"><img src="/images/1x1.gif" width="1" height="1" border="0"></td>
</tr>
</table>

<table width="100%" height="18" border="0" align="center" cellspacing="0" cellpadding="0" class="header_nav">
<tr>
	<td width="20" valign="top" style="padding-bottom:1px;"><img src="images/header/home.gif" width="12" height="12"></td>
	<td><a href='index.php'>Главная</a>&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">&nbsp;&nbsp;<a href='?main=content'>Контент</a>&nbsp;&nbsp;<img src="images/header/arrow.gif" width="3" height="5">&nbsp;&nbsp;<a href='?main=mag&module=mag_waitlist&action=mod'>Лист ожидания</a></td>
	<td width="300" align="right"><div id="actions_header"></div></td>
</tr>
</table><table width="100%" border="0" cellpadding="1" cellspacing="1" class="form"><form action="?main=content&worker=mag_waitlist&action=order" method="post" enctype="multipart/form-data" name="formMod"><!-- Заголовок таблицы данных --><tr align="center" class="table_header"><td width="3%" align="center" height="22"></td><td width="3%"><div align="center"><b> Сотрудник </b></div></td><td width="10%"><div align="center"><b>Действие</b></div></td><td>Исх.данные</td><td>Результат</td><td width="" align="left"><b>&nbsp;Артикул</b></td><td width="" align="left"><b>&nbsp;Склад</b></td><td width="" align="left"><b>&nbsp;Артикул склада</b></td><td width="" align="left"><b>&nbsp;Цена в прайсе</b></td><td width="" align="left"><b>&nbsp;Тип+объем</b></td><td width="" align="left"><b>&nbsp;Аромат</b></td><td width="" align="left"><b>&nbsp;</b></td><td width="" align="left"><b>&nbsp;</b></td><td width="13%" align="left"><b>&nbsp;Время обновления</b></td></tr><!-- Заголовок таблицы данных --><tr><td colspan="3"><h3>Товаров на модерацию не найдено.</h3></td></tr><!-- ------------ --></table><!-- Подключение футера --><table width="100%" border="0" cellpadding="3" cellspacing="0" bgcolor="#fafafa"><tr><td align="left" height=""><select name="actions"><option value='null'>-- Действия --</option></select>&nbsp;<input type="submit" name="Submit" value="Применить"></td><td align="right" height=""></td></tr></table></form>
</div><br></td><td width="10"><img src="/images/default/1x1.gif" width="1" height="1" border="0"></td></tr></table></td></tr><!-- FOOTER --><tr><td height="10" bgcolor="#789cac"></td></tr></table></body></html>